interactions:
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://data.alpaca.markets/v2/stocks/bars?start=2021-12-10T19%3A52%3A15.211597%2B00%3A00&end=2023-12-10T18%3A37%3A15.213664%2B00%3A00&timeframe=1Day&adjustment=all&symbols=AAPL%2CAMZN%2CGOOGL%2CMETA%2CNFLX
  response:
    body:
      string: '{"bars":{"AAPL":[{"c":173.52,"h":179.83,"l":173.31,"n":1148453,"o":178.82,"t":"2021-12-13T05:00:00Z","v":163487839,"vw":176.2},{"c":172.13,"h":175.49,"l":170.03,"n":985608,"o":173.03,"t":"2021-12-14T05:00:00Z","v":152677047,"vw":172.19},{"c":177.03,"h":177.23,"l":170.13,"n":937057,"o":172.9,"t":"2021-12-15T05:00:00Z","v":140881038,"vw":174.05},{"c":170.08,"h":178.85,"l":168.59,"n":1202740,"o":177.01,"t":"2021-12-16T05:00:00Z","v":160390140,"vw":172.11},{"c":168.98,"h":171.28,"l":167.54,"n":993776,"o":167.78,"t":"2021-12-17T05:00:00Z","v":251869214,"vw":169.02},{"c":167.6,"h":168.42,"l":165.34,"n":816122,"o":166.1[...]
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://data.alpaca.markets/v2/stocks/bars?start=2021-12-10T19%3A52%3A15.211597%2B00%3A00&end=2023-12-10T18%3A37%3A15.213664%2B00%3A00&timeframe=1Day&adjustment=all&symbols=AAPL%2CAMZN%2CGOOGL%2CMETA%2CNFLX&page_token=QU1aTnxEfDE3MDE4Mzg4MDAwMDAwMDAwMDA%3D
  response:
    body:
      string: '{"bars":{"GOOGL":[{"c":145.83,"h":147.97,"l":145.52,"n":91225,"o":147.78,"t":"2021-12-13T05:00:00Z","v":31110740,"vw":146.18},{"c":143.91,"h":144.48,"l":141.21,"n":129112,"o":143.97,"t":"2021-12-14T05:00:00Z","v":44200420,"vw":143.11},{"c":146.44,"h":146.72,"l":141.68,"n":123159,"o":143.41,"t":"2021-12-15T05:00:00Z","v":40645000,"vw":144.38},{"c":144.45,"h":147.68,"l":143.61,"n":113934,"o":147.17,"t":"2021-12-16T05:00:00Z","v":37442900,"vw":145.13},{"c":141.73,"h":143.83,"l":141.3,"n":120435,"o":142.5,"t":"2021-[...]
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://data.alpaca.markets/v2/stocks/bars?start=2021-12-10T19%3A52%3A15.211597%2B00%3A00&end=2023-12-10T18%3A37%3A15.213664%2B00%3A00&timeframe=1Day&adjustment=all&symbols=AAPL%2CAMZN%2CGOOGL%2CMETA%2CNFLX&page_token=TUVUQXxEfDE3MDE2NjYwMDAwMDAwMDAwMDA%3D
  response:
    body:
      string: '{"bars":{"META":[{"c":318.29,"h":321.88,"l":315.39,"n":232688,"o":318.98,"t":"2023-12-05T05:00:00Z","v":16954525,"vw":318.231453},{"c":317.45,"h":322.25,"l":317.04,"n":172231,"o":321.93,"t":"2023-12-06T05:00:00Z","v":11294967,"vw":319.087092},{"c":326.59,"h":328.24,"l":317.77,"n":227905,"o":317.77,"t":"2023-12-07T05:00:00Z","v":15909235,"vw":325.322893},{"c":332.75,"h":333.17,"l":323,"n":186291,"o":323.09,"t":"2023-12-08T05:00:00Z","v":14084037,"vw":330.656999}],"NFLX":[{"c":604.56,"h":612.64,"l":599.52,"n":81689,"o":612,"t":"2021-12-13T05:00:00Z","v":2914862,"vw":604.573711},{"c":597.99,"h":602.29,"l":588.13,"n":91192,"o":598.71,"t":"2021-12-14T05:00:00Z","v":3364045,"vw":595.165942},{"c":605.04,"h":605.69,"l":584.51,"n":93825,"o":598.18,"t":"2021-12-15T05:00:00Z","v":3209098,"vw":596.948853},{"c":591.06,"h":602.8308,"l":588,"n":96691,"o":597.09,"t":"2021-12-16T05:00:00Z","v":3505495,"vw":593.710833},{"c":586.73,"h":593.25,"l":581.74,"n":92780,"o":591.61,"t":[...]
