interactions:
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://paper-api.alpaca.markets/v2/assets/AAPL
  response:
    body:
      string: '{"id":"b0b6dd9d-8b9b-48a9-ba46-b9d54906e415","class":"us_equity","exchange":"NASDAQ","symbol":"AAPL","name":"Apple
        Inc. Common Stock","status":"active","tradable":true,"marginable":true,"maintenance_margin_requirement":30,"shortable":true,"easy_to_borrow":true,"fractionable":true,"attributes":[]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '200'
      X-Ratelimit-Remaining:
      - '199'
      X-Ratelimit-Reset:
      - '1689346904'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.finnhub.io/api/v1//stock/profile2?token=ceifakaad3i3rvm4evkgceifakaad3i3rvm4evl0&symbol=AAPL
  response:
    body:
      string: '{"country":"US","currency":"USD","estimateCurrency":"USD","exchange":"NASDAQ
        NMS - GLOBAL MARKET","finnhubIndustry":"Technology","ipo":"1980-12-12","logo":"https://static2.finnhub.io/file/publicdatany/finnhubimage/stock_logo/AAPL.svg","marketCapitalization":2998676.9589383644,"name":"Apple
        Inc","phone":"14089961010.0","shareOutstanding":15728.7,"ticker":"AAPL","weburl":"https://www.apple.com/"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '45'
      X-Ratelimit-Reset:
      - '1689346949'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v10/finance/quoteSummary/AAPL?modules=assetProfile&formatted=false&lang=en-US&region=US&corsDomain=finance.yahoo.com
  response:
    body:
      string: '{"finance":{"result":null,"error":{"code":"Unauthorized","description":"Invalid
        Cookie"}}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-yahoo-request-id:
      - 01vf62tib2oqo
      y-rid:
      - 01vf62tib2oqo
    status:
      code: 401
      message: Unauthorized
- request:
    body: null
    headers:
      Authorization:
      - Basic Q0tUV01ONE9RUFpTMDdONVpCMVY6ZW5rYXZKc05GUFU1U3JwWFVLM1QwRWdOaU5Ta0xYR1dqbmRuZUVXZw==
    method: GET
    uri: https://data.sandbox.alpaca.markets/v1beta1/news?symbols=AAPL&limit=3&include_content=True&exclude_contentless=True
  response:
    body:
      string: "{\"news\":[{\"author\":\"Rounak Jain\",\"content\":\"\\u003cp\\u003e\\u003cstrong\\u003eApple
        Inc. (NASDAQ:\\u003ca class=\\\"ticker\\\" href=\\\"https://www.benzinga.com/stock/AAPL#NASDAQ\\\"\\u003eAAPL\\u003c/a\\u003e)\\u003c/strong\\u003e
        has so far resisted the temptation of jumping into the foldable phones segment
        but it looks like we could one day see rollable iPhones from the company.\\u003c/p\\u003e\\n\\n\\n\\n\\u003cp\\u003e\\u003cstrong\\u003eWhat
        Happened:\\u003c/strong\\u003e Apple has filed a \\u003ca href=\\\"https://image-ppubs.uspto.gov/dirsearch-public/print/downloadPdf/20230221766\\\"\\u003epatent\\u003c/a\\u003e
        for a rollable iPhone with the US Patent and Trademark Office (USPTO). The
        patent filing shows that the iPhone could be rolled up \u2013 quite literally
        like an ancient scroll and manuscript.\\u003c/p\\u003e\\n\\n\\n\\n\\u003cp\\u003e\\u003cem\\u003eSee
        Also: \\u003c/em\\u003e\\u003ca href=\\\"https://www.benzinga.com/news/23/07/33128925/googles-pixel-fold-fails-jerryrigeverythings-durability-test-with-a-heartbreaking-crack\\\"\\u003e\\u003cem\\u003eGoogle\\u0026#8217;s
        Pixel Fold Fails JerryRigEverything\\u0026#8217;s Durability Test With A Heartbreaking
        Crack\\u003c/em\\u003e\\u003c/a\\u003e\\u003c/p\\u003e\\n\\n\\n\\n\\u003cp\\u003eWhile
        foldable phones are a reality and Apple's rivals \u2013 including \\u003cstrong\\u003e[...]
