interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/ws/fundamentals-timeseries/v1/finance/timeseries/AAPL?type=quarterlyTotalRevenue%2CquarterlyCostOfRevenue%2CquarterlyGrossProfit%2CquarterlyOperatingExpense%2CquarterlyOperatingIncome%2CquarterlyNetIncome%2CquarterlyEBIT%2CquarterlyNormalizedEBITDA%2CquarterlyFreeCashFlow%2CquarterlyOperatingCashFlow%2CquarterlyInvestingCashFlow%2CquarterlyFinancingCashFlow%2CquarterlyTotalAssets%2CquarterlyTotalLiabilitiesNetMinorityInterest%2CquarterlyTotalDebt%2CquarterlyWorkingCapital&period1=493590046&period2=1702234321&merge=false&padTimeSeries=false&lang=en-US&region=US&corsDomain=finance.yahoo.com
  response:
    body:
      string: '{"timeseries":{"result":[{"meta":{"symbol":["AAPL"],"type":["quarterlyFreeCashFlow"]},"timestamp":[1664496000,1672444800,1680220800,1688083200,1696032000],"quarterlyFreeCashFlow":[{"dataId":26185,"asOfDate":"2022-09-30","periodType":"3M","currencyCode":"USD","reportedValue":{"raw":2.0838E10,"fmt":"20.84B"}},{"dataId":26185,"asOfDate":"2022-12-31","periodType":"3M","currencyCode":"USD","reportedValue":{"raw":3.0218E10,"fmt":"30.22B"}},{"dataId":26185,"asOfDate":"2023-03-31","periodType":"3M","currencyCode":"USD","reportedValue":{"raw":2.5644E10,"fmt":"25.64B"}},{"dataId":26185,"asOfDate":"2023-06-30","periodType":"3M","currencyCode":"USD","reportedValue":{"raw":2.4287E10,"fmt":"24.29B"}},{"dataId":26185,"asOfDate":"2023-09-30","periodType":"3M","currencyCode":"USD","reportedValue":{"raw":1.9435E10,"fmt":"19.43B"}}]},{"meta":{"symbol":["AAPL"],"type":["quarterlyInvestingCashFlow"]},"timestamp":[1664496000,1672444800,1680220800,1688083200,1696032000],"quarterlyInvestingCashFlow":[{"dataId":26013,"asOfDate":"2022-09-30","periodType":"3M","currencyCode":"USD","reportedValue":{"raw":-1.217E9,"fmt":"-1.22B"}},{"dataId":26013,"asOfDate":"2022-12-31","periodType":"3M","currencyCode":"USD","reportedValue":{"raw":-1.445E9,"fmt":"-1.45B"}},{"dataId":26013,"asOfDate":"2023-03-31","periodType":"3M","currencyCode":"USD","reportedValue":{"raw":2.319E9,"fmt":"2.32B"}},{"dataId":26013,"asOfDate":"2023-06-30","periodType":"3M","currencyCode":"USD","reportedValue":{"raw":4.37E8,"fmt":"437.00M"}},{"dataId":26013,"asOfDate":"2023-09-30","periodType":"3M","currencyCode":"USD","reportedValue":{"raw":2.394E9,"fmt":"2.39B"}}]},{"meta":{"symbol":["AAPL"],"type":["quarterlyTotalAssets"]},"timestamp":[1664496000,1672444800,1680220800,1688083200,1696032000],"quarterlyTotalAssets":[{"dataId":23220,"asOfDate":"2022-09-30","periodType":"3M","currencyCode":"USD","reportedValue":{"raw":3.52755E11,"fmt":"352.75B"}},{"dataId":23220,"asOfDate":"2022-12-31","periodType":"3M","currencyCode":"USD","reportedValue":{"raw":3.46747E11,"fmt":"346.75B"}},{"dataId":23220,"asOfDate":"2023-03-31","periodType":"3M","currencyCode":"USD","reportedValue":{"raw":3.3216E11,"fmt":"332.16B"}},{"dataId":23220,"asOfDate":"2023-06-30","periodType":"3M","currencyCode":"USD","reportedValue":{"raw":3.35038E11,"fmt":"335.04B"}},{"dataId":23220,"asOfDate":"2023-09-30","periodType":"3M","currencyCode":"USD","reportedValue":{"raw":3.52583E11,"fmt":"352.58B"}}]},{"meta":{"symbol":["AAPL"],"type":["quarterlyGrossProfit"]},"timestamp":[1664496000,1672444800,1680220800,1688083200,1696032000],"quarterlyGrossProfit":[{"dataId":20046,"asOfDate":"2022-09-30","periodType":"3M","currencyCode":"USD","reportedValue":{"raw":3.8095E10,"fmt":"38.09B"}},{"dataId":20046,"asOfDate":"2022-12-31","periodType":"3M","currencyCode":"USD","reportedValue":{"raw":5.0332E10,"fmt":"50.33B"}},{"dataId":20046,"asOfDate":"2023-03-31","periodType":"3M","currencyCode":"USD","reportedValue":{"raw":4.1976E10,"fmt":"41.98B"}},{"dataId":20046,"asOfDate":"2023-06-30","periodType":"3M","currencyCode":"USD","reportedValue":{"raw":3.6413E10,"fmt":"36.41B"}},{"dataId":20046,"asOfDate":"2023-09-30","periodType":"3M","currencyCode":"USD","reportedValue":{"raw":4.0427E10,"fmt":"40.43B"}}]},{"meta":{"symbol":["AAPL"],"type":["quarterlyOperatingCashFlow"]},"timestamp":[1664496000,1672444800,1680220800,1688083200,1696032000],"quarterlyOperatingCashFlow":[{"dataId":26014,"asOfDate":"2022-09-30","periodType":"3M","currencyCode":"USD","reportedValue":{"raw":2.4127E10,"fmt":"24.13B"}},{"dataId":26014,"asOfDate":"2022-12-31","periodType":"3M","currencyCode":"USD","reportedValue":{"raw":3.4005E10,"fmt":"34.01B"}},{"dataId":26014,"asOfDate":"2023-03-31","periodType":"3M","currencyCode":"USD","reportedValue":{"raw":2.856E10,"fmt":"28.56B"}},{"dataId":26014,"asOfDate":"2023-06-30","periodType":"3M","currencyCode":"USD","reportedValue":{"raw":2.638E10,"fmt":"26.38B"}},{"dataId":26014,"asOfDate":"2023-09-30","periodType":"3M","currencyCode":"USD","reportedValue":{"raw":2.1598E10,"fmt":"21.60B"}}]},{"meta":{"symbol":["AAPL"],"type":["quarterlyWorkingCapital"]},"timestamp":[1664496000,1672444800,1680220800,1688083200,1696032000],"quarterlyWorkingCapital":[{"dataId":23385,"asOfDate":"2022-09-30","periodType":"3M","currencyCode":"USD","reportedValue":{"raw":-1.8577E10,"fmt":"-18.58B"}},{"dataId":23385,"asOfDate":"2022-12-31","periodType":"3M","currencyCode":"USD","reportedValue":{"raw":-8.509E9,"fmt":"-8.51B"}},{"dataId":23385,"asOfDate":"2023-03-31","periodType":"3M","currencyCode":"USD","reportedValue":{"raw":-7.162E9,"fmt":"-7.16B"}},{"dataId":23385,"asOfDate":"2023-06-30","periodType":"3M","currencyCode":"USD","reportedValue":{"raw":-2.304E9,"fmt":"-2.30B"}},{"dataId":23385,"asOfDate":"2023-09-30","periodType":"3M","currencyCode":"USD","reportedValue":{"raw":-1.742E9,"fmt":"-1.74B"}}]},{"meta":{"symbol":["AAPL"],"type":["quarterlyNetIncome"]},"timestamp":[1664496000,1672444800,1680220800,1688083200,1696032000],"quarterlyNetIncome":[{"dataId":20091,"asOfDate":"2022-09-30","periodType":"3M","currencyCode":"USD","reportedValue":{"raw":2.0721E10,"fmt":"20.72B"}},{"dataId":20091,"asOfDate":"2022-12-31","periodType":"3M","currencyCode":"USD","reportedValue":{"raw":2.9998E10,"fmt":"30.00B"}},{"dataId":20091,"asOfDate":"2023-03-31","periodType":"3M","currencyCode":"USD","reportedValue":{"raw":2.416E10,"fmt":"24.16B"}},{"dataId":20091,"asOfDate":"2023-06-30","periodType":"3M","currencyCode":"USD","reportedValue":{"raw":1.9881E10,"fmt":"19.88B"}},{"dataId":20091,"asOfDate":"2023-09-30","periodType":"3M","currencyCode":"USD","reportedValue":{"raw":2.2956E10,"fmt":"22.96B"}}]},{"meta":{"symbol":["AAPL"],"type":["quarterlyOperatingExpense"]},"timestamp":[1664496000,1672444800,1680220800,1688083200,1696032000],"quarterlyOperatingExpense":[{"dataId":20108,"asOfDate":"2022-09-30","periodType":"3M","currencyCode":"USD","reportedValue":{"raw":1.3201E10,"fmt":"13.20B"}},{"dataId":20108,"asOfDate":"2022-12-31","periodType":"3M","currencyCode":"USD","reportedValue":{"raw":1.4316E10,"fmt":"14.32B"}},{"dataId":20108,"asOfDate":"2023-03-31","periodType":"3M","currencyCode":"USD","reportedValue":{"raw":1.3658E10,"fmt":"13.66B"}},{"dataId":20108,"asOfDate":"2023-06-30","periodType":"3M","currencyCode":"USD","reportedValue":{"raw":1.3415E10,"fmt":"13.41B"}},{"dataId":20108,"asOfDate":"2023-09-30","periodType":"3M","currencyCode":"USD","reportedValue":{"raw":1.3458E10,"fmt":"13.46B"}}]},{"meta":{"symbol":["AAPL"],"type":["quarterlyTotalDebt"]},"timestamp":[1664496000,1672444800,1680220800,1688083200,1696032000],"quarterlyTotalDebt":[{"dataId":23386,"asOfDate":"2022-09-30","periodType":"3M","currencyCode":"USD","reportedValue":{"raw":1.20069E11,"fmt":"120.07B"}},{"dataId":23386,"asOfDate":"2022-12-31","periodType":"3M","currencyCode":"USD","reportedValue":{"raw":1.1111E11,"fmt":"111.11B"}},{"dataId":23386,"asOfDate":"2023-03-31","periodType":"3M","currencyCode":"USD","reportedValue":{"raw":1.09615E11,"fmt":"109.61B"}},{"dataId":23386,"asOfDate":"2023-06-30","periodType":"3M","currencyCode":"USD","reportedValue":{"raw":1.0928E11,"fmt":"109.28B"}},{"dataId":23386,"asOfDate":"2023-09-30","periodType":"3M","currencyCode":"USD","reportedValue":{"raw":1.11088E11,"fmt":"111.09B"}}]},{"meta":{"symbol":["AAPL"],"type":["quarterlyEBIT"]},"timestamp":[1664496000,1672444800,1680220800,1688083200,1696032000],"quarterlyEBIT":[{"dataId":20189,"asOfDate":"2022-09-30","periodType":"3M","currencyCode":"USD","reportedValue":{"raw":2.4894E10,"fmt":"24.89B"}},{"dataId":20189,"asOfDate":"2022-12-31","periodType":"3M","currencyCode":"USD","reportedValue":{"raw":3.6016E10,"fmt":"36.02B"}},{"dataId":20189,"asOfDate":"2023-03-31","periodType":"3M","currencyCode":"USD","reportedValue":{"raw":2.8318E10,"fmt":"28.32B"}},{"dataId":20189,"asOfDate":"2023-06-30","periodType":"3M","currencyCode":"USD","reportedValue":{"raw":2.2998E10,"fmt":"23.00B"}},{"dataId":20189,"asOfDate":"2023-09-30","periodType":"3M","currencyCode":"USD","reportedValue":{"raw":2.6969E10,"fmt":"26.97B"}}]},{"meta":{"symbol":["AAPL"],"type":["quarterlyTotalRevenue"]},"timestamp":[1664496000,1672444800,1680220800,1688083200,1696032000],"quarterlyTotalRevenue":[{"dataId":20100,"asOfDate":"2022-09-30","periodType":"3M","currencyCode":"USD","reportedValue":{"raw":9.0146E10,"fmt":"90.15B"}},{"dataId":20100,"asOfDate":"2022-12-31","periodType":"3M","currencyCode":"USD","reportedValue":{"raw":1.17154E11,"fmt":"117.15B"}},{"dataId":20100,"asOfDate":"2023-03-31","periodType":"3M","currencyCode":"USD","reportedValue":{"raw":9.4836E10,"fmt":"94.84B"}},{"dataId":20100,"asOfDate":"2023-06-30","periodType":"3M","currencyCode":"USD","reportedValue":{"raw":8.1797E10,"fmt":"81.80B"}},{"dataId":20100,"asOfDate":"2023-09-30","periodType":"3M","currencyCode":"USD","reportedValue":{"raw":8.9498E10,"fmt":"89.50B"}}]},{"meta":{"symbol":["AAPL"],"type":["quarterlyOperatingIncome"]},"timestamp":[1664496000,1672444800,1680220800,1688083200,1696032000],"quarterlyOperatingIncome":[{"dataId":20109,"asOfDate":"2022-09-30","periodType":"3M","currencyCode":"USD","reportedValue":{"raw":2.4894E10,"fmt":"24.89B"}},{"dataId":20109,"asOfDate":"2022-12-31","periodType":"3M","currencyCode":"USD","reportedValue":{"raw":3.6016E10,"fmt":"36.02B"}},{"dataId":20109,"asOfDate":"2023-03-31","periodType":"3M","currencyCode":"USD","reportedValue":{"raw":2.8318E10,"fmt":"28.32B"}},{"dataId":20109,"asOfDate":"2023-06-30","periodType":"3M","currencyCode":"USD","reportedValue":{"raw":2.2998E10,"fmt":"23.00B"}},{"dataId":20109,"asOfDate":"2023-09-30","periodType":"3M","currencyCode":"USD","reportedValue":{"raw":2.6969E10,"fmt":"26.97B"}}]},{"meta":{"symbol":["AAPL"],"type":["quarterlyFinancingCashFlow"]},"timestamp":[1664496000,1672444800,1680220800,1688083200,1696032000],"quarterlyFinancingCashFlow":[{"dataId":26012,"asOfDate":"2022-09-30","periodType":"3M","currencyCode":"USD","reportedValue":{"raw":-2.6794E10,"fmt":"-26.79B"}},{"dataId":26012,"asOfDate":"2022-12-31","periodType":"3M","currencyCode":"USD","reportedValue":{"raw":-3.5563E10,"fmt":"-35.56B"}},{"dataId":26012,"asOfDate":"2023-03-31","periodType":"3M","currencyCode":"USD","reportedValue":{"raw":-2.5724E10,"fmt":"-25.72B"}},{"dataId":26012,"asOfDate":"2023-06-30","periodType":"3M","currencyCode":"USD","reportedValue":{"raw":-2.4048E10,"fmt":"-24.05B"}},{"dataId":26012,"asOfDate":"2023-09-30","periodType":"3M","currencyCode":"USD","reportedValue":{"raw":-2.3153E10,"fmt":"-23.15B"}}]},{"meta":{"symbol":["AAPL"],"type":["quarterlyNormalizedEBITDA"]},"timestamp":[1664496000,1672444800,1680220800,1688083200,1696032000],"quarterlyNormalizedEBITDA":[{"dataId":20420,"asOfDate":"2022-09-30","periodType":"3M","currencyCode":"USD","reportedValue":{"raw":2.7759E10,"fmt":"27.76B"}},{"dataId":20420,"asOfDate":"2022-12-31","periodType":"3M","currencyCode":"USD","reportedValue":{"raw":3.8932E10,"fmt":"38.93B"}},{"dataId":20420,"asOfDate":"2023-03-31","periodType":"3M","currencyCode":"USD","reportedValue":{"raw":3.1216E10,"fmt":"31.22B"}},{"dataId":20420,"asOfDate":"2023-06-30","periodType":"3M","currencyCode":"USD","reportedValue":{"raw":2.605E10,"fmt":"26.05B"}},{"dataId":20420,"asOfDate":"2023-09-30","periodType":"3M","currencyCode":"USD","reportedValue":{"raw":2.9622E10,"fmt":"29.62B"}}]},{"meta":{"symbol":["AAPL"],"type":["quarterlyCostOfRevenue"]},"timestamp":[1664496000,1672444800,1680220800,1688083200,1696032000],"quarterlyCostOfRevenue":[{"dataId":20013,"asOfDate":"2022-09-30","periodType":"3M","currencyCode":"USD","reportedValue":{"raw":5.2051E10,"fmt":"52.05B"}},{"dataId":20013,"asOfDate":"2022-12-31","periodType":"3M","currencyCode":"USD","reportedValue":{"raw":6.6822E10,"fmt":"66.82B"}},{"dataId":20013,"asOfDate":"2023-03-31","periodType":"3M","currencyCode":"USD","reportedValue":{"raw":5.286E10,"fmt":"52.86B"}},{"dataId":20013,"asOfDate":"2023-06-30","periodType":"3M","currencyCode":"USD","reportedValue":{"raw":4.5384E10,"[...]
