interactions:
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://paper-api.alpaca.markets/v2/account
  response:
    body:
      string: '{"id":"bcd9f34c-ad36-495d-94bc-2ce064aa3b8b","admin_configurations":{},"user_configurations":{"dtbp_check":"both","fractional_trading":true,"max_margin_multiplier":"1","no_shorting":true,"pdt_check":"both","trade_confirm_email":"all"},"account_number":"PA3CRSDQ9PTF","status":"ACTIVE","crypto_status":"ACTIVE","currency":"USD","buying_power":"87640.7","regt_buying_power":"87640.7","daytrading_buying_power":"0","effective_buying_power":"87640.7","non_marginable_buying_power":"87640.7","bod_dtbp":"0","cash":"87836.48","accrued_fees":"0","pending_transfer_in":"0","portfolio_value":"101172.37","pattern_day_trader":false,"trading_blocked":false,"transfers_blocked":false,"account_blocked":false,"created_at":"2022-10-01T12:12:15.765676Z","trade_suspended_by_user":false,"multiplier":"1","shorting_enabled":false,"equity":"101172.37","last_equity":"101341.403450965478088","long_market_value":"13335.89","short_market_value":"0","position_market_value":"13335.89","initial_margin":"13531.67","maintenance_margin":"4098.3","last_maintenance_margin":"4083.38","sma":"101106.68","daytrade_count":0,"balance_asof":"2023-12-08","crypto_tier":1}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '200'
      X-Ratelimit-Remaining:
      - '199'
      X-Ratelimit-Reset:
      - '1702234337'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://paper-api.alpaca.markets/v2/positions
  response:
    body:
      string: '[{"asset_id":"201b268b-cde8-4010-9fe3-41d2ac7f1e9c","symbol":"AMGN","exchange":"NASDAQ","asset_class":"us_equity","asset_marginable":true,"qty":"1.188037134","avg_entry_price":"266.14","side":"long","market_value":"319.72455350208","cost_basis":"316.184202843","unrealized_pl":"3.54035065908","unrealized_plpc":"0.0111971142999764","unrealized_intraday_pl":"0","unrealized_intraday_plpc":"0","current_price":"269.12","lastday_price":"269.12","change_today":"0","qty_available":"0"},{"asset_id":"49b90cdc-f6f5-4a7c-807a-ed172e6017af","symbol":"AXP","exchange":"NYSE","asset_class":"us_equity","asset_marginable":true,"qty":"2.336562485","avg_entry_price":"153.85","side":"long","market_value":"393.54721934855","cost_basis":"359.480138317","unrealized_pl":"34.06708103155","unrealized_plpc":"0.0947676308099911","unrealized_intraday_pl":"0","unrealized_intraday_plpc":"0","current_price":"168.43","lastday_price":"168.43","change_today":"0","qty_available":"0"},{"asset_id":"3be[...]
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://data.alpaca.markets/v2/stocks/bars?start=2021-12-10T19%3A52%3A16.935063%2B00%3A00&end=2023-12-10T18%3A37%3A17.655303%2B00%3A00&timeframe=1Day&adjustment=all&symbols=AMGN%2CAXP%2CBA%2CCVX%2CDOW%2CJNJ%2CKO%2CMCD%2CMRK%2CMSFT%2CPG%2CTRV%2CTSLA%2CUNH%2CVZ%2CWBA
  response:
    body:
      string: '{"bars":{"AMGN":[{"c":198.05,"h":199.73,"l":195.81,"n":48271,"o":197.15,"t":"2021-12-13T05:00:00Z","v":3178996,"vw":198.12},{"c":200.25,"h":201.24,"l":196.96,"n":45823,"o":197.98,"t":"2021-12-14T05:00:00Z","v":3195672,"vw":200.1},{"c":205.41,"h":205.65,"l":199.67,"n":64504,"o":200.49,"t":"2021-12-15T05:00:00Z","v":4403166,"vw":203.8},{"c":208.53,"h":216.45,"l":206.11,"n":106538,"o":206.11,"t":"2021-12-16T05:00:00Z","v":7211807,"vw":209.82},{"c":208.45,"h":210.01,"l":205.47,"n":61574,"o":208.63,"t":"2021-12-17T05:00:00Z","v":9657406,"vw":208.15},{"c":206.1,"h":208.44,"l":204.88,"n":53117,"o":208.22,"t":"2021-1[...]
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://data.alpaca.markets/v2/stocks/bars?start=2021-12-10T19%3A52%3A16.935063%2B00%3A00&end=2023-12-10T18%3A37%3A17.655303%2B00%3A00&timeframe=1Day&adjustment=all&symbols=AMGN%2CAXP%2CBA%2CCVX%2CDOW%2CJNJ%2CKO%2CMCD%2CMRK%2CMSFT%2CPG%2CTRV%2CTSLA%2CUNH%2CVZ%2CWBA&page_token=QVhQfER8MTcwMTgzODgwMDAwMDAwMDAwMA%3D%3D
  response:
    body:
      string: '{"bars":{"AXP":[{"c":168.62,"h":169.22,"l":167.74,"n":43947,"o":168.46,"t":"2023-12-07T05:00:00Z","v":2797101,"vw":168.560752},{"c":168.43,"h":169.1331,"l":167.57,"n":45101,"o":168.34,"t":"2023-12-08T05:00:00Z","v":2680643,"vw":168.404716}],"BA":[{"c":197.4,"h":202.81,"l":195.55,"n":141203,"o":202.5,"t":"2021-12-13T05:00:00Z","v":11116076,"vw":197.841484},{"c":195.5,"h":200.5,"l":195.18,"n":115506,"o":195.6,"t":"2021-12-14T05:00:00Z","v":9132375,"vw":196.602646},{"c":195.43,"h":196.5799,"l":190.32,"n":148433,"o":195.28,"t":"2021-12-15T05:00:00Z","v":10996836,"vw":192.712626},{"c":190.79,"h":198.3175,"l":190.44,"n":120028,"o":197,"t":"2021-12-16T05:00:00Z","v":8831847,"vw":193.026335},{"c":192.63,"h":194.77,"l":187.88,"n":161453,"o":190.[...]
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://data.alpaca.markets/v2/stocks/bars?start=2021-12-10T19%3A52%3A16.935063%2B00%3A00&end=2023-12-10T18%3A37%3A17.655303%2B00%3A00&timeframe=1Day&adjustment=all&symbols=AMGN%2CAXP%2CBA%2CCVX%2CDOW%2CJNJ%2CKO%2CMCD%2CMRK%2CMSFT%2CPG%2CTRV%2CTSLA%2CUNH%2CVZ%2CWBA&page_token=Q1ZYfER8MTcwMTY2NjAwMDAwMDAwMDAwMA%3D%3D
  response:
    body:
      string: '{"bars":{"CVX":[{"c":142.86,"h":145.07,"l":142.63,"n":115002,"o":144.76,"t":"2023-12-05T05:00:00Z","v":9597632,"vw":143.391575},{"c":142.53,"h":144.03,"l":141.35,"n":204970,"o":141.9,"t":"2023-12-06T05:00:00Z","v":18079684,"vw":142.638665},{"c":142.42,"h":144.01,"l":140.99,"n":194113,"o":143.51,"t":"2023-12-07T05:00:00Z","v":14786736,"vw":142.447059},{"c":144.31,"h":144.67,"l":143.12,"n":136210,"o":143.51,"t":"2023-12-08T05:00:00Z","v":10820749,"vw":144.083327}],"DOW":[{"c":48.17,"h":49.37,"l":47.94,"n":50992,"o":49.2,"t":"2021-12-13T05:00:00Z","v":6021230,"vw":48.32},{"c":48.68,"h":49.24,"l":48.01,"n":36320,"o":48.11,"t":"2021-12-14T05:00:00Z","v":4564768,"vw":48.73},{"c":48.82,"h":48.85,"l":47.76,"n":49531,"o":48.6,"t":"2021-12-15T05:00:00Z","v":5448146,"vw":48.41},{"c":49.33,"h":50.02,"l":49.03,"n":45652,"o":49.18,"t":"2021-12-16T05:00:00Z","v":6335809,"vw":49.55},{"c":48.88,"h":49.39,"l":48.23,"n":54378,"o":49.27,"t":"2021-12-17T05:00:00Z","v":14181656,"v[...]
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://data.alpaca.markets/v2/stocks/bars?start=2021-12-10T19%3A52%3A16.935063%2B00%3A00&end=2023-12-10T18%3A37%3A17.655303%2B00%3A00&timeframe=1Day&adjustment=all&symbols=AMGN%2CAXP%2CBA%2CCVX%2CDOW%2CJNJ%2CKO%2CMCD%2CMRK%2CMSFT%2CPG%2CTRV%2CTSLA%2CUNH%2CVZ%2CWBA&page_token=Sk5KfER8MTcwMTMyMDQwMDAwMDAwMDAwMA%3D%3D
  response:
    body:
      string: '{"bars":{"JNJ":[{"c":158.38,"h":158.46,"l":155.47,"n":126443,"o":156.44,"t":"2023-12-01T05:00:00Z","v":10342902,"vw":157.160462},{"c":158.88,"h":160.02,"l":158,"n":113578,"o":158,"t":"2023-12-04T05:00:00Z","v":8920279,"vw":159.041615},{"c":158.55,"h":159.63,"l":158.22,"n":106563,"o":158.8,"t":"2023-12-05T05:00:00Z","v":7268151,"vw":158.651751},{"c":156.62,"h":158.6592,"l":156.17,"n":99815,"o":158.52,"t":"2023-12-06T05:00:00Z","v":6642891,"vw":156.874617},{"c":155.4,"h":156.58,"l":154.71,"n":95105,"o":156.58,"t":"2023-12-07T05:00:00Z","v":6532388,"vw":155.595487},{"c":154.42,"h":155.85,"l":153.84,"n":85135,"o":155.42,"t":"2023-12-08T05:00:00Z","v":6253748,"vw":154.407542}],"KO":[{"c":54.4,"h":54.56,"l":53.64,"n":172647,"o":53.67,"t":"2021-12-13T05:00:00Z","v":34993205,"vw":54.29},{"c":54.44,"h":54.79,"l":54.06,"n":130345,"o":54.06,"t":"2021-12-14T05:00:00Z","v":28516528,"vw":54.45},{"c":54.68,"h":54.86,"l":54.3,"n":154935,"o":54.56,"t":"2021-12-15T05:00:00Z","v":27160158,"vw":54.66},{"c":55.24,"h":55.46,"l":54.53,"n":137776,"o":54.61,"t":"2021-12-16T05:00:00Z","v":28065195,"vw":55.14},{"c":54.37,"h":55.49,"l":54.34,"n":132237,"o":55.09,"t":"2021-12-17T05:00:00Z","v":75[...]
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://data.alpaca.markets/v2/stocks/bars?start=2021-12-10T19%3A52%3A16.935063%2B00%3A00&end=2023-12-10T18%3A37%3A17.655303%2B00%3A00&timeframe=1Day&adjustment=all&symbols=AMGN%2CAXP%2CBA%2CCVX%2CDOW%2CJNJ%2CKO%2CMCD%2CMRK%2CMSFT%2CPG%2CTRV%2CTSLA%2CUNH%2CVZ%2CWBA&page_token=TUNEfER8MTcwMTE0NzYwMDAwMDAwMDAwMA%3D%3D
  response:
    body:
      string: '{"bars":{"MCD":[{"c":278.73,"h":280.81,"l":277.85,"n":56548,"o":280.55,"t":"2023-11-29T05:00:00Z","v":2433432,"vw":278.93},{"c":281.84,"h":282.28,"l":278.06,"n":59153,"o":280.42,"t":"2023-11-30T05:00:00Z","v":5030567,"vw":280.975075},{"c":285.96,"h":286.86,"l":283,"n":71245,"o":283.25,"t":"2023-12-01T05:00:00Z","v":4967528,"vw":285.341011},{"c":286.13,"h":287.4,"l":284.99,"n":66566,"o":284.99,"t":"2023-12-04T05:00:00Z","v":3522889,"vw":286.151599},{"c":286.54,"h":288.76,"l":285.205,"n":60906,"o":286.55,"t":"2023-12-05T05:00:00Z","v":3005333,"vw":286.952337},{"c":286.86,"h":287.37,"l":283.4,"n":64855,"o":286.73,"t":"2023-12-06T05:00:00Z","v":2765101,"vw":285.93463},{"c":286.79,"h":288.15,"l":285.64,"n":56683,"o":287.49,"t":"2023-12-07T05:00:00Z","v":3131914,"vw":287.034788},{"c":285.53,"h":287.895,"l":285.05,"n":56029,"o":287.33,"t":"2023-12-08T05:00:00Z","v":3623644,"vw":285.944113}],"MRK":[{"c":69.08,"h":69.11,"l":67.72,"n":125963,"o":68.09,"t":"2021-12-13T05:00:00Z","v":20411443,"vw":68.74},{"c":70.01,"h":70.32,"l":68.53,"n":115641,"o":68.72,"t":"2021-12-14T05:00:00Z","v":22875891,"vw":69.89},{"c":71.5,"h":71.59,"l":70,"n":125686,"o":70,"t":"2021-12-15T05:00:00Z","v":16316501,"vw":71.15},{"c":72.09,"h":72.68,"l":71.48,"n":136148,"o":71.7,"t":"2021-12-16T05:00:00Z","v":18882767,"vw":72.18},{"c":71.88,"h":73.83,"l":71.7,"n":140781,"o":72.71,"t":"2021-12-17T05:00:00Z","v":37316743,[...]
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://data.alpaca.markets/v2/stocks/bars?start=2021-12-10T19%3A52%3A16.935063%2B00%3A00&end=2023-12-10T18%3A37%3A17.655303%2B00%3A00&timeframe=1Day&adjustment=all&symbols=AMGN%2CAXP%2CBA%2CCVX%2CDOW%2CJNJ%2CKO%2CMCD%2CMRK%2CMSFT%2CPG%2CTRV%2CTSLA%2CUNH%2CVZ%2CWBA&page_token=TVNGVHxEfDE3MDA4MDIwMDAwMDAwMDAwMDA%3D
  response:
    body:
      string: '{"bars":{"TRV":[{"c":146.61,"h":147.84,"l":145.93,"n":16830,"o":147.77,"t":"2021-12-13T05:00:00Z","v":1305923,"vw":146.77},{"c":150.01,"h":151.44,"l":146.64,"n":24875,"o":146.89,"t":"2021-12-14T05:00:00Z","v":2476813,"vw":149.88},{"c":151.58,"h":152.24,"l":148.69,"n":23523,"o":150.11,"t":"2021-12-15T05:00:00Z","v":1865881,"vw":151.27},{"c":155.07,"h":156.01,"l":152.27,"n":26934,"o":153.17,"t":"2021-12-16T05:00:00Z","v":2857731,"vw":154.87},{"c":151.41,"h":154.88,"l":151.24,"n":27583,"o":154.88,"t":"2021-12-17T[...]
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://data.alpaca.markets/v2/stocks/bars?start=2021-12-10T19%3A52%3A16.935063%2B00%3A00&end=2023-12-10T18%3A37%3A17.655303%2B00%3A00&timeframe=1Day&adjustment=all&symbols=AMGN%2CAXP%2CBA%2CCVX%2CDOW%2CJNJ%2CKO%2CMCD%2CMRK%2CMSFT%2CPG%2CTRV%2CTSLA%2CUNH%2CVZ%2CWBA&page_token=VFJWfER8MTcwMDU0MjgwMDAwMDAwMDAwMA%3D%3D
  response:
    body:
      string: '{[...]
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://data.alpaca.markets/v2/stocks/bars?start=2021-12-10T19%3A52%3A16.935063%2B00%3A00&end=2023-12-10T18%3A37%3A17.655303%2B00%3A00&timeframe=1Day&adjustment=all&symbols=AMGN%2CAXP%2CBA%2CCVX%2CDOW%2CJNJ%2CKO%2CMCD%2CMRK%2CMSFT%2CPG%2CTRV%2CTSLA%2CUNH%2CVZ%2CWBA&page_token=VU5IfER8MTcwMDE5NzIwMDAwMDAwMDAwMA%3D%3D
  response:
    body:
      string: '{"bars":{"WBA":[{"c":43.77,"h":44.65,"l":43.35,"n":47881,"o":44.24,"t":"2021-12-13T05:00:00Z","v":5310979,"vw":43.79},{"c":43.93,"h":44.95,"l":43.65,"n":52707,"o":43.77,"t":"2021-12-14T05:00:00Z","v":6159774,"vw":44.18},{"c":44.23,"h":44.29,"l":43.23,"n":53227,"o":44.07,"t":"2021-12-15T05:00:00Z","v":6630823,"vw":44},{"c":43.88,"h":44.67,"l":43.2,"n":58569,"o":43.2,"t":"2021-12-16T05:00:00Z","v":6348626,"vw":44.02},{"c":43.51,"h":44.2,"l":43.36,"n":55023,"o":43.7,"t":"2021-12-17T05:00:00Z","v":13358721,"vw":43[...]
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://data.alpaca.markets/v2/stocks/bars?start=2021-12-10T19%3A52%3A16.935063%2B00%3A00&end=2023-12-10T18%3A37%3A17.655303%2B00%3A00&timeframe=1Day&adjustment=all&symbols=AMGN%2CAXP%2CBA%2CCVX%2CDOW%2CJNJ%2CKO%2CMCD%2CMRK%2CMSFT%2CPG%2CTRV%2CTSLA%2CUNH%2CVZ%2CWBA&page_token=V0JBfER8MTcwMDAyNDQwMDAwMDAwMDAwMA%3D%3D
  response:
    body:
      string: '{[...]
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://paper-api.alpaca.markets/v2/account/portfolio/history?timeframe=1D
  response:
    body:
      string: '{"timestamp":[1699491600,1699578000,1699664400,1699923600,1700010000,1700096400,1700182800,1700269200,1700528400,1700614800,1700701200,1700874000,1701133200,1701219600,1701306000,1701392400,1701478800,1701738000,1701824400,1701910800,1701997200,1702083600],"equity":[100639.400000,100644.100000,100684.520000,100729.250000,100872.110000,100939.120000,100919.460000,100931.430000,101006.470000,101049.810000,101059.810000,101118.060000,101061.140000,101124.890000,101084.600000,101195.610000,101293.910000,101292.320000,101299.670000,101277.240000,101321.920000,101341.400000],"profit_loss":[5.740000,4.700000,40.420000,44.730000,142.860000,67.010000,-19.660000,11.970000,75.040000,43.340000,10.000000,58.250000,-56.920000,63.750000,-40.290000,111.010000,98.300000,-1.590000,7.350000,-22.430000,44.680000,19.480000],"profit_loss_pct":[0.000100,0.000000,0.000400,0.000400,0.001400,0.000700,-0.000200,0.000100,0.000700,0.000400,0.000100,0.000600,-0.000600,0.000600,-0.000400,0.001100,0.001000,0.000000,0.000100,-0.000200,0.000400,0.000200],"base_value":100633.660000,"base_value_asof":"2023-11-07","timeframe":"1D"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Portfolio-History-Engine-Version:
      - v2
      X-Ratelimit-Limit:
      - '200'
      X-Ratelimit-Remaining:
      - '199'
      X-Ratelimit-Reset:
      - '1702234342'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://paper-api.alpaca.markets/v2/orders?status=all&limit=500
  response:
    body:
      string: '[{"id":"7665bc38-8b1d-4a61-91df-21c351c3bb2c","client_order_id":"MSFT-sell-Order-3be0d563-d439-4eb8-b045-3abb073154eb","created_at":"2023-12-10T16:08:42.154764Z","updated_at":"2023-12-10T16:08:42.154764Z","submitted_at":"2023-12-10T16:08:42.154331Z","filled_at":null,"expired_at":null,"canceled_at":null,"failed_at":null,"replaced_at":null,"replaced_by":null,"replaces":null,"asset_id":"b6d1aa75-5c9c-4353-a305-9e2caa1925ab","symbol":"MSFT","asset_class":"us_equity","notional":null,"qty":"2","filled_qty":"0","filled_avg_price":null,"order_class":"simple","order_type":"market","type":"market","side":"sell","time_in_force":"day","limit_price":null,"stop_price":null,"status":"accepted","extended_hours":false,"legs":null,"trail_percent":null,"trail_price":null,"hwm":null,"subtag":null,"source":"access_key"},{"id":"7d2be3c8-4514-4147-85c3-48b7c6cc0781","client_order_id":"WBA-sell-Order-13373334-1ac8-440c-b930-76320ccae1a6","created_at":"2023-12-10T16:08:41.767352Z","updated_at":"2023-12-10T16:08:41.767352Z","submitted_at":"2023-12-10T16:08:41.76694Z","filled_at":null,"expired_at":null,"canceled_at":null,"failed_at":null,"replaced_at":null,"replaced_by":null,"replaces":null,"asset_id":"c5bbc0b0-e2ce-40cd-9974-a4d2ffd201a9","symbol":"WBA","asset_class":"us_equity","notional":null,"qty":"[...]
