interactions:
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://paper-api.alpaca.markets/v2/account
  response:
    body:
      string: '{"id":"fbcb14b0-2a8e-464e-a346-166ece0c2b05","admin_configurations":{"Configurations":{}},"user_configurations":null,"account_number":"PA3MA33J4Q3S","status":"ACTIVE","crypto_status":"ACTIVE","currency":"USD","buying_power":"199626.8064938495181","regt_buying_power":"199626.8064938495181","daytrading_buying_power":"0","effective_buying_power":"199626.8064938495181","non_marginable_buying_power":"99624.36","bod_dtbp":"0","cash":"99624.360000635548","accrued_fees":"0","pending_transfer_in":"0","portfolio_value":"100002.4464932139701","pattern_day_trader":false,"trading_blocked":false,"transfers_blocked":false,"account_blocked":false,"created_at":"2023-07-13T11:47:55.059574Z","trade_suspended_by_user":false,"multiplier":"2","shorting_enabled":true,"equity":"100002.4464932139701","last_equity":"100001.34469033105","long_market_value":"378.0864925784221","short_market_value":"0","position_market_value":"378.0864925784221","initial_margin":"189.04324628921105","maintenance_margin":"113.42594777352663","last_maintenance_margin":"110.1","sma":"0","daytrade_count":0,"balance_asof":"2023-07-13","crypto_tier":1}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '200'
      X-Ratelimit-Remaining:
      - '198'
      X-Ratelimit-Reset:
      - '1689346406'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://paper-api.alpaca.markets/v2/positions
  response:
    body:
      string: '[{"asset_id":"b0b6dd9d-8b9b-48a9-ba46-b9d54906e415","symbol":"AAPL","exchange":"NASDAQ","asset_class":"us_equity","asset_marginable":true,"qty":"0.549590629","avg_entry_price":"190.414454499","side":"long","market_value":"104.7617016415333","cost_basis":"104.649999819","unrealized_pl":"0.1117018225333","unrealized_plpc":"0.0010673848325513","unrealized_intraday_pl":"0.046001743105744251","unrealized_intraday_plpc":"0.0004393013000951","current_price":"190.6177","lastday_price":"190.54","change_today":"0.0004077883908891","qty_available":"0.549590629"},{"asset_id":"fc9ab435-44e7-45f5-ad53-92d3d76a2962","symbol":"BABA","exchange":"NYSE","asset_class":"us_equity","asset_marginable":true,"qty":"0.030892087","avg_entry_price":"95.17","side":"long","market_value":"2.93413042326","cost_basis":"2.93999992","unrealized_pl":"-0.00586949674","unrealized_plpc":"-0.0019964275169096","unrealized_intraday_pl":"-0.05035410181","unrealized_intraday_plpc":"-0.0168719594244902","current_price":"94.98","lastday_price":"96.61","change_today":"-0.01[...]
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://paper-api.alpaca.markets/v2/assets/AAPL
  response:
    body:
      string: '{"id":"b0b6dd9d-8b9b-48a9-ba46-b9d54906e415","class":"us_equity","exchange":"NASDAQ","symbol":"AAPL","name":"Apple
        Inc. Common Stock","status":"active","tradable":true,"marginable":true,"maintenance_margin_requirement":30,"shortable":true,"easy_to_borrow":true,"fractionable":true,"attributes":[]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '200'
      X-Ratelimit-Remaining:
      - '197'
      X-Ratelimit-Reset:
      - '1689346408'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.finnhub.io/api/v1//stock/profile2?token=ceifakaad3i3rvm4evkgceifakaad3i3rvm4evl0&symbol=AAPL
  response:
    body:
      string: '{"country":"US","currency":"USD","estimateCurrency":"USD","exchange":"NASDAQ
        NMS - GLOBAL MARKET","finnhubIndustry":"Technology","ipo":"1980-12-12","logo":"https://static2.finnhub.io/file/publicdatany/finnhubimage/stock_logo/AAPL.svg","marketCapitalization":2998676.9589383644,"name":"Apple
        Inc","phone":"14089961010.0","shareOutstanding":15728.7,"ticker":"AAPL","weburl":"https://www.apple.com/"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '44'
      X-Ratelimit-Reset:
      - '1689346413'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v10/finance/quoteSummary/AAPL?modules=assetProfile&formatted=false&lang=en-US&region=US&corsDomain=finance.yahoo.com
  response:
    body:
      string: '{"finance":{"result":null,"error":{"code":"Unauthorized","description":"Invalid
        Cookie"}}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-yahoo-request-id:
      - 7cgdgj9ib2ob7
      y-rid:
      - 7cgdgj9ib2ob7
    status:
      code: 401
      message: Unauthorized
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://paper-api.alpaca.markets/v2/assets/BABA
  response:
    body:
      string: '{"id":"fc9ab435-44e7-45f5-ad53-92d3d76a2962","class":"us_equity","exchange":"NYSE","symbol":"BABA","name":"Alibaba
        Group Holding Limited American Depositary Shares, each represents eight Ordinary
        Shares","status":"active","tradable":true,"marginable":true,"maintenance_margin_requirement":30,"shortable":true,"easy_to_borrow":true,"fractionable":true,"attributes":[]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '200'
      X-Ratelimit-Remaining:
      - '198'
      X-Ratelimit-Reset:
      - '1689346408'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.finnhub.io/api/v1//stock/profile2?token=ceifakaad3i3rvm4evkgceifakaad3i3rvm4evl0&symbol=BABA
  response:
    body:
      string: '{"country":"CN","currency":"CNY","estimateCurrency":"CNY","exchange":"NEW
        YORK STOCK EXCHANGE, INC.","finnhubIndustry":"Retail","ipo":"2014-09-19","logo":"https://static2.finnhub.io/file/publicdatany/finnhubimage/stock_logo/BABA.svg","marketCapitalization":251079.09579981002,"name":"Alibaba
        Group Holding Ltd","phone":"8657185022088.0","shareOutstanding":2602.125,"ticker":"BABA","weburl":"https://www.alibabagroup.com/"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '41'
      X-Ratelimit-Reset:
      - '1689346413'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v10/finance/quoteSummary/BABA?modules=assetProfile&formatted=false&lang=en-US&region=US&corsDomain=finance.yahoo.com
  response:
    body:
      string: '{"finance":{"result":null,"error":{"code":"Unauthorized","description":"Invalid
        Cookie"}}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-yahoo-request-id:
      - 1o8akutib2ob8
      y-rid:
      - 1o8akutib2ob8
    status:
      code: 401
      message: Unauthorized
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://paper-api.alpaca.markets/v2/assets/BRK.B
  response:
    body:
      string: '{"id":"71bb19d0-6c5f-4881-9552-33224badd810","class":"us_equity","exchange":"NYSE","symbol":"BRK.B","name":"BERKSHIRE
        HATHAWAY Class B","status":"active","tradable":true,"marginable":true,"maintenance_margin_requirement":30,"shortable":true,"easy_to_borrow":true,"fractionable":true,"attributes":[]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '200'
      X-Ratelimit-Remaining:
      - '197'
      X-Ratelimit-Reset:
      - '1689346410'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.finnhub.io/api/v1//stock/profile2?token=ceifakaad3i3rvm4evkgceifakaad3i3rvm4evl0&symbol=BRK.B
  response:
    body:
      string: '{"country":"US","currency":"USD","estimateCurrency":"USD","exchange":"NEW
        YORK STOCK EXCHANGE, INC.","finnhubIndustry":"Financial Services","ipo":"1980-03-17","logo":"https://static2.finnhub.io/file/publicdatany/finnhubimage/stock_logo/BRK.B.svg","marketCapitalization":752036.3858149396,"name":"Berkshire
        Hathaway Inc","phone":"14023461400.0","shareOutstanding":1.449828,"ticker":"BRK.A","weburl":"https://www.berkshirehathaway.com/"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '37'
      X-Ratelimit-Reset:
      - '1689346413'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v10/finance/quoteSummary/BRK-B?modules=assetProfile&formatted=false&lang=en-US&region=US&corsDomain=finance.yahoo.com
  response:
    body:
      string: '{"finance":{"result":null,"error":{"code":"Unauthorized","description":"Invalid
        Cookie"}}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-yahoo-request-id:
      - 0ic3vkpib2ob9
      y-rid:
      - 0ic3vkpib2ob9
    status:
      code: 401
      message: Unauthorized
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://paper-api.alpaca.markets/v2/assets/GOOGL
  response:
    body:
      string: '{"id":"69b15845-7c63-4586-b274-1cfdfe9df3d8","class":"us_equity","exchange":"NASDAQ","symbol":"GOOGL","name":"Alphabet
        Inc. Class A Common Stock","status":"active","tradable":true,"marginable":true,"maintenance_margin_requirement":30,"shortable":true,"easy_to_borrow":true,"fractionable":true,"attributes":[]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '200'
      X-Ratelimit-Remaining:
      - '198'
      X-Ratelimit-Reset:
      - '1689346410'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.finnhub.io/api/v1//stock/profile2?token=ceifakaad3i3rvm4evkgceifakaad3i3rvm4evl0&symbol=GOOGL
  response:
    body:
      string: '{"country":"US","currency":"USD","estimateCurrency":"USD","exchange":"NASDAQ
        NMS - GLOBAL MARKET","finnhubIndustry":"Media","ipo":"2004-08-19","logo":"https://static2.finnhub.io/file/publicdatany/finnhubimage/stock_logo/GOOG.svg","marketCapitalization":1601925.6806674004,"name":"Alphabet
        Inc","phone":"16502530000.0","shareOutstanding":12698,"ticker":"GOOGL","weburl":"https://abc.xyz/"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '34'
      X-Ratelimit-Reset:
      - '1689346413'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v10/finance/quoteSummary/GOOGL?modules=assetProfile&formatted=false&lang=en-US&region=US&corsDomain=finance.yahoo.com
  response:
    body:
      string: '{"finance":{"result":null,"error":{"code":"Unauthorized","description":"Invalid
        Cookie"}}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-yahoo-request-id:
      - 2j42s99ib2oba
      y-rid:
      - 2j42s99ib2oba
    status:
      code: 401
      message: Unauthorized
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://paper-api.alpaca.markets/v2/assets/JPM
  response:
    body:
      string: '{"id":"e3047683-637a-4fb2-b71d-805cd6fec95d","class":"us_equity","exchange":"NYSE","symbol":"JPM","name":"JPMorgan
        Chase \u0026 Co.","status":"active","tradable":true,"marginable":true,"maintenance_margin_requirement":30,"shortable":true,"easy_to_borrow":true,"fractionable":true,"attributes":[]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '200'
      X-Ratelimit-Remaining:
      - '197'
      X-Ratelimit-Reset:
      - '1689346411'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.finnhub.io/api/v1//stock/profile2?token=ceifakaad3i3rvm4evkgceifakaad3i3rvm4evl0&symbol=JPM
  response:
    body:
      string: '{"country":"US","currency":"USD","estimateCurrency":"USD","exchange":"NEW
        YORK STOCK EXCHANGE, INC.","finnhubIndustry":"Banking","ipo":"1969-03-05","logo":"https://static2.finnhub.io/file/publicdatany/finnhubimage/stock_logo/JPM.svg","marketCapitalization":446044.9630403038,"name":"JPMorgan
        Chase \u0026 Co","phone":"12122706000.0","shareOutstanding":2922.29,"ticker":"JPM","weburl":"https://www.jpmorganchase.com/"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '30'
      X-Ratelimit-Reset:
      - '1689346413'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v10/finance/quoteSummary/JPM?modules=assetProfile&formatted=false&lang=en-US&region=US&corsDomain=finance.yahoo.com
  response:
    body:
      string: '{"finance":{"result":null,"error":{"code":"Unauthorized","description":"Invalid
        Cookie"}}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-yahoo-request-id:
      - 3cd2j2dib2obb
      y-rid:
      - 3cd2j2dib2obb
    status:
      code: 401
      message: Unauthorized
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://paper-api.alpaca.markets/v2/assets/MSFT
  response:
    body:
      string: '{"id":"b6d1aa75-5c9c-4353-a305-9e2caa1925ab","class":"us_equity","exchange":"NASDAQ","symbol":"MSFT","name":"Microsoft
        Corporation Common Stock","status":"active","tradable":true,"marginable":true,"maintenance_margin_requirement":30,"shortable":true,"easy_to_borrow":true,"fractionable":true,"attributes":[]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '200'
      X-Ratelimit-Remaining:
      - '197'
      X-Ratelimit-Reset:
      - '1689346412'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.finnhub.io/api/v1//stock/profile2?token=ceifakaad3i3rvm4evkgceifakaad3i3rvm4evl0&symbol=MSFT
  response:
    body:
      string: '{"country":"US","currency":"USD","estimateCurrency":"USD","exchange":"NASDAQ
        NMS - GLOBAL MARKET","finnhubIndustry":"Technology","ipo":"1986-03-13","logo":"https://static2.finnhub.io/file/publicdatany/finnhubimage/stock_logo/MSFT.svg","marketCapitalization":2582865.252633362,"name":"Microsoft
        Corp","phone":"14258828080.0","shareOutstanding":7435.49,"ticker":"MSFT","weburl":"https://www.microsoft.com/en-us"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '27'
      X-Ratelimit-Reset:
      - '1689346413'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v10/finance/quoteSummary/MSFT?modules=assetProfile&formatted=false&lang=en-US&region=US&corsDomain=finance.yahoo.com
  response:
    body:
      string: '{"finance":{"result":null,"error":{"code":"Unauthorized","description":"Invalid
        Cookie"}}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-yahoo-request-id:
      - 2q4657hib2obc
      y-rid:
      - 2q4657hib2obc
    status:
      code: 401
      message: Unauthorized
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://paper-api.alpaca.markets/v2/assets/NFLX
  response:
    body:
      string: '{"id":"bb2a26c0-4c77-4801-8afc-82e8142ac7b8","class":"us_equity","exchange":"NASDAQ","symbol":"NFLX","name":"Netflix,
        Inc. Common Stock","status":"active","tradable":true,"marginable":true,"maintenance_margin_requirement":30,"shortable":true,"easy_to_borrow":true,"fractionable":true,"attributes":[]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '200'
      X-Ratelimit-Remaining:
      - '198'
      X-Ratelimit-Reset:
      - '1689346413'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.finnhub.io/api/v1//stock/profile2?token=ceifakaad3i3rvm4evkgceifakaad3i3rvm4evl0&symbol=NFLX
  response:
    body:
      string: '{"country":"US","currency":"USD","estimateCurrency":"USD","exchange":"NASDAQ
        NMS - GLOBAL MARKET","finnhubIndustry":"Media","ipo":"2002-05-23","logo":"https://static2.finnhub.io/file/publicdatany/finnhubimage/stock_logo/NFLX.svg","marketCapitalization":199805.98698325074,"name":"Netflix
        Inc","phone":"14085403700.0","shareOutstanding":444.537,"ticker":"NFLX","weburl":"https://www.netflix.com/"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '25'
      X-Ratelimit-Reset:
      - '1689346413'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v10/finance/quoteSummary/NFLX?modules=assetProfile&formatted=false&lang=en-US&region=US&corsDomain=finance.yahoo.com
  response:
    body:
      string: '{"finance":{"result":null,"error":{"code":"Unauthorized","description":"Invalid
        Cookie"}}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-yahoo-request-id:
      - 48pc9edib2obd
      y-rid:
      - 48pc9edib2obd
    status:
      code: 401
      message: Unauthorized
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://paper-api.alpaca.markets/v2/assets/NVDA
  response:
    body:
      string: '{"id":"4ce9353c-66d1-46c2-898f-fce867ab0247","class":"us_equity","exchange":"NASDAQ","symbol":"NVDA","name":"NVIDIA
        Corporation Common Stock","status":"active","tradable":true,"marginable":true,"maintenance_margin_requirement":30,"shortable":true,"easy_to_borrow":true,"fractionable":true,"attributes":[]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '200'
      X-Ratelimit-Remaining:
      - '199'
      X-Ratelimit-Reset:
      - '1689346414'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.finnhub.io/api/v1//stock/profile2?token=ceifakaad3i3rvm4evkgceifakaad3i3rvm4evl0&symbol=NVDA
  response:
    body:
      string: '{"country":"US","currency":"USD","estimateCurrency":"USD","exchange":"NASDAQ
        NMS - GLOBAL MARKET","finnhubIndustry":"Semiconductors","ipo":"1999-01-22","logo":"https://static2.finnhub.io/file/publicdatany/finnhubimage/stock_logo/NVDA.svg","marketCapitalization":1169767.2720483323,"name":"NVIDIA
        Corp","phone":"14084862000.0","shareOutstanding":2470,"ticker":"NVDA","weburl":"https://www.nvidia.com/"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Reset:
      - '1689346474'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v10/finance/quoteSummary/NVDA?modules=assetProfile&formatted=false&lang=en-US&region=US&corsDomain=finance.yahoo.com
  response:
    body:
      string: '{"finance":{"result":null,"error":{"code":"Unauthorized","description":"Invalid
        Cookie"}}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-yahoo-request-id:
      - 4o5qokhib2obe
      y-rid:
      - 4o5qokhib2obe
    status:
      code: 401
      message: Unauthorized
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://paper-api.alpaca.markets/v2/assets/ON
  response:
    body:
      string: '{"id":"b56defb4-e3f6-4756-ba80-143862d2dda1","class":"us_equity","exchange":"NASDAQ","symbol":"ON","name":"ON
        Semiconductor Corporation Common Stock","status":"active","tradable":true,"marginable":true,"maintenance_margin_requirement":30,"shortable":true,"easy_to_borrow":true,"fractionable":true,"attributes":[]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '200'
      X-Ratelimit-Remaining:
      - '198'
      X-Ratelimit-Reset:
      - '1689346415'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.finnhub.io/api/v1//stock/profile2?token=ceifakaad3i3rvm4evkgceifakaad3i3rvm4evl0&symbol=ON
  response:
    body:
      string: '{"country":"US","currency":"USD","estimateCurrency":"USD","exchange":"NASDAQ
        NMS - GLOBAL MARKET","finnhubIndustry":"Semiconductors","ipo":"2000-04-27","logo":"https://static2.finnhub.io/file/publicdatany/finnhubimage/stock_logo/ON.svg","marketCapitalization":44068.30430000001,"name":"ON
        Semiconductor Corp","phone":"16022446600.0","shareOutstanding":431.873,"ticker":"ON","weburl":"https://www.onsemi.com/"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '58'
      X-Ratelimit-Reset:
      - '1689346474'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v10/finance/quoteSummary/ON?modules=assetProfile&formatted=false&lang=en-US&region=US&corsDomain=finance.yahoo.com
  response:
    body:
      string: '{"finance":{"result":null,"error":{"code":"Unauthorized","description":"Invalid
        Cookie"}}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-yahoo-request-id:
      - 2oc3gmlib2obf
      y-rid:
      - 2oc3gmlib2obf
    status:
      code: 401
      message: Unauthorized
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://paper-api.alpaca.markets/v2/assets/ORCL
  response:
    body:
      string: '{"id":"27982558-2464-4daf-bb2f-b3b728659884","class":"us_equity","exchange":"NYSE","symbol":"ORCL","name":"Oracle
        Corp","status":"active","tradable":true,"marginable":true,"maintenance_margin_requirement":30,"shortable":true,"easy_to_borrow":true,"fractionable":true,"attributes":[]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '200'
      X-Ratelimit-Remaining:
      - '199'
      X-Ratelimit-Reset:
      - '1689346416'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.finnhub.io/api/v1//stock/profile2?token=ceifakaad3i3rvm4evkgceifakaad3i3rvm4evl0&symbol=ORCL
  response:
    body:
      string: '{"country":"US","currency":"USD","estimateCurrency":"USD","exchange":"NEW
        YORK STOCK EXCHANGE, INC.","finnhubIndustry":"Technology","ipo":"1986-03-12","logo":"https://static2.finnhub.io/file/publicdatany/finnhubimage/stock_logo/ORCL.svg","marketCapitalization":319848.2761614427,"name":"Oracle
        Corp","phone":"17378671000.0","shareOutstanding":2714.26,"ticker":"ORCL","weburl":"https://www.oracle.com/"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '57'
      X-Ratelimit-Reset:
      - '1689346474'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v10/finance/quoteSummary/ORCL?modules=assetProfile&formatted=false&lang=en-US&region=US&corsDomain=finance.yahoo.com
  response:
    body:
      string: '{"finance":{"result":null,"error":{"code":"Unauthorized","description":"Invalid
        Cookie"}}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-yahoo-request-id:
      - 0oqc9g9ib2obg
      y-rid:
      - 0oqc9g9ib2obg
    status:
      code: 401
      message: Unauthorized
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://paper-api.alpaca.markets/v2/assets/PFE
  response:
    body:
      string: '{"id":"b0940983-b0c6-42f1-97d5-b1b580e4431b","class":"us_equity","exchange":"NYSE","symbol":"PFE","name":"Pfizer
        Inc.","status":"active","tradable":true,"marginable":true,"maintenance_margin_requirement":30,"shortable":true,"easy_to_borrow":true,"fractionable":true,"attributes":[]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '200'
      X-Ratelimit-Remaining:
      - '199'
      X-Ratelimit-Reset:
      - '1689346417'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.finnhub.io/api/v1//stock/profile2?token=ceifakaad3i3rvm4evkgceifakaad3i3rvm4evl0&symbol=PFE
  response:
    body:
      string: '{"country":"US","currency":"USD","estimateCurrency":"USD","exchange":"NEW
        YORK STOCK EXCHANGE, INC.","finnhubIndustry":"Pharmaceuticals","ipo":"1944-01-17","logo":"https://static2.finnhub.io/file/publicdatany/finnhubimage/stock_logo/PFE.svg","marketCapitalization":204783.5238999383,"name":"Pfizer
        Inc","phone":"12127332323.0","shareOutstanding":5645.31,"ticker":"PFE","weburl":"https://www.pfizer.com/"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '56'
      X-Ratelimit-Reset:
      - '1689346474'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v10/finance/quoteSummary/PFE?modules=assetProfile&formatted=false&lang=en-US&region=US&corsDomain=finance.yahoo.com
  response:
    body:
      string: '{"finance":{"result":null,"error":{"code":"Unauthorized","description":"Invalid
        Cookie"}}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-yahoo-request-id:
      - 7e9f5ahib2obh
      y-rid:
      - 7e9f5ahib2obh
    status:
      code: 401
      message: Unauthorized
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://paper-api.alpaca.markets/v2/assets/TSLA
  response:
    body:
      string: '{"id":"8ccae427-5dd0-45b3-b5fe-7ba5e422c766","class":"us_equity","exchange":"NASDAQ","symbol":"TSLA","name":"Tesla,
        Inc. Common Stock","status":"active","tradable":true,"marginable":true,"maintenance_margin_requirement":30,"shortable":true,"easy_to_borrow":true,"fractionable":true,"attributes":[]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '200'
      X-Ratelimit-Remaining:
      - '199'
      X-Ratelimit-Reset:
      - '1689346418'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.finnhub.io/api/v1//stock/profile2?token=ceifakaad3i3rvm4evkgceifakaad3i3rvm4evl0&symbol=TSLA
  response:
    body:
      string: '{"country":"US","currency":"USD","estimateCurrency":"USD","exchange":"NASDAQ
        NMS - GLOBAL MARKET","finnhubIndustry":"Automobiles","ipo":"2010-06-09","logo":"https://static2.finnhub.io/file/publicdatany/finnhubimage/stock_logo/TSLA.svg","marketCapitalization":882380.7445265546,"name":"Tesla
        Inc","phone":"15125168177.0","shareOutstanding":3169.5,"ticker":"TSLA","weburl":"https://www.tesla.com/"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '55'
      X-Ratelimit-Reset:
      - '1689346474'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v10/finance/quoteSummary/TSLA?modules=assetProfile&formatted=false&lang=en-US&region=US&corsDomain=finance.yahoo.com
  response:
    body:
      string: '{"finance":{"result":null,"error":{"code":"Unauthorized","description":"Invalid
        Cookie"}}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-yahoo-request-id:
      - 6gak9gdib2obi
      y-rid:
      - 6gak9gdib2obi
    status:
      code: 401
      message: Unauthorized
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://paper-api.alpaca.markets/v2/assets/WMT
  response:
    body:
      string: '{"id":"3f3e0ff9-599f-4fec-8842-6bc53f5129a1","class":"us_equity","exchange":"NYSE","symbol":"WMT","name":"Walmart
[...]
