interactions:
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://paper-api.alpaca.markets/v2/assets/AAPL
  response:
    body:
      string: '{"id":"b0b6dd9d-8b9b-48a9-ba46-b9d54906e415","class":"us_equity","exchange":"NASDAQ","symbol":"AAPL","name":"Apple
        Inc. Common Stock","status":"active","tradable":true,"marginable":true,"maintenance_margin_requirement":30,"shortable":true,"easy_to_borrow":true,"fractionable":true,"attributes":[]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '200'
      X-Ratelimit-Remaining:
      - '199'
      X-Ratelimit-Reset:
      - '1689594126'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.finnhub.io/api/v1//stock/profile2?token=ceifakaad3i3rvm4evkgceifakaad3i3rvm4evl0&symbol=AAPL
  response:
    body:
      string: '{"country":"US","currency":"USD","estimateCurrency":"USD","exchange":"NASDAQ
        NMS - GLOBAL MARKET","finnhubIndustry":"Technology","ipo":"1980-12-12","logo":"https://static2.finnhub.io/file/publicdatany/finnhubimage/stock_logo/AAPL.svg","marketCapitalization":2999306.251086,"name":"Apple
        Inc","phone":"14089961010.0","shareOutstanding":15728.7,"ticker":"AAPL","weburl":"https://www.apple.com/"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Reset:
      - '1689594188'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v6/finance/quoteSummary/AAPL?modules=assetProfile&formatted=false&lang=en-US&region=US&corsDomain=finance.yahoo.com
  response:
    body:
      string: '{"quoteSummary":{"result":[{"assetProfile":{"address1":"One Apple Park
        Way","city":"Cupertino","state":"CA","zip":"95014","country":"United States","phone":"408
        996 1010","website":"https://www.apple.com","industry":"Consumer Electronics","industryDisp":"Consumer
        Electronics","sector":"Technology","longBusinessSummary":"Apple Inc. designs,
        manufactures, and markets smartphones, personal computers, tablets, wearables,
        and accessories worldwide. The company offers iPhone, a line of smartphones;
        Mac, a line of personal computers; iPad, a line of multi-purpose tablets;
        and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch,
        Beats products, and HomePod. It also provides AppleCare support and cloud
        services; and operates various platforms, inclu[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v6/finance/quoteSummary/AAPL?modules=defaultKeyStatistics&formatted=false&lang=en-US&region=US&corsDomain=finance.yahoo.com
  response:
    body:
      string: '{"quoteSummary":{"result":[{"defaultKeyStatistics":{"maxAge":1,"priceHint":{"raw":2,"fmt":"2","longFmt":"2"},"enterpriseValue":{"raw":3053049085952,"fmt":"3.05T","longFmt":"3,053,049,085,952"},"forwardPE":{"raw":28.980244,"fmt":"28.98"},"profitMargins":{"raw":0.24493,"fmt":"24.49%"},"floatShares":{"raw":15711872289,"fmt":"15.71B","longFmt":"15,711,872,289"},"sharesOutstanding":{"raw":15728700416,"fmt":"15.73B","longFmt":"15,728,700,416"},"sharesShort":{"raw":117870227,"fmt":"117.87M","longFmt":"117,870,227"},"sharesShortPriorMonth":{"raw":117654782,"fmt":"117.65M","longFmt":"117,654,782"},"sharesShortPreviousMonthDate":{"raw":1685491200,"fmt":"2023-05-31"},"dateShortInterest":{"raw":1688083200,"fmt":"2023-06-30"},"sharesPercentSharesOut":{"raw":0.0075,"fmt":"0.75%"},"heldPercentInsiders":{"raw":7.1000005E-4,"fmt":"0.07%"},"heldPercentInstitutions":{"raw":0.61232,"fmt":"61.23%"},"shortRatio":{"raw":1.87,"fmt":"1.87"},"shortPercentOfFloat":{"raw":0.0075,"fmt":"0.75%"},"beta":{"raw":1.292349,"fmt":"1.29"},"impliedSharesOutstanding":{"raw":15728700416,"fmt":"15.73B","longFmt":"15,728,700,416"},"morningStarOverallRating":{},"morningStarRiskRating":{},"category":null,"bookValue":{"raw":3.953,"fmt":"3.95"},"priceToBook":{"raw":48.23931,"fmt":"48.24"},"annualReportExpenseRatio":{},"ytdReturn":{},"beta3Year":{},"totalAssets":{},"yield":{},"fundFamily":null,"fundInceptionDate":{},"legalType":null,"threeYearAverageReturn":{},"fiveYearAverageReturn":{},"priceToSalesTrailing12Months":{},"lastFiscalYearEnd":{"raw":1663977600,"fmt":"2022-09-24"},"nextFiscalYearEnd":{"raw":1695513600,"fmt":"2023-09-24"},"mostRecentQuarter":{"raw":1680307200,"fmt":"2023-04-01"},"earningsQuarterlyGrowth":{"raw":-0.034,"fmt":"-3.40%"},"revenueQuarterlyGrowth":{},"netIncomeToCommon":{"raw":94321000448,"fmt":"94.32B","longFmt":"94,321,000,448"},"trailingEps":{"raw":5.89,"fmt":"5.89"},"forwardEps":{"raw":6.58,"fmt":"6.58"},"pegRatio":{"raw":4.0,"fmt":"4.00"},"lastSplitFactor":"4:1","lastSplitDate":{"raw":1598832000,"fmt":"2020-08-31"},"enterpriseToRevenue":{"raw":7.928,"fmt":"7.93"},"enterpriseToEbitda":{"raw":24.664,"fmt":"24.66"},"52WeekChange":{"raw":29.659344,"fmt":"2,965.93%"},"SandP52WeekChange":{"raw":17.608881,"fmt":"1,760.89%"},"lastDividendValue":{"raw":0.24,"fmt":"0.24"},"lastDividendDate":{"raw":1683849600,"fmt":"2023-05-12"},"lastCapGain":{},"annualHoldingsTurnover":{}}}],"error":null}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-yahoo-request-id:
      - 7pf8d29ibaa8h
      y-rid:
      - 7pf8d29ibaa8h
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Basic Q0tUV01ONE9RUFpTMDdONVpCMVY6ZW5rYXZKc05GUFU1U3JwWFVLM1QwRWdOaU5Ta0xYR1dqbmRuZUVXZw==
    method: GET
    uri: https://data.sandbox.alpaca.markets/v1beta1/news?symbols=AAPL&limit=3&include_content=True&exclude_contentless=True
  response:
    body:
      string: "{\"news\":[{\"author\":\"Ananya Gairola\",\"content\":\"\\u003cp\\u003e\\u003cstrong\\u003eApple
        Inc.\\u0026#8217;s\_\\u003c/strong\\u003e(NASDAQ:\\u003ca class=\\\"ticker\\\"
        href=\\\"https://www.benzinga.com/stock/AAPL#NASDAQ\\\"\\u003eAAPL\\u003c/a\\u003e)
        enthusiasts, good news for you.\_October launch could introduce powerful M3-powered
        iMac, MacBook Air, and MacBook Pro devices.\_\\u003c/p\\u003e\\n\\n\\n\\n\\u003cp\\u003e\\u003cstrong\\u003eWhat
        Happened:\\u003c/strong\\u003e\\u0026nbsp;In his\\u0026nbsp;\\u003ca target=\\\"_blank\\\"
        href=\\\"https://www.benzinga.com/news/23/04/31821609/apples-mr-headset-will-have-slow-start-but-could-eventually-replace-iphone-as-flagship-product-gurma\\\"
        rel=\\\"noreferrer noopener\\\"\\u003elatest \\u0026#8220;Power On\\u0026#8221;
        newsletter\\u003c/a\\u003e, Bloomberg columnist\\u0026nbsp;\\u003cstrong\\u003eMark
        Gurman\\u003c/strong\\u003e\\u0026nbsp;stated that the Cupertin[...]
