interactions:
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://data.alpaca.markets/v2/stocks/bars?start=2021-07-09T22%3A58%3A36.946067Z&end=2023-07-09T22%3A43%3A36.952688Z&timeframe=1Day&adjustment=all&symbols=AAPL%2CAMZN%2CGOOGL%2CMETA%2CNFLX
  response:
    body:
      string: '{"bars":{"AAPL":[{"t":"2021-07-12T04:00:00Z","o":144.52,"h":144.62,"l":142.33,"c":142.83,"v":76256045,"n":516165,"vw":143.11},{"t":"2021-07-13T04:00:00Z","o":142.36,"h":145.75,"l":141.97,"c":143.95,"v":100572238,"n":694711,"vw":144.36},{"t":"2021-07-14T04:00:00Z","o":146.38,"h":147.84,"l":145.97,"c":147.42,"v":126807879,"n":795718,"vw":147.1},{"t":"2021-07-15T04:00:00Z","o":147.51,"h":148.26,"l":145.39,"c":146.76,"v":106632325,"n":696568,"vw":146.72},{"t":"2021-07-16T04:00:00Z","o":146.74,"h":148.02,"l":144.19,"c":144.69,"v":93105141,"n":611770,"vw":145.91},{"t":"2021-07-19T04:00:00Z","o":142.08,"h":142.4,"l":1[...]
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://data.alpaca.markets/v2/stocks/bars?start=2021-07-09T22%3A58%3A36.946067Z&end=2023-07-09T22%3A43%3A36.952688Z&timeframe=1Day&adjustment=all&symbols=AAPL%2CAMZN%2CGOOGL%2CMETA%2CNFLX&page_token=QU1aTnxEfDIwMjMtMDctMDVUMDQ6MDA6MDAuMDAwMDAwMDAwWg%3D%3D
  response:
    body:
      string: '{"bars":{"AMZN":[{"t":"2023-07-06T04:00:00Z","o":128.25,"h":128.73,"l":127.37,"c":128.36,"v":40697622,"n":393278,"vw":128.26803},{"t":"2023-07-07T04:00:00Z","o":128.59,"h":130.97,"l":128.1294,"c":129.78,"v":41853555,"n":393730,"vw":129.85541}],"GOOGL":[{"t":"2021-07-12T04:00:00Z","o":126.18,"h":127.07,"l":125.61,"c":126.98,"v":17647760,"n":54015,"vw":126.53},{"t":"2021-07-13T04:00:00Z","o":127.04,"h":128.06,"l":126.67,"c":127.34,"v":19096880,"n":58047,"vw":127.43},{"t":"2021-07-14T04:00:00Z","o":127.96,"h":129.33,"l":127.91,"c":128.24,"v":23628240,"n":65486,"vw":128.51},{"t":"2021-07-15T04:00:00Z","o":128.65,"h":128.7,"l":126.53,"c":127.01,"v":24081620,"n":67864,"vw":127.16},{"t":"2021-07-16T04:00:00Z","o":127.66,"h":127.81,"l":126.15,"c":126[...]
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://data.alpaca.markets/v2/stocks/bars?start=2021-07-09T22%3A58%3A36.946067Z&end=2023-07-09T22%3A43%3A36.952688Z&timeframe=1Day&adjustment=all&symbols=AAPL%2CAMZN%2CGOOGL%2CMETA%2CNFLX&page_token=TUVUQXxEfDIwMjMtMDYtMzBUMDQ6MDA6MDAuMDAwMDAwMDAwWg%3D%3D
  response:
    body:
      string: '{"bars":{"META":[{"t":"2023-07-03T04:00:00Z","o":286.7,"h":289.4,"l":284.8499,"c":286.02,"v":8629269,"n":138918,"vw":286.652337},{"t":"2023-07-05T04:00:00Z","o":287.65,"h":298.12,"l":286.36,"c":294.37,"v":33967552,"n":424813,"vw":294.684068},{"t":"2023-07-06T04:00:00Z","o":295.885,"h":298.12,"l":291.31,"c":291.99,"v":47763203,"n":542155,"vw":294.396728},{"t":"2023-07-07T04:00:00Z","o":292.18,"h":296.2,"l":288.66,"c":290.53,"v":25536681,"n":349088,"vw":291.993504}],"NFLX":[{"t":"2021-07-12T04:00:00Z","o":540.3,"h":540.6497,"l":532.92,"c":537.31,"v":1778224,"n":56972,"vw":536.163397},{"t":"2021-07-13T04:00:00Z","o":535.76,"h":545.33,"l":535.76,"c":540.68,"v":2735488,"n":74422,"vw":541.318466},{"t":"2021-07-14T04:00:00Z","o":541.01,"h":554.1,"l":541.01,"c":547.95,"v":4649907,"n":117779,"vw":550.173904},{"t":"2021-07-15T04:00:00Z","o":553.97,"h":557.5399,"l":538.2,"c":542.95,"v":5708652,"n":138124,"vw":546.453995},{"t":"2021-07-16T04:00:00Z","o":541.81,"h":544.06,"l[...]
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://paper-api.alpaca.markets/v2/assets/AAPL
  response:
    body:
      string: '{"id":"b0b6dd9d-8b9b-48a9-ba46-b9d54906e415","class":"us_equity","exchange":"NASDAQ","symbol":"AAPL","name":"Apple
        Inc. Common Stock","status":"active","tradable":true,"marginable":true,"maintenance_margin_requirement":30,"shortable":true,"easy_to_borrow":true,"fractionable":true,"attributes":[]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '200'
      X-Ratelimit-Remaining:
      - '199'
      X-Ratelimit-Reset:
      - '1688943519'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v10/finance/quoteSummary/AAPL?modules=assetProfile&formatted=false&lang=en-US&region=US&corsDomain=finance.yahoo.com
  response:
    body:
      string: '{"quoteSummary":{"result":[{"assetProfile":{"address1":"One Apple Park
        Way","city":"Cupertino","state":"CA","zip":"95014","country":"United States","phone":"408
        996 1010","website":"https://www.apple.com","industry":"Consumer Electronics","industryDisp":"Consumer
        Electronics","sector":"Technology","longBusinessSummary":"Apple Inc. designs,
        manufactures, and markets smartphones, personal computers, tablets, wearables,
        and accessories worldwide. The company offers iPhone, a line of smartphones;
        Mac, a line of personal computers; iPad, a line of multi-purpose tablets;
        and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch,
        Beats products, and HomePod. It also provides AppleCare support and cloud
        services; and operates various platforms, inclu[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v10/finance/quoteSummary/AAPL?modules=defaultKeyStatistics&formatted=false&lang=en-US&region=US&corsDomain=finance.yahoo.com
  response:
    body:
      string: '{"quoteSummary":{"result":[{"defaultKeyStatistics":{"maxAge":1,"priceHint":2,"enterpriseValue":3052891799552,"forwardPE":28.978724,"profitMargins":0.24493,"floatShares":15711872289,"sharesOutstanding":15728700416,"sharesShort":121254451,"sharesShortPriorMonth":109878751,"sharesShortPreviousMonthDate":1684108800,"dateShortInterest":1686787200,"sharesPercentSharesOut":0.0077,"heldPercentInsiders":7.1000005E-4,"heldPercentInstitutions":0.61232,"shortRatio":2.03,"shortPercentOfFloat":0.0077,"beta":1.292349,"impliedSharesOutstanding":15728700416,"category":null,"bookValue":3.953,"priceToBook":48.23678,"fundFamily":null,"legalType":null,"lastFiscalYearEnd":1663977600,"nextFiscalYearEnd":1695513600,"mostRecentQuarter":1680307200,"earningsQuarterlyGrowth":-0.034,"netIncomeToCommon":94321000448,"trailingEps":5.89,"forwardEps":6.58,"pegRatio":4.03,"lastSplitFactor":"4:1","lastSplitDate":1598832000,"enterpriseToRevenue":7.928,"enterpriseToEbitda":24.662,"52WeekChange":31.621456,"SandP52WeekChange":14.127123,"lastDividendValue":0.24,"lastDividendDate":1683849600}}],"error":null}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-yahoo-request-id:
      - 01scqahiamesv
      y-rid:
      - 01scqahiamesv
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://paper-api.alpaca.markets/v2/assets/GOOGL
  response:
    body:
      string: '{"id":"69b15845-7c63-4586-b274-1cfdfe9df3d8","class":"us_equity","exchange":"NASDAQ","symbol":"GOOGL","name":"Alphabet
        Inc. Class A Common Stock","status":"active","tradable":true,"marginable":true,"maintenance_margin_requirement":30,"shortable":true,"easy_to_borrow":true,"fractionable":true,"attributes":[]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '200'
      X-Ratelimit-Remaining:
      - '199'
      X-Ratelimit-Reset:
      - '1688943520'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v10/finance/quoteSummary/GOOGL?modules=assetProfile&formatted=false&lang=en-US&region=US&corsDomain=finance.yahoo.com
  response:
    body:
      string: '{"quoteSummary":{"result":[{"assetProfile":{"address1":"1600 Amphitheatre
        Parkway","city":"Mountain View","state":"CA","zip":"94043","country":"United
        States","phone":"650 253 0000","website":"https://www.abc.xyz","industry":"Intern[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v10/finance/quoteSummary/GOOGL?modules=defaultKeyStatistics&formatted=false&lang=en-US&region=US&corsDomain=finance.yahoo.com
  response:
    body:
      string: '{"quoteSummary":{"result":[{"defaultKeyStatistics":{"maxAge":1,"priceHint":2,"enterpriseValue":1431428530176,"forwardPE":19.055822,"profitMargins":0.20584999,"floatShares":10958907670,"sharesOutstanding":5941000192,"sharesShort":53559852,"sharesShortPriorMonth":55956918,"sharesShortPreviousMonthDate":1684108800,"dateShortInterest":1686787200,"sharesPercentSharesOut":0.0042,"heldPercentInsiders":0.00281,"heldPercentInstitutions":0.79134005,"shortRatio":1.57,"shortPercentOfFloat":0.009,"beta":1.052595,"impliedSharesOutstanding":0,"category":null,"bookValue":20.507,"priceToBook":5.8263035,"fundFamily":null,"legalType":null,"lastFiscalYearEnd":1672444800,"nextFiscalYearEnd":1703980800,"mostRecentQuarter":1680220800,"earningsQuarterlyGrowth":-0.084,"netIncomeToCommon":58587000832,"trailingEps":4.49,"forwardEps":6.27,"pegRatio":1.28,"lastSplitFactor":"20:1","lastSplitDate":1658102400,"enterpriseToRevenue":5.029,"enterpriseToEbitda":16.36,"52WeekChange":3.2880545,"SandP52WeekChange":14.127123}}],"error":null}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-yahoo-request-id:
      - 4hgfospiamet0
      y-rid:
      - 4hgfospiamet0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://paper-api.alpaca.markets/v2/assets/NFLX
  response:
    body:
      string: '{"id":"bb2a26c0-4c77-4801-8afc-82e8142ac7b8","class":"us_equity","exchange":"NASDAQ","symbol":"NFLX","name":"Netflix,
        Inc. Common Stock","status":"active","tradable":true,"marginable":true,"maintenance_margin_requirement":30,"shortable":true,"easy_to_borrow":true,"fractionable":true,"attributes":[]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '200'
      X-Ratelimit-Remaining:
      - '199'
      X-Ratelimit-Reset:
      - '1688943521'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v10/finance/quoteSummary/NFLX?modules=assetProfile&formatted=false&lang=en-US&region=US&corsDomain=finance.yahoo.com
  response:
    body:
      string: '{"quoteSummary":{"result":[{"assetProfile":{"address1":"121 Albright
        Way","city":"Los Gatos","state":"CA","zip":"95032","country":"United States","phone":"408
        540 3700","website":"https://www.netflix.com","industry":"Entertainment","industryDisp":"Entertainment","sector":"Communication
        Services","longBusinessSummary":"Netflix, Inc. provides entertainment services.
        It offers TV series, documentaries, feature films, and mobile games across
        various genres and languages. The company provides members the ability to
        receive streaming content through a host of internet-connected devices, including
        TVs, digital video players, television set-top boxes, and mobile devices.
        The company has approximately 231 million paid members in 190 countries. Netflix,
        Inc. was incorporated in 1997 and is headquartered in Los Gatos, California.","fullTimeEmployees":12800,"companyOfficers":[{"maxAge":1,"name":"Mr.
        Wilmot Reed Hastings Jr.","age":62,"title":"Co-Founder & Exec. Chairman","yearBorn":1960,"fiscalYear":2022,"totalPay":{"raw":1665055,"fmt":"1.67M","longFmt":"1,665,055"},"exercisedValue":{"raw":0,"fmt":null,"longFmt":"0"},"unexercisedValue":{"raw":334580480,"fmt":"334.58M","longFmt":"334,580,480"}},{"maxAge":1,"name":"Mr.
        Theodore A. Sarandos","age":57,"title":"Co-CEO, Pres & Director","yearBorn":1965,"fiscalYear":2022,"totalPay":{"raw":21786777,"fmt":"21.79M","longFmt":"21,786,777"},"exercisedValue":{"raw":0,"fmt":null,"longFmt":"0"},"unexercisedValue":{"raw":66233184,"fmt":"66.23M","longFmt":"66,233,184"}},{"maxAge":1,"name":"Mr.
        Gregory K. Peters","age":51,"title":"Co-CEO, Pres & Director","yearBorn":1971,"fiscal[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v10/finance/quoteSummary/NFLX?modules=defaultKeyStatistics&formatted=false&lang=en-US&region=US&corsDomain=finance.yahoo.com
  response:
    body:
      string: '{"quoteSummary":{"result":[{"defaultKeyStatistics":{"maxAge":1,"priceHint":2,"enterpriseValue":203879956480,"forwardPE":30.423613,"profitMargins":0.13161,"floatShares":438442277,"sharesOutstanding":444540992,"sharesShort":10121517,"sharesShortPriorMonth":9903830,"sharesShortPreviousMonthDate":1684108800,"dateShortInterest":1686787200,"sharesPercentSharesOut":0.0228,"heldPercentInsiders":0.01344,"heldPercentInstitutions":0.83505994,"shortRatio":1.31,"shortPercentOfFloat":0.0231,"beta":1.299863,"impliedSharesOutstanding":0,"category":null,"bookValue":49.103,"priceToBook":8.922062,"fundFamily":null,"legalType":null,"lastFiscalYearEnd":1672444800,"nextFiscalYearEnd":1703980800,"mostRecentQuarter":1680220800,"earningsQuarterlyGrowth":-0.183,"netIncomeToCommon":4199597056,"trailingEps":9.51,"forwardEps":14.4,"pegRatio":1.85,"lastSplitFactor":"7:1","lastSplitDate":1436918400,"enterpriseToRevenue":6.389,"enterpriseToEbitda":35.594,"52WeekChange":147.03958,"SandP52WeekChange":14.127123}}],"error":null}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-yahoo-request-id:
      - 32ad651iamet1
      y-rid:
      - 32ad651iamet1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://data.alpaca.markets/v2/stocks/bars?start=2021-07-09T22%3A58%3A36.946067Z&end=2023-07-09T22%3A43%3A41.101562Z&timeframe=1Day&adjustment=all&symbols=AAPL%2CGOOGL%2CNFLX
  response:
    body:
      string: '{"bars":{"AAPL":[{"t":"2021-07-12T04:00:00Z","o":144.52,"h":144.62,"l":142.33,"c":142.83,"v":76256045,"n":516165,"vw":143.11},{"t":"2021-07-13T0[...]
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://data.alpaca.markets/v2/stocks/bars?start=2021-07-09T22%3A58%3A36.946067Z&end=2023-07-09T22%3A43%3A41.101562Z&timeframe=1Day&adjustment=all&symbols=AAPL%2CGOOGL%2CNFLX&page_token=R09PR0x8RHwyMDIzLTA3LTA1VDA0OjAwOjAwLjAwMDAwMDAwMFo%3D
  response:
    body:
      string: '{"bars":{"GOOGL":[{"t":"2023-07-06T04:00:00Z","o":119.795,"h":120.3,"l":118.4,[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v10/finance/quoteSummary/NFLX?modules=defaultKeyStatistics&formatted=false&lang=en-US&region=US&corsDomain=finance.yahoo.com
  response:
    body:
      string: '{"quoteSummary":{"result":[{"defaultKeyStatistics":{"maxAge":1,"priceHint":2,"enterpriseValue":203879956480,"forwardPE":30.423613,"profitMargins":0.13161,"floatShares":438442277,"sharesOutstanding":444540992,"sharesShort":10121517,"sharesShortPriorMonth":9903830,"sharesShortPreviousMonthDate":1684108800,"dateShortInterest":1686787200,"sharesPercentSharesOut":0.0228,"heldPercentInsiders":0.01344,"heldPercentInstitutions":0.83505994,"shortRatio":1.31,"shortPercentOfFloat":0.0231,"beta":1.299863,"impliedSharesOutstanding":0,"category":null,"bookValue":49.103,"priceToBook":8.922062,"fundFamily":null,"legalType":null,"lastFiscalYearEnd":1672444800,"nextFiscalYearEnd":1703980800,"mostRecentQuarter":1680220800,"earningsQuarterlyGrowth":-0.183,"netIncomeToCommon":4199597056,"trailingEps":9.51,"forwardEps":14.4,"pegRatio":1.85,"lastSplitFactor":"7:1","lastSplitDate":1436918400,"enterpriseToRevenue":6.389,"enterpriseToEbitda":35.594,"52WeekChange":147.03958,"SandP52WeekChange":14.127123}}],"error":null}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-yahoo-request-id:
      - 22gjhsdiamet4
      y-rid:
      - 22gjhsdiamet4
    status:
      code: 200
      message: OK
version: 1
