interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/wiki/Nasdaq-100
  response:
    body:
      string: "<!DOCTYPE html>\n<html class=\"client-nojs vector-feature-language-in-header-enabled
        vector-feature-language-in-main-page-header-disabled vector-feature-page-tools-pinned-disabled
        vector-feature-toc-pinned-clientpref-1 vector-feature-main-menu-pinned-disabled
        vector-feature-limited-width-clientpref-1 vector-feature-limited-width-content-enabled
        vector-feature-custom-font-size-clientpref-1 vector-feature-appearance-pinned-clientpref-1
        vector-feature-night-mode-enabled skin-theme-clientpref-day vector-sticky-header-enabled
        vector-toc-available\" lang=\"en\" dir=\"ltr\">\n<head>\n<meta charset=\"UTF-8\">\n<title>Nasdaq-100
        - Wikipedia</title>\n<script>(function(){var className=\"client-js vector-feature-language-in-header-enabled
        vector-feature-language-in-main-page-header-disabled vector-feature-page-tools-pinned-disabled
        vector-feature-toc-pinned-clientpref-1 vector-feature-main-menu-pinned-disabled
        vector-feature-limited-width-clientpref-1 vector-feature-limited-width-content-enabled
        vector-feature-custom-font-size-clientpref-1 vector-feature-appearance-pinned-clientpref-1
        vector-feature-night-mode-enabled skin-theme-clientpref-day vector-sticky-header-enabled
        vector-toc-available\";var cookie=document.cookie.match(/(?:^|; )enwikimwclientpreferences=([^;]+)/);if(cookie){cookie[1].split('%2C').forEach(function(pref){className=className.replace(new
        RegExp('(^| )'+pref.replace(/-clientpref-\\w+$|[^\\w-]+/g,'')+'-clientpref-\\\\w+(
        |$)'),'$1'+pref+'$2');});}document.documentElement.className=className;}());RLCONF={\"wgBreakFrames\":false,\"wgSeparatorTransformTable\":[\"\",\"\"],\"wgDigitTransformTable\":[\"\",\"\"],\"wgDefaultDateFormat\":\"dmy\",\"wgMonthNames\":[\"\",\"January\",\"February\",\"March\",\"April\",\"May\",\"June\",\"July\",\"August\",\"September\",\"October\",\"November\",\"December\"],\"wgRequestId\":\"a8ee7f6a-cd3c-40c8-a27b-c26f830dd5ad\",\"wgCanonicalNamespace\":\"\",\"wgCanonicalSpecialPageName\":false,\"wgNamespaceNumber\":0,\"wgPageName\":\"Nasdaq-100\",\"wgTitle\":\"Nasdaq-100\",\"wgCurRevisionId\":1281018460,\"wgRevisionId\":1281018460,\"wgArticleId\":479587,\"wgIsArticle\":true,\"wgIsRedirect\":false,\"wgAction\":\"view\",\"wgUserName\":null,\"wgUserGroups\":[\"*\"],\"wgCategories\":[\"Pages
        with non-numeric formatnum arguments\",\"Articles with short description\",\"Short
        description is different from Wikidata\",\"Use mdy dates from April 2024\",\"Articles
        containing potentially dated statements from December 2024\",\"All articles
        containing potentially dated statements\",\"All articles with unsourced statements\",\"Articles
        with unsourced statements from February 2018\",\"Official website different
        in Wikidata and Wikipedia\",\"Companies in the Nasdaq-100\",\"Companies listed
        on the Nasdaq\",\"1985 establishments in the United States\",\"American stock
        market indices\",\"Nasdaq\"],\"wgPageViewLanguage\":\"en\",\"wgPageContentLanguage\":\"en\",\"wgPageContentModel\":\"wikitext\",\"wgRelevantPageName\":\"Nasdaq-100\",\"wgRelevantArticleId\":479587,\"wgIsProbablyEditable\":true,\"wgRelevantPageIsProbablyEditable\":true,\"wgRestrictionEdit\":[],\"wgRestrictionMove\":[],\"wgNoticeProject\":\"wikipedia\",\"wgCiteReferencePreviewsActive\":false,\"wgFlaggedRevsParams\":{\"tags\":{\"status\":{\"levels\":1}}},\"wgMediaViewerOnClick\":true,\"wgMediaViewerEnabledByDefault\":true,\"wgPopupsFlags\":0,\"wgVisualEditor\":{\"pageLanguageCode\":\"en\",\"pageLanguageDir\":\"ltr\",\"pageVariantFallbacks\":\"en\"},\"wgMFDisplayWikibaseDescriptions\":{\"search\":true,\"watchlist\":true,\"tagline\":false,\"nearby\":true},\"wgWMESchemaEditAttemptStepOversample\":false,\"wgWMEPageLength\":60000,\"wgEditSubmitButtonLabelPublish\":true,\"wgULSPosition\":\"interlanguage\",\"wgULSisCompactLinksEnabled\":false,\"wgVector2022LanguageInHeader\":true,\"wgULSisLanguageSelectorEmpty\":false,\"wgWikibaseItemId\":\"Q507306\",\"wgCheckUserClientHintsHeadersJsApi\":[\"brands\",\"architecture\",\"bitness\",\"fullVersionList\",\"mobile\",\"model\",\"platform\",\"platformVersion\"],\"GEHomepageSuggestedEditsEnableTopics\":true,\"wgGETopicsMatchModeEnabled\":false,\"wgGEStructuredTaskRejectionReasonTextInputEnabled\":false,\"wgGELevelingUpEnabledForUser\":false};\nRLSTATE={\"ext.globalCssJs.user.styles\":\"ready\",\"site.styles\":\"ready\",\"user.styles\":\"ready\",\"ext.globalCssJs.user\":\"ready\",\"user\":\"ready\",\"user.options\":\"loading\",\"ext.cite.styles\":\"ready\",\"skins.vector.search.codex.styles\":\"ready\",\"skins.vector.styles\":\"ready\",\"skins.vector.icons\":\"ready\",\"jquery.tablesorter.styles\":\"ready\",\"jquery.makeCollapsible.styles\":\"ready\",\"ext.wikimediamessages.styles\":\"ready\",\"ext.visualEditor.desktopArticleTarget.noscript\":\"ready\",\"ext.uls.interlanguage\":\"ready\",\"wikibase.client.init\":\"ready\"};RLPAGEMODULES=[\"ext.cite.ux-enhancements\",\"site\",\"mediawiki.page.ready\",\"jquery.tablesorter\",\"jquery.makeCollapsible\",\"mediawiki.toc\",\"skins.vector.js\",\"ext.centralNotice.geoIP\",\"ext.centralNotice.startUp\",\"ext.gadget.ReferenceTooltips\",\"ext.gadget.switcher\",\"ext.urlShortener.toolbar\",\"ext.centralauth.centralautologin\",\"mmv.bootstrap\",\"ext.popups\",\"ext.visualEditor.desktopArticleTarget.init\",\"ext.visualEditor.targetLoader\",\"ext.echo.centralauth\",\"ext.eventLogging\",\"ext.wikimediaEvents\",\"ext.navigationTiming\",\"ext.uls.interface\",\"ext.cx.eventlogging.campaigns\",\"ext.cx.uls.quick.actions\",\"wikibase.client.vector-2022\",\"ext.checkUser.clientHints\",\"ext.growthExperiments.SuggestedEditSession\"];</script>\n<script>(RLQ=window.RLQ||[]).push(function(){mw.loader.impl(function(){return[\"user.options@12s5i\",function($,jQuery,require,module){mw.user.tokens.set({\"patrolToken\":\"+\\\\\",\"watchToken\":\"+\\\\\",\"csrfToken\":\"+\\\\\"});\n}];});});</script>\n<link
        rel=\"stylesheet\" href=\"/w/load.php?lang=en&amp;modules=ext.cite.styles%7Cext.uls.interlanguage%7Cext.visualEditor.desktopArticleTarget.noscript%7Cext.wikimediamessages.styles%7Cjquery.makeCollapsible.styles%7Cjquery.tablesorter.styles%7Cskins.vector.icons%2Cstyles%7Cskins.vector.search.codex.styles%7Cwikibase.client.init&amp;only=styles&amp;skin=vector-2022\">\n<script
        async=\"\" src=\"/w/load.php?lang=en&amp;modules=startup&amp;only=scripts&amp;raw=1&amp;skin=vector-2022\"></script>\n<meta
        name=\"ResourceLoaderDynamicStyles\" content=\"\">\n<link rel=\"stylesheet\"
        href=\"/w/load.php?lang=en&amp;modules=site.styles&amp;only=styles&amp;skin=vector-2022\">\n<meta
        name=\"generator\" content=\"MediaWiki 1.44.0-wmf.20\">\n<meta name=\"referrer\"
        content=\"origin\">\n<meta name=\"referrer\" content=\"origin-when-cross-origin\">\n<meta
        name=\"robots\" content=\"max-image-preview:standard\">\n<meta name=\"format-detection\"
        content=\"telephone=no\">\n<meta property=\"og:image\" content=\"https://upload.wik[...]
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://data.alpaca.markets/v2/stocks/bars?start=2023-01-01T00%3A00%3A00%2B00%3A00&end=2023-06-01T00%3A00%3A00%2B00%3A00&timeframe=1Day&adjustment=all&symbols=AAPL%2CABNB%2CADBE%2CADI%2CADP%2CADSK%2CAEP%2CAMAT%2CAMD%2CAMGN%2CAMZN%2CANSS%2CAPP%2CARM%2CASML%2CAVGO%2CAXON%2CAZN%2CBIIB%2CBKNG%2CBKR%2CCCEP%2CCDNS%2CCDW%2CCEG%2CCHTR%2CCMCSA%2CCOST%2CCPRT%2CCRWD%2CCSCO%2CCSGP%2CCSX%2CCTAS%2CCTSH%2CDASH%2CDDOG%2CDXCM%2CEA%2CEXC%2CFANG%2CFAST%2CFTNT%2CGEHC%2CGFS%2CGILD%2CGOOG%2CGOOGL%2CHON%2CIDXX%2CINTC%2CINTU%2CISRG%2CKDP%2CKHC%2CKLAC%2CLIN%2CLRCX%2CLULU%2CMAR%2CMCHP%2CMDB%2CMDLZ%2CMELI%2CMETA%2CMNST%2CMRVL%2CMSFT%2CMSTR%2CMU%2CNFLX%2CNVDA%2CNXPI%2CODFL%2CON%2CORLY%2CPANW%2CPAYX%2CPCAR%2CPDD%2CPEP%2CPLTR%2CPYPL%2CQCOM%2CREGN%2CROP%2CROST%2CSBUX%2CSNPS%2CTEAM%2CTMUS%2CTSLA%2CTTD%2CTTWO%2CTXN%2CVRSK%2CVRTX%2CWBD%2CWDAY%2CXEL%2CZS
  response:
    body:
      string: '{"bars":{"ADBE":[{"c":336.92,"h":345.82,"l":331.92,"n":53574,"o":340.16,"t":"2023-01-03T05:00:00Z","v":2620830,"vw":337.470109},{"c":341.41,"h":345.6292,"l":336.73,"n":54639,"o":342.89,"t":"2023-01-04T05:00:00Z","v":2557747,"vw":341.289212},{"c":328.44,"h":337.55,"l":328.16,"n":56684,"o":337.53,"t":"2023-01-05T05:00:00Z","v":2394957,"vw":330.26422},{"c":332.75,"h":334.88,"l":322.44,"n":52069,"o":332.28,"t":"2023-01-06T05:00:00Z","v":2640529,"vw":331.810005},{"c":341.98,"h":349.455,"l":338.42,"n":71729,"o":338.9,"t":"2023-01-09T05:00:00Z","v":3490463,"vw":343.976661},{"c":338.7,"h":344.63,"l":336.8,"n":44724,"[...]
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://data.alpaca.markets/v2/stocks/bars?start=2023-01-01T00%3A00%3A00%2B00%3A00&end=2023-06-01T00%3A00%3A00%2B00%3A00&timeframe=1Day&adjustment=all&symbols=AAPL%2CABNB%2CADBE%2CADI%2CADP%2CADSK%2CAEP%2CAMAT%2CAMD%2CAMGN%2CAMZN%2CANSS%2CAPP%2CARM%2CASML%2CAVGO%2CAXON%2CAZN%2CBIIB%2CBKNG%2CBKR%2CCCEP%2CCDNS%2CCDW%2CCEG%2CCHTR%2CCMCSA%2CCOST%2CCPRT%2CCRWD%2CCSCO%2CCSGP%2CCSX%2CCTAS%2CCTSH%2CDASH%2CDDOG%2CDXCM%2CEA%2CEXC%2CFANG%2CFAST%2CFTNT%2CGEHC%2CGFS%2CGILD%2CGOOG%2CGOOGL%2CHON%2CIDXX%2CINTC%2CINTU%2CISRG%2CKDP%2CKHC%2CKLAC%2CLIN%2CLRCX%2CLULU%2CMAR%2CMCHP%2CMDB%2CMDLZ%2CMELI%2CMETA%2CMNST%2CMRVL%2CMSFT%2CMSTR%2CMU%2CNFLX%2CNVDA%2CNXPI%2CODFL%2CON%2CORLY%2CPANW%2CPAYX%2CPCAR%2CPDD%2CPEP%2CPLTR%2CPYPL%2CQCOM%2CREGN%2CROP%2CROST%2CSBUX%2CSNPS%2CTEAM%2CTMUS%2CTSLA%2CTTD%2CTTWO%2CTXN%2CVRSK%2CVRTX%2CWBD%2CWDAY%2CXEL%2CZS&page_token=QU1HTnxEfDE2ODE4NzY4MDAwMDAwMDAwMDA%3D
  response:
    body:
      string: '{"bars":{"AVGO":[{"c":53.24,"h":54.59,"l":52.98,"n":56972,"o":54.34,"t":"2023-01-03T05:00:00Z","v":24613370,"vw":53.36},{"c":53.89,"h":54.65,"l":53.48,"n":50235,"o":54.15,"t":"2023-01-04T05:00:00Z","v":20605930,"vw":53.92},{"c":53.38,"h":53.85,"l":53.01,"n":45717,"o":53.45,"t":"2023-01-05T05:00:00Z","v":20344790,"vw":53.42},{"c":56.6,"h":56.84,"l":54.08,"n":88195,"o":54.16,"t":"2023-01-06T05:00:00Z","v":41470710,"vw":56.27},{"c":55.49,"h":57.87,"l":53.92,"n":95936,"o":56.97,"t":"2023-01-09T05:00:00Z","v":419107[...]
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://data.alpaca.markets/v2/stocks/bars?start=2023-01-01T00%3A00%3A00%2B00%3A00&end=2023-06-01T00%3A00%3A00%2B00%3A00&timeframe=1Day&adjustment=all&symbols=AAPL%2CABNB%2CADBE%2CADI%2CADP%2CADSK%2CAEP%2CAMAT%2CAMD%2CAMGN%2CAMZN%2CANSS%2CAPP%2CARM%2CASML%2CAVGO%2CAXON%2CAZN%2CBIIB%2CBKNG%2CBKR%2CCCEP%2CCDNS%2CCDW%2CCEG%2CCHTR%2CCMCSA%2CCOST%2CCPRT%2CCRWD%2CCSCO%2CCSGP%2CCSX%2CCTAS%2CCTSH%2CDASH%2CDDOG%2CDXCM%2CEA%2CEXC%2CFANG%2CFAST%2CFTNT%2CGEHC%2CGFS%2CGILD%2CGOOG%2CGOOGL%2CHON%2CIDXX%2CINTC%2CINTU%2CISRG%2CKDP%2CKHC%2CKLAC%2CLIN%2CLRCX%2CLULU%2CMAR%2CMCHP%2CMDB%2CMDLZ%2CMELI%2CMETA%2CMNST%2CMRVL%2CMSFT%2CMSTR%2CMU%2CNFLX%2CNVDA%2CNXPI%2CODFL%2CON%2CORLY%2CPANW%2CPAYX%2CPCAR%2CPDD%2CPEP%2CPLTR%2CPYPL%2CQCOM%2CREGN%2CROP%2CROST%2CSBUX%2CSNPS%2CTEAM%2CTMUS%2CTSLA%2CTTD%2CTTWO%2CTXN%2CVRSK%2CVRTX%2CWBD%2CWDAY%2CXEL%2CZS&page_token=QktSfER8MTY3ODE2NTIwMDAwMDAwMDAwMA%3D%3D
  response:
    body:
      string: '{"bars":{"CDNS":[{"c":159.64,"h":163.9999,"l":157.495,"n":22927,"o":162.83,"t":"2023-01-03T05:00:00Z","v":1173321,"vw":159.863173},{"c":159.23,"h":162.1,"l":157.46,"n":28632,"o":161,"t":"2023-01-04T05:00:00Z","v":1598353,"vw":159.347992},{"c":156.8,"h":158.74,"l":154.88,"n":34579,"o":157.56,"t":"2023-01-05T05:00:00Z","v":1981845,"vw":156.938881},{"c":159.66,"h":160.325,"l":155.2,"n":27707,"o":158.75,"t":"2023-01-06T05:00:00Z","v":1426983,"vw":159.056331},{"c":165.92,"h":168.52,"l":161.34,"n":40878,"o":161.34,"t[...]
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://data.alpaca.markets/v2/stocks/bars?start=2023-01-01T00%3A00%3A00%2B00%3A00&end=2023-06-01T00%3A00%3A00%2B00%3A00&timeframe=1Day&adjustment=all&symbols=AAPL%2CABNB%2CADBE%2CADI%2CADP%2CADSK%2CAEP%2CAMAT%2CAMD%2CAMGN%2CAMZN%2CANSS%2CAPP%2CARM%2CASML%2CAVGO%2CAXON%2CAZN%2CBIIB%2CBKNG%2CBKR%2CCCEP%2CCDNS%2CCDW%2CCEG%2CCHTR%2CCMCSA%2CCOST%2CCPRT%2CCRWD%2CCSCO%2CCSGP%2CCSX%2CCTAS%2CCTSH%2CDASH%2CDDOG%2CDXCM%2CEA%2CEXC%2CFANG%2CFAST%2CFTNT%2CGEHC%2CGFS%2CGILD%2CGOOG%2CGOOGL%2CHON%2CIDXX%2CINTC%2CINTU%2CISRG%2CKDP%2CKHC%2CKLAC%2CLIN%2CLRCX%2CLULU%2CMAR%2CMCHP%2CMDB%2CMDLZ%2CMELI%2CMETA%2CMNST%2CMRVL%2CMSFT%2CMSTR%2CMU%2CNFLX%2CNVDA%2CNXPI%2CODFL%2CON%2CORLY%2CPANW%2CPAYX%2CPCAR%2CPDD%2CPEP%2CPLTR%2CPYPL%2CQCOM%2CREGN%2CROP%2CROST%2CSBUX%2CSNPS%2CTEAM%2CTMUS%2CTSLA%2CTTD%2CTTWO%2CTXN%2CVRSK%2CVRTX%2CWBD%2CWDAY%2CXEL%2CZS&page_token=Q1NDT3xEfDE2NzQ0NTAwMDAwMDAwMDAwMDA%3D
  response:
    body:
      string: '{"bars":{"DASH":[{"c":48.36,"h":51.08,"l":47.825,"n":38360,"o":49.98,"t":"2023-01-03T05:00:00Z","v":3684821,"vw":48.768009},{"c":48.93,"h":50.19,"l":47.72,"n":36277,"o":49.35,"t":"2023-01-04T05:00:00Z","v":2874052,"vw":48.958109},{"c":47.13,"h":48.25,"l":46.8,"n":48662,"o":48.17,"t":"2023-01-05T05:00:00Z","v":3653216,"vw":47.547973},{"c":48,"h":48.35,"l":45.932,"n":47401,"o":47.32,"t":"2023-01-06T05:00:00Z","v":3802225,"vw":47.656646},{"c":48.05,"h":49.74,"l":46.25,"n":75091,"o":46.5,"t":"2023-01-09T05:00:00Z",[...]
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://data.alpaca.markets/v2/stocks/bars?start=2023-01-01T00%3A00%3A00%2B00%3A00&end=2023-06-01T00%3A00%3A00%2B00%3A00&timeframe=1Day&adjustment=all&symbols=AAPL%2CABNB%2CADBE%2CADI%2CADP%2CADSK%2CAEP%2CAMAT%2CAMD%2CAMGN%2CAMZN%2CANSS%2CAPP%2CARM%2CASML%2CAVGO%2CAXON%2CAZN%2CBIIB%2CBKNG%2CBKR%2CCCEP%2CCDNS%2CCDW%2CCEG%2CCHTR%2CCMCSA%2CCOST%2CCPRT%2CCRWD%2CCSCO%2CCSGP%2CCSX%2CCTAS%2CCTSH%2CDASH%2CDDOG%2CDXCM%2CEA%2CEXC%2CFANG%2CFAST%2CFTNT%2CGEHC%2CGFS%2CGILD%2CGOOG%2CGOOGL%2CHON%2CIDXX%2CINTC%2CINTU%2CISRG%2CKDP%2CKHC%2CKLAC%2CLIN%2CLRCX%2CLULU%2CMAR%2CMCHP%2CMDB%2CMDLZ%2CMELI%2CMETA%2CMNST%2CMRVL%2CMSFT%2CMSTR%2CMU%2CNFLX%2CNVDA%2CNXPI%2CODFL%2CON%2CORLY%2CPANW%2CPAYX%2CPCAR%2CPDD%2CPEP%2CPLTR%2CPYPL%2CQCOM%2CREGN%2CROP%2CROST%2CSBUX%2CSNPS%2CTEAM%2CTMUS%2CTSLA%2CTTD%2CTTWO%2CTXN%2CVRSK%2CVRTX%2CWBD%2CWDAY%2CXEL%2CZS&page_token=RVhDfER8MTY4MzUxODQwMDAwMDAwMDAwMA%3D%3D
  response:
    body:
      string: '{"bars":{"FANG":[{"c":118.35,"h":122.8,"l":116.75,"n":44346,"o":121.58,"t":"2023-01-03T05:00:00Z","v":2604212,"vw":119.03},{"c":117.66,"h":119.98,"l":115.37,"n":38565,"o":116.3,"t":"2023-01-04T05:00:00Z","v":1880034,"vw":117.95},{"c":120.74,"h":121.82,"l":117.34,"n":42988,"o":118.08,"t":"2023-01-05T05:00:00Z","v":2779004,"vw":120.49},{"c":124.44,"h":125.55,"l":122.24,"n":49285,"o":122.96,"t":"2023-01-06T05:00:00Z","v":2705435,"vw":124.23},{"c":127.45,"h":129.14,"l":126.36,"n":51436,"o":126.87,"t":"2023-01-09T05[...]
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://data.alpaca.markets/v2/stocks/bars?start=2023-01-01T00%3A00%3A00%2B00%3A00&end=2023-06-01T00%3A00%3A00%2B00%3A00&timeframe=1Day&adjustment=all&symbols=AAPL%2CABNB%2CADBE%2CADI%2CADP%2CADSK%2CAEP%2CAMAT%2CAMD%2CAMGN%2CAMZN%2CANSS%2CAPP%2CARM%2CASML%2CAVGO%2CAXON%2CAZN%2CBIIB%2CBKNG%2CBKR%2CCCEP%2CCDNS%2CCDW%2CCEG%2CCHTR%2CCMCSA%2CCOST%2CCPRT%2CCRWD%2CCSCO%2CCSGP%2CCSX%2CCTAS%2CCTSH%2CDASH%2CDDOG%2CDXCM%2CEA%2CEXC%2CFANG%2CFAST%2CFTNT%2CGEHC%2CGFS%2CGILD%2CGOOG%2CGOOGL%2CHON%2CIDXX%2CINTC%2CINTU%2CISRG%2CKDP%2CKHC%2CKLAC%2CLIN%2CLRCX%2CLULU%2CMAR%2CMCHP%2CMDB%2CMDLZ%2CMELI%2CMETA%2CMNST%2CMRVL%2CMSFT%2CMSTR%2CMU%2CNFLX%2CNVDA%2CNXPI%2CODFL%2CON%2CORLY%2CPANW%2CPAYX%2CPCAR%2CPDD%2CPEP%2CPLTR%2CPYPL%2CQCOM%2CREGN%2CROP%2CROST%2CSBUX%2CSNPS%2CTEAM%2CTMUS%2CTSLA%2CTTD%2CTTWO%2CTXN%2CVRSK%2CVRTX%2CWBD%2CWDAY%2CXEL%2CZS&page_token=SURYWHxEfDE2Nzk2MzA0MDAwMDAwMDAwMDA%3D
  response:
    body:
      string: '{"bars":{"MAR":[{"c":144.45,"h":147.37,"l":143.82,"n":34517,"o":146.51,"t":"2023-01-03T05:00:00Z","v":1905489,"vw":144.89},{"c":146.52,"h":147.87,"l":145.77,"n":35777,"o":145.91,"t":"2023-01-04T05:00:00Z","v":1921988,"vw":146.68},{"c":145.56,"h":146.74,"l":144.66,"n":29861,"o":145.69,"t":"2023-01-05T05:00:00Z","v":1832319,"vw":145.63},{"c":149.96,"h":150.48,"l":146.68,"n":38555,"o":147.18,"t":"2023-01-06T05:00:00Z","v":1838343,"vw":149.53},{"c":149.13,"h":151.91,"l":148.27,"n":38682,"o":148.37,"t":"2023-01-09T[...]
