interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/wiki/Nasdaq-100
  response:
    body:
      string: "<!DOCTYPE html>\n<html class=\"client-nojs vector-feature-language-in-header-enabled
        vector-feature-language-in-main-page-header-disabled vector-feature-sticky-header-disabled
        vector-feature-page-tools-pinned-disabled vector-feature-toc-pinned-enabled
        vector-feature-main-menu-pinned-disabled vector-feature-limited-width-enabled
        vector-feature-limited-width-content-enabled vector-feature-zebra-design-disabled\"
        lang=\"en\" dir=\"ltr\">\n<head>\n<meta charset=\"UTF-8\">\n<title>Nasdaq-100
        - Wikipedia</title>\n<script>document.documentElement.className=\"client-js
        vector-feature-language-in-header-enabled vector-feature-language-in-main-page-header-disabled
        vector-feature-sticky-header-disabled vector-feature-page-tools-pinned-disabled
        vector-feature-toc-pinned-enabled vector-feature-main-menu-pinned-disabled
        vector-feature-limited-width-enabled vector-feature-limited-width-content-enabled
        vector-feature-zebra-design-disabled\";(function(){var cookie=document.cookie.match(/(?:^|;
        )enwikimwclientprefs=([^;]+)/);if(cookie){var featureName=cookie[1];document.documentElement.className=document.documentElement.className.replace(featureName+'-enabled',featureName+'-disabled');}}());RLCONF={\"wgBreakFrames\":false,\"wgSeparatorTransformTable\":[\"\",\"\"],\"wgDigitTransformTable\":[\"\",\"\"],\"wgDefaultDateFormat\":\"dmy\",\"wgMonthNames\":[\"\",\"January\",\"February\",\"March\",\"April\",\"May\",\"June\",\"July\",\"August\",\"September\",\"October\",\"November\",\"December\"],\"wgRequestId\":\"0810fab9-075b-4718-af44-65364f8f11e7\",\"wgCSPNonce\":false,\n\"wgCanonicalNamespace\":\"\",\"wgCanonicalSpecialPageName\":false,\"wgNamespaceNumber\":0,\"wgPageName\":\"Nasdaq-100\",\"wgTitle\":\"Nasdaq-100\",\"wgCurRevisionId\":1165192335,\"wgRevisionId\":1165192335,\"wgArticleId\":479587,\"wgIsArticle\":true,\"wgIsRedirect\":false,\"wgAction\":\"view\",\"wgUserName\":null,\"wgUserGroups\":[\"*\"],\"wgCategories\":[\"Pages
        with non-numeric formatnum arguments\",\"CS1 maint: url-status\",\"Articles
        with short description\",\"Short description is different from Wikidata\",\"Articles
        containing potentially dated statements from April 2022\",\"All articles containing
        potentially dated statements\",\"All articles with unsourced statements\",\"Articles
        with unsourced statements from February 2018\",\"Official website different
        in Wikidata and Wikipedia\",\"Companies in the Nasdaq-100\",\"Companies listed
        on the Nasdaq\",\"American stock market indices\",\"Nasdaq\"],\"wgPageViewLanguage\":\"en\",\"wgPageContentLanguage\":\"en\",\"wgPageContentModel\":\"wikitext\",\"wgRelevantPageName\":\"Nasdaq-100\",\"wgRelevantArticleId\":479587,\n\"wgIsProbablyEditable\":true,\"wgRelevantPageIsProbablyEditable\":true,\"wgRestrictionEdit\":[],\"wgRestrictionMove\":[],\"wgFlaggedRevsParams\":{\"tags\":{\"status\":{\"levels\":1}}},\"wgVisualEditor\":{\"pageLanguageCode\":\"en\",\"pageLanguageDir\":\"ltr\",\"pageVariantFallbacks\":\"en\"},\"wgMFDisplayWikibaseDescriptions\":{\"search\":true,\"watchlist\":true,\"tagline\":false,\"nearby\":true},\"wgWMESchemaEditAttemptStepOversample\":false,\"wgWMEPageLength\":60000,\"wgNoticeProject\":\"wikipedia\",\"wgMediaViewerOnClick\":true,\"wgMediaViewerEnabledByDefault\":true,\"wgPopupsFlags\":10,\"wgULSCurrentAutonym\":\"English\",\"wgEditSubmitButtonLabelPublish\":true,\"wgCentralAuthMobileDomain\":false,\"wgULSPosition\":\"interlanguage\",\"wgULSisCompactLinksEnabled\":true,\"wgULSisLanguageSelectorEmpty\":false,\"wgWikibaseItemId\":\"Q507306\",\"GEHomepageSuggestedEditsEnableTopics\":true,\"wgGETopicsMatchModeEnabled\":false,\"wgGEStructuredTaskRejectionReasonTextInputEnabled\":false,\"wgGELevelingUpEnabledForUser\":false};RLSTATE={\"skins.vector.user.styles\":\"ready\",\n\"ext.globalCssJs.user.styles\":\"ready\",\"site.styles\":\"ready\",\"user.styles\":\"ready\",\"skins.vector.user\":\"ready\",\"ext.globalCssJs.user\":\"ready\",\"user\":\"ready\",\"user.options\":\"loading\",\"ext.cite.styles\":\"ready\",\"codex-search-styles\":\"ready\",\"skins.vector.styles\":\"ready\",\"skins.vector.icons\":\"ready\",\"jquery.tablesorter.styles\":\"ready\",\"jquery.makeCollapsible.styles\":\"ready\",\"ext.visualEditor.desktopArticleTarget.noscript\":\"ready\",\"ext.wikimediaBadges\":\"ready\",\"ext.uls.interlanguage\":\"ready\",\"wikibase.client.init\":\"ready\"};RLPAGEMODULES=[\"ext.cite.ux-enhancements\",\"site\",\"mediawiki.page.ready\",\"jquery.tablesorter\",\"jquery.makeCollapsible\",\"mediawiki.toc\",\"skins.vector.js\",\"mmv.head\",\"mmv.bootstrap.autostart\",\"ext.visualEditor.desktopArticleTarget.init\",\"ext.visualEditor.targetLoader\",\"ext.eventLogging\",\"ext.wikimediaEvents\",\"ext.navigationTiming\",\"ext.cx.eventlogging.campaigns\",\"ext.quicksurveys.init\",\"ext.centralNotice.geoIP\",\"ext.centralNotice.startUp\",\"ext.gadget.ReferenceTooltips\",\n\"ext.gadget.charinsert\",\"ext.gadget.extra-toolbar-buttons\",\"ext.gadget.switcher\",\"ext.centralauth.centralautologin\",\"ext.popups\",\"ext.echo.centralauth\",\"ext.uls.compactlinks\",\"ext.uls.interface\",\"ext.cx.uls.quick.actions\",\"wikibase.client.vector-2022\",\"ext.growthExperiments.SuggestedEditSession\"];</script>\n<script>(RLQ=window.RLQ||[]).push(function(){mw.loader.implement(\"user.options@12s5i\",function($,jQuery,require,module){mw.user.tokens.set({\"patrolToken\":\"+\\\\\",\"watchToken\":\"+\\\\\",\"csrfToken\":\"+\\\\\"});});});</script>\n<link
        rel=\"stylesheet\" href=\"/w/load.php?lang=en&amp;modules=codex-search-styles%7Cext.cite.styles%7Cext.uls.interlanguage%7Cext.visualEditor.desktopArticleTarget.noscript%7Cext.wikimediaBadges%7Cjquery.makeCollapsible.styles%7Cjquery.tablesorter.styles%7Cskins.vector.icons%2Cstyles%7Cwikibase.client.init&amp;only=styles&amp;skin=vector-2022\">\n<script
        async=\"\" src=\"/w/load.php?lang=en&amp;modules=startup&amp;only=scripts&amp;raw=1&amp;skin=vector-2022\"></script>\n<meta
        name=\"ResourceLoaderDynamicStyles\" content=\"\">\n<link rel=\"stylesheet\"
        href=\"/w/load.php?lang=en&amp;modules=site.styles&amp;only=styles&amp;skin=vector-2022\">\n<meta
        name=\"generator\" content=\"MediaWiki 1.41.0-wmf.17\">\n<meta name=\"referrer\"
        content=\"origin\">\n<meta name=\"referrer\" content=\"origin-when-crossorigin\">\n<meta
        name=\"referrer\" content=\"origin-when-cross-origin\">\n<meta name=\"robots\"
        content=\"max-image-preview:standard\">\n<meta name=\"format-detection\" content=\"telephone=n[...]
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://data.alpaca.markets/v2/stocks/bars?start=2023-01-01T00%3A00%3A00Z&end=2023-06-01T00%3A00%3A00Z&timeframe=1Day&adjustment=all&symbols=AAPL%2CABNB%2CADBE%2CADI%2CADP%2CADSK%2CAEP%2CALGN%2CAMAT%2CAMD%2CAMGN%2CAMZN%2CANSS%2CASML%2CATVI%2CAVGO%2CAZN%2CBIIB%2CBKNG%2CBKR%2CCDNS%2CCEG%2CCHTR%2CCMCSA%2CCOST%2CCPRT%2CCRWD%2CCSCO%2CCSGP%2CCSX%2CCTAS%2CCTSH%2CDDOG%2CDLTR%2CDXCM%2CEA%2CEBAY%2CENPH%2CEXC%2CFANG%2CFAST%2CFTNT%2CGEHC%2CGFS%2CGILD%2CGOOG%2CGOOGL%2CHON%2CIDXX%2CILMN%2CINTC%2CINTU%2CISRG%2CJD%2CKDP%2CKHC%2CKLAC%2CLCID%2CLRCX%2CLULU%2CMAR%2CMCHP%2CMDLZ%2CMELI%2CMETA%2CMNST%2CMRNA%2CMRVL%2CMSFT%2CMU%2CNFLX%2CNVDA%2CNXPI%2CODFL%2CON%2CORLY%2CPANW%2CPAYX%2CPCAR%2CPDD%2CPEP%2CPYPL%2CQCOM%2CREGN%2CROST%2CSBUX%2CSGEN%2CSIRI%2CSNPS%2CTEAM%2CTMUS%2CTSLA%2CTXN%2CVRSK%2CVRTX%2CWBA%2CWBD%2CWDAY%2CXEL%2CZM%2CZS
  response:
    body:
      string: '{"bars":{"ADP":[{"t":"2023-01-03T05:00:00Z","o":238.04,"h":238.75,"l":232.58,"c":234.95,"v":1749366,"n":34091,"vw":234.8},{"t":"2023-01-04T05:00:00Z","o":237.43,"h":238.61,"l":234.21,"c":236.05,"v":1367736,"n":37209,"vw":236.42},{"t":"2023-01-05T05:00:00Z","o":234.79,"h":235.34,"l":229.53,"c":230.96,"v":1571938,"n":34667,"vw":231.69},{"t":"2023-01-06T05:00:00Z","o":233.29,"h":239.74,"l":232.37,"c":237.42,"v":1771737,"n":37926,"vw":237.55},{"t":"2023-01-09T05:00:00Z","o":238.37,"h":240.74,"l":236.54,"c":236.78,"v":1963557,"n":35620,"vw":238.04},{"t":"2023-01-10T05:00:00Z","o":236.28,"h":238.26,"l":234.75,"c":[...]
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://data.alpaca.markets/v2/stocks/bars?start=2023-01-01T00%3A00%3A00Z&end=2023-06-01T00%3A00%3A00Z&timeframe=1Day&adjustment=all&symbols=AAPL%2CABNB%2CADBE%2CADI%2CADP%2CADSK%2CAEP%2CALGN%2CAMAT%2CAMD%2CAMGN%2CAMZN%2CANSS%2CASML%2CATVI%2CAVGO%2CAZN%2CBIIB%2CBKNG%2CBKR%2CCDNS%2CCEG%2CCHTR%2CCMCSA%2CCOST%2CCPRT%2CCRWD%2CCSCO%2CCSGP%2CCSX%2CCTAS%2CCTSH%2CDDOG%2CDLTR%2CDXCM%2CEA%2CEBAY%2CENPH%2CEXC%2CFANG%2CFAST%2CFTNT%2CGEHC%2CGFS%2CGILD%2CGOOG%2CGOOGL%2CHON%2CIDXX%2CILMN%2CINTC%2CINTU%2CISRG%2CJD%2CKDP%2CKHC%2CKLAC%2CLCID%2CLRCX%2CLULU%2CMAR%2CMCHP%2CMDLZ%2CMELI%2CMETA%2CMNST%2CMRNA%2CMRVL%2CMSFT%2CMU%2CNFLX%2CNVDA%2CNXPI%2CODFL%2CON%2CORLY%2CPANW%2CPAYX%2CPCAR%2CPDD%2CPEP%2CPYPL%2CQCOM%2CREGN%2CROST%2CSBUX%2CSGEN%2CSIRI%2CSNPS%2CTEAM%2CTMUS%2CTSLA%2CTXN%2CVRSK%2CVRTX%2CWBA%2CWBD%2CWDAY%2CXEL%2CZM%2CZS&page_token=QU1EfER8MjAyMy0wNC0xOFQwNDowMDowMC4wMDAwMDAwMDBa
  response:
    body:
      string: '{"bars":{"BKR":[{"t":"2023-01-03T05:00:00Z","o":28.97,"h":29.66,"l":28.19,"c":28.38,"v":6548717,"n":58914,"vw":28.68},{"t":"2023-01-04T05:00:00Z","o":28.02,"h":28.02,"l":27.03,"c":27.53,"v":10193727,"n":76960,"vw":27.51},{"t":"2023-01-05T05:00:00Z","o":27.5,"h":28.5,"l":27.4,"c":28.43,"v":5733771,"n":47170,"vw":28.21},{"t":"2023-01-06T05:00:00Z","o":29,"h":29.99,"l":28.79,"c":29.58,"v":6928320,"n":56917,"vw":29.5},{"t":"2023-01-09T05:00:00Z","o":30.17,"h":30.7,"l":29.92,"c":30.15,"v":5574105,"n":54858,"vw":30.[...]
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://data.alpaca.markets/v2/stocks/bars?start=2023-01-01T00%3A00%3A00Z&end=2023-06-01T00%3A00%3A00Z&timeframe=1Day&adjustment=all&symbols=AAPL%2CABNB%2CADBE%2CADI%2CADP%2CADSK%2CAEP%2CALGN%2CAMAT%2CAMD%2CAMGN%2CAMZN%2CANSS%2CASML%2CATVI%2CAVGO%2CAZN%2CBIIB%2CBKNG%2CBKR%2CCDNS%2CCEG%2CCHTR%2CCMCSA%2CCOST%2CCPRT%2CCRWD%2CCSCO%2CCSGP%2CCSX%2CCTAS%2CCTSH%2CDDOG%2CDLTR%2CDXCM%2CEA%2CEBAY%2CENPH%2CEXC%2CFANG%2CFAST%2CFTNT%2CGEHC%2CGFS%2CGILD%2CGOOG%2CGOOGL%2CHON%2CIDXX%2CILMN%2CINTC%2CINTU%2CISRG%2CJD%2CKDP%2CKHC%2CKLAC%2CLCID%2CLRCX%2CLULU%2CMAR%2CMCHP%2CMDLZ%2CMELI%2CMETA%2CMNST%2CMRNA%2CMRVL%2CMSFT%2CMU%2CNFLX%2CNVDA%2CNXPI%2CODFL%2CON%2CORLY%2CPANW%2CPAYX%2CPCAR%2CPDD%2CPEP%2CPYPL%2CQCOM%2CREGN%2CROST%2CSBUX%2CSGEN%2CSIRI%2CSNPS%2CTEAM%2CTMUS%2CTSLA%2CTXN%2CVRSK%2CVRTX%2CWBA%2CWBD%2CWDAY%2CXEL%2CZM%2CZS&page_token=QktSfER8MjAyMy0wMy0wNlQwNTowMDowMC4wMDAwMDAwMDBa
  response:
    body:
      string: '{"bars":{"CSGP":[{"t":"2023-01-03T05:00:00Z","o":78.29,"h":78.63,"l":76.59,"c":77.65,"v":1276706,"n":20654,"vw":77.411261},{"t":"2023-01-04T05:00:00Z","o":78.595,"h":78.8,"l":77.45,"c":78,"v":1359286,"n":23337,"vw":78.099399},{"t":"2023-01-05T05:00:00Z","o":76.99,"h":77.45,"l":74.65,"c":74.9,"v":1664013,"n":25744,"vw":75.323901},{"t":"2023-01-06T05:00:00Z","o":75.8,"h":77.32,"l":74.1601,"c":77.12,"v":1602612,"n":26635,"vw":76.554909},{"t":"2023-01-09T05:00:00Z","o":77.46,"h":78.5929,"l":76.72,"c":77.08,"v":1481[...]
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://data.alpaca.markets/v2/stocks/bars?start=2023-01-01T00%3A00%3A00Z&end=2023-06-01T00%3A00%3A00Z&timeframe=1Day&adjustment=all&symbols=AAPL%2CABNB%2CADBE%2CADI%2CADP%2CADSK%2CAEP%2CALGN%2CAMAT%2CAMD%2CAMGN%2CAMZN%2CANSS%2CASML%2CATVI%2CAVGO%2CAZN%2CBIIB%2CBKNG%2CBKR%2CCDNS%2CCEG%2CCHTR%2CCMCSA%2CCOST%2CCPRT%2CCRWD%2CCSCO%2CCSGP%2CCSX%2CCTAS%2CCTSH%2CDDOG%2CDLTR%2CDXCM%2CEA%2CEBAY%2CENPH%2CEXC%2CFANG%2CFAST%2CFTNT%2CGEHC%2CGFS%2CGILD%2CGOOG%2CGOOGL%2CHON%2CIDXX%2CILMN%2CINTC%2CINTU%2CISRG%2CJD%2CKDP%2CKHC%2CKLAC%2CLCID%2CLRCX%2CLULU%2CMAR%2CMCHP%2CMDLZ%2CMELI%2CMETA%2CMNST%2CMRNA%2CMRVL%2CMSFT%2CMU%2CNFLX%2CNVDA%2CNXPI%2CODFL%2CON%2CORLY%2CPANW%2CPAYX%2CPCAR%2CPDD%2CPEP%2CPYPL%2CQCOM%2CREGN%2CROST%2CSBUX%2CSGEN%2CSIRI%2CSNPS%2CTEAM%2CTMUS%2CTSLA%2CTXN%2CVRSK%2CVRTX%2CWBA%2CWBD%2CWDAY%2CXEL%2CZM%2CZS&page_token=Q1NYfER8MjAyMy0wMS0yMFQwNTowMDowMC4wMDAwMDAwMDBa
  response:
    body:
      string: '{"bars":{"EA":[{"t":"2023-01-03T05:00:00Z","o":123.19,"h":124.3,"l":121.93,"c":122.41,"v":1676899,"n":35174,"vw":122.66},{"t":"2023-01-04T05:00:00Z","o":123,"h":125.8,"l":123,"c":124.61,"v":1497646,"n":31392,"vw":124.59},{"t":"2023-01-05T05:00:00Z","o":124.16,"h":124.93,"l":123.64,"c":124.28,"v":928400,"n":22151,"vw":124.3},{"t":"2023-01-06T05:00:00Z","o":124.77,"h":125.45,"l":122.62,"c":123.49,"v":2781909,"n":46908,"vw":123.74},{"t":"2023-01-09T05:00:00Z","o":123.49,"h":125.62,"l":123.02,"c":123.77,"v":16857[...]
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://data.alpaca.markets/v2/stocks/bars?start=2023-01-01T00%3A00%3A00Z&end=2023-06-01T00%3A00%3A00Z&timeframe=1Day&adjustment=all&symbols=AAPL%2CABNB%2CADBE%2CADI%2CADP%2CADSK%2CAEP%2CALGN%2CAMAT%2CAMD%2CAMGN%2CAMZN%2CANSS%2CASML%2CATVI%2CAVGO%2CAZN%2CBIIB%2CBKNG%2CBKR%2CCDNS%2CCEG%2CCHTR%2CCMCSA%2CCOST%2CCPRT%2CCRWD%2CCSCO%2CCSGP%2CCSX%2CCTAS%2CCTSH%2CDDOG%2CDLTR%2CDXCM%2CEA%2CEBAY%2CENPH%2CEXC%2CFANG%2CFAST%2CFTNT%2CGEHC%2CGFS%2CGILD%2CGOOG%2CGOOGL%2CHON%2CIDXX%2CILMN%2CINTC%2CINTU%2CISRG%2CJD%2CKDP%2CKHC%2CKLAC%2CLCID%2CLRCX%2CLULU%2CMAR%2CMCHP%2CMDLZ%2CMELI%2CMETA%2CMNST%2CMRNA%2CMRVL%2CMSFT%2CMU%2CNFLX%2CNVDA%2CNXPI%2CODFL%2CON%2CORLY%2CPANW%2CPAYX%2CPCAR%2CPDD%2CPEP%2CPYPL%2CQCOM%2CREGN%2CROST%2CSBUX%2CSGEN%2CSIRI%2CSNPS%2CTEAM%2CTMUS%2CTSLA%2CTXN%2CVRSK%2CVRTX%2CWBA%2CWBD%2CWDAY%2CXEL%2CZM%2CZS&page_token=RVhDfER8MjAyMy0wNS0wNVQwNDowMDowMC4wMDAwMDAwMDBa
  response:
    body:
      string: '{"bars":{"GEHC":[{"t":"2023-01-03T05:00:00Z","o":60.66,"h":60.66,"l":55.85,"c":55.98,"v":1792902,"n":9758,"vw":57.13},{"t":"2023-01-04T05:00:00Z","o":54.11,"h":60.69,"l":53.48,"c":60.47,"v":33336477,"n":108015,"vw":59.68},{"t":"2023-01-05T05:00:00Z","o":60.62,"h":62.96,"l":58.12,"c":58.98,"v":8843844,"n":78373,"vw":59.58},{"t":"2023-01-06T05:00:00Z","o":59.66,"h":59.92,"l":57.85,"c":58.93,"v":5902804,"n":47242,"vw":58.68},{"t":"2023-01-09T05:00:00Z","o":58.77,"h":59.96,"l":57.71,"c":58.08,"v":5290271,"n":51407,[...]
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://data.alpaca.markets/v2/stocks/bars?start=2023-01-01T00%3A00%3A00Z&end=2023-06-01T00%3A00%3A00Z&timeframe=1Day&adjustment=all&symbols=AAPL%2CABNB%2CADBE%2CADI%2CADP%2CADSK%2CAEP%2CALGN%2CAMAT%2CAMD%2CAMGN%2CAMZN%2CANSS%2CASML%2CATVI%2CAVGO%2CAZN%2CBIIB%2CBKNG%2CBKR%2CCDNS%2CCEG%2CCHTR%2CCMCSA%2CCOST%2CCPRT%2CCRWD%2CCSCO%2CCSGP%2CCSX%2CCTAS%2CCTSH%2CDDOG%2CDLTR%2CDXCM%2CEA%2CEBAY%2CENPH%2CEXC%2CFANG%2CFAST%2CFTNT%2CGEHC%2CGFS%2CGILD%2CGOOG%2CGOOGL%2CHON%2CIDXX%2CILMN%2CINTC%2CINTU%2CISRG%2CJD%2CKDP%2CKHC%2CKLAC%2CLCID%2CLRCX%2CLULU%2CMAR%2CMCHP%2CMDLZ%2CMELI%2CMETA%2CMNST%2CMRNA%2CMRVL%2CMSFT%2CMU%2CNFLX%2CNVDA%2CNXPI%2CODFL%2CON%2CORLY%2CPANW%2CPAYX%2CPCAR%2CPDD%2CPEP%2CPYPL%2CQCOM%2CREGN%2CROST%2CSBUX%2CSGEN%2CSIRI%2CSNPS%2CTEAM%2CTMUS%2CTSLA%2CTXN%2CVRSK%2CVRTX%2CWBA%2CWBD%2CWDAY%2CXEL%2CZM%2CZS&page_token=SURYWHxEfDIwMjMtMDMtMjNUMDQ6MDA6MDAuMDAwMDAwMDAwWg%3D%3D
  response:
    body:
      string: '{"bars":{"ISRG":[{"t":"2023-01-03T05:00:00Z","o":269.59,"h":270.89,"l":263.67,"c":265.63,"v":1391631,"n":34549,"vw":265.825052},{"t":"2023-01-04T05:00:00Z","o":269.36,"h":271.01,"l":266.84,"c":270,"v":1435225,"n":33648,"vw":269.469096},{"t":"2023-01-05T05:00:00Z","o":267.69,"h":271.87,"l":266.51,"c":268.62,"v":1798726,"n":41035,"vw":269.494103},{"t":"2023-01-06T05:00:00Z","o":271.17,"h":273.4,"l":264.68,"c":270.39,"v":1659514,"n":38278,"vw":270.094658},{"t":"2023-01-09T05:00:00Z","o":272.59,"h":273.58,"l":264.2[...]
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://data.alpaca.markets/v2/stocks/bars?start=2023-01-01T00%3A00%3A00Z&end=2023-06-01T00%3A00%3A00Z&timeframe=1Day&adjustment=all&symbols=AAPL%2CABNB%2CADBE%2CADI%2CADP%2CADSK%2CAEP%2CALGN%2CAMAT%2CAMD%2CAMGN%2CAMZN%2CANSS%2CASML%2CATVI%2CAVGO%2CAZN%2CBIIB%2CBKNG%2CBKR%2CCDNS%2CCEG%2CCHTR%2CCMCSA%2CCOST%2CCPRT%2CCRWD%2CCSCO%2CCSGP%2CCSX%2CCTAS%2CCTSH%2CDDOG%2CDLTR%2CDXCM%2CEA%2CEBAY%2CENPH%2CEXC%2CFANG%2CFAST%2CFTNT%2CGEHC%2CGFS%2CGILD%2CGOOG%2CGOOGL%2CHON%2CIDXX%2CILMN%2CINTC%2CINTU%2CISRG%2CJD%2CKDP%2CKHC%2CKLAC%2CLCID%2CLRCX%2CLULU%2CMAR%2CMCHP%2CMDLZ%2CMELI%2CMETA%2CMNST%2CMRNA%2CMRVL%2CMSFT%2CMU%2CNFLX%2CNVDA%2CNXPI%2CODFL%2CON%2CORLY%2CPANW%2CPAYX%2CPCAR%2CPDD%2CPEP%2CPYPL%2CQCOM%2CREGN%2CROST%2CSBUX%2CSGEN%2CSIRI%2CSNPS%2CTEAM%2CTMUS%2CTSLA%2CTXN%2CVRSK%2CVRTX%2CWBA%2CWBD%2CWDAY%2CXEL%2CZM%2CZS&page_token=TFJDWHxEfDIwMjMtMDItMDhUMDU6MDA6MDAuMDAwMDAwMDAwWg%3D%3D
  response:
    body:
      string: '{"bars":{"MRNA":[{"t":"2023-01-03T05:00:00Z","o":180.85,"h":184.39,"l":178.23,"c":178.99,"v":4027466,"n":61378,"vw":180.563718},{"t":"2023-01-04T05:00:00Z","o":182.42,"h":183.61,"l":175.63,"c":177.36,"v":2840579,"n":53903,"vw":178.240783},{"t":"2023-01-05T05:00:00Z","o":174.8,"h":175.5135,"l":171.6,"c":173.51,"v":3045953,"n":59255,"vw":173.508266},{"t":"2023-01-06T05:00:00Z","o":174.96,"h":181.7399,"l":171.4,"c":180.35,"v":3575006,"n":66749,"vw":179.045091},{"t":"2023-01-09T05:00:00Z","o":181.8,"h":188.36,"l":1[...]
