interactions:
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://data.alpaca.markets/v2/stocks/bars?start=2023-01-01T00%3A00%3A00Z&end=2023-06-01T00%3A00%3A00Z&timeframe=1Day&adjustment=all&symbols=AAPL%2CACN%2CAMD%2CAMZN%2CBABA%2CBRK.B%2CCOIN%2CDIS%2CGOOGL%2CJPM%2CMETA%2CMSFT%2CNFLX%2CNVDA%2CORCL%2CPFE%2CSHOP%2CTSLA%2CV%2CWMT%2CZM
  response:
    body:
      string: '{"bars":{"BABA":[{"c":91.98,"h":94.45,"l":90.75,"n":246498,"o":91.11,"t":"2023-01-03T05:00:00Z","v":27891043,"vw":92.24457},{"c":103.92,"h":104.52,"l":96.97,"n":440630,"o":98.85,"t":"2023-01-04T05:00:00Z","v":53291751,"vw":101.208777},{"c":104.58,"h":105.7,"l":100.6401,"n":257137,"o":101.4,"t":"2023-01-05T05:00:00Z","v":30400384,"vw":104.014087},{"c":107.4,"h":108,"l":102.46,"n":192225,"o":104.11,"t":"2023-01-06T05:00:00Z","v":21054371,"vw":105.889505},{"c":110.83,"h":113.11,"l":108.12,"n":354055,"o":111.99,"t":"2023-01-09T05:00:00Z","v":42085274,"vw":111.002127},{"c":114.88,"h":115.48,"l":111.21,"n":266342[...]
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://data.alpaca.markets/v2/stocks/bars?start=2023-01-01T00%3A00%3A00Z&end=2023-06-01T00%3A00%3A00Z&timeframe=1Day&adjustment=all&symbols=AAPL%2CACN%2CAMD%2CAMZN%2CBABA%2CBRK.B%2CCOIN%2CDIS%2CGOOGL%2CJPM%2CMETA%2CMSFT%2CNFLX%2CNVDA%2CORCL%2CPFE%2CSHOP%2CTSLA%2CV%2CWMT%2CZM&page_token=SlBNfER8MTY4MTc5MDQwMDAwMDAwMDAwMA%3D%3D
  response:
    body:
      string: '{"bars":{"MSFT":[{"c":237.47,"h":243.59,"l":235.31,"n":314906,"o":240.94,"t":"2023-01-03T05:00:00Z","v":29619534,"vw":237.74},{"c":227.09,"h":230.82,"l":223.97,"n":679233,"o":230.23,"t":"2023-01-04T05:00:00Z","v":55137085,"vw":226.62},{"c":220.36,"h":225.55,"l":219.81,"n":471305,"o":225.2,"t":"2023-01-05T05:00:00Z","v":43602344,"vw":221.56},{"c":222.95,"h":223.78,"l":217.42,"n":495266,"o":221.04,"t":"2023-01-06T05:00:00Z","v":48614918,"vw":221.56},{"c":225.12,"h":229.2,"l":224.42,"n":363682,"o":224.46,"t":"2023[...]
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://data.alpaca.markets/v2/stocks/bars?start=2023-01-01T00%3A00%3A00Z&end=2023-06-01T00%3A00%3A00Z&timeframe=1Day&adjustment=all&symbols=AAPL%2CACN%2CAMD%2CAMZN%2CBABA%2CBRK.B%2CCOIN%2CDIS%2CGOOGL%2CJPM%2CMETA%2CMSFT%2CNFLX%2CNVDA%2CORCL%2CPFE%2CSHOP%2CTSLA%2CV%2CWMT%2CZM&page_token=V01UfER8MTY3ODA3ODgwMDAwMDAwMDAwMA%3D%3D
  response:
    body:
      string: '{"bars":{"WMT":[{"c":137.15,"h":139.55,"l":136.7,"n":87858,"o":139.05,"t":"2023-03-07T05:00:00Z","v":5795838,"vw":137.52},{"c":136.02,"h":136.83,"l":135.21,"n":81805,"o":136.47,"t":"2023-03-08T05:00:00Z","v":6363574,"vw":135.98},{"c":135.1,"h":136.89,"l":134.86,"n":70549,"o":136.74,"t":"2023-03-09T05:00:00Z","v":5138563,"vw":135.67},{"c":134.91,"h":136.2,"l":134.04,"n":95797,"o":134.96,"t":"2023-03-10T05:00:00Z","v":6686271,"vw":135.03},{"c":135.3,"h":136.41,"l":134.52,"n":94512,"o":134.62,"t":"2023-03-13T04:0[...]
