interactions:
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://data.alpaca.markets/v2/stocks/bars?start=2023-01-01T00%3A00%3A00%2B00%3A00&end=2023-03-04T00%3A00%3A00%2B00%3A00&timeframe=1Day&adjustment=all&symbols=AAPL%2CACN%2CAMD%2CAMZN%2CBABA%2CBRK.B%2CCOIN%2CDIS%2CGOOGL%2CJPM%2CMETA%2CMSFT%2CNFLX%2CNVDA%2CORCL%2CPFE%2CSHOP%2CTSLA%2CV%2CWMT%2CZM
  response:
    body:
      string: '{"bars":{"META":[{"c":124.74,"h":126.37,"l":122.28,"n":333903,"o":122.82,"t":"2023-01-03T05:00:00Z","v":37410812,"vw":124.260036},{"c":127.37,"h":129.0498,"l":125.85,"n":301931,"o":127.38,"t":"2023-01-04T05:00:00Z","v":34266523,"vw":127.420754},{"c":126.94,"h":128.52,"l":124.54,"n":255492,"o":126.125,"t":"2023-01-05T05:00:00Z","v":27319373,"vw":126.579632},{"c":130.02,"h":130.33,"l":126.04,"n":266705,"o":128.97,"t":"2023-01-06T05:00:00Z","v":29943202,"vw":129.020298},{"c":129.47,"h":132.95,"l":129.28,"n":275767,"o":131.16,"t":"2023-01-09T05:00:00Z","v":28716578,"vw":130.778163},{"c":132.99,"h":133.44,"l":127.15[...]
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://data.alpaca.markets/v2/stocks/bars?start=2021-01-31T00%3A00%3A00%2B00%3A00&end=2023-01-31T00%3A00%3A00%2B00%3A00&timeframe=1Day&adjustment=all&symbols=AAPL%2CACN%2CAMD%2CAMZN%2CBABA%2CBRK.B%2CCOIN%2CDIS%2CGOOGL%2CJPM%2CMETA%2CMSFT%2CNFLX%2CNVDA%2CORCL%2CPFE%2CSHOP%2CTSLA%2CV%2CWMT%2CZM
  response:
    body:
      string: '{"bars":{"ACN":[{"c":119.52,"h":120.16,"l":117.78,"n":26671,"o":118.81,"t":"2021-02-01T05:00:00Z","v":3650436,"vw":119.35},{"c":120.09,"h":121.38,"l":120.03,"n":31199,"o":120.69,"t":"2021-02-02T05:00:00Z","v":4573090,"vw":120.51},{"c":119.9,"h":120.74,"l":119.04,"n":32292,"o":119.82,"t":"2021-02-03T05:00:00Z","v":5668258,"vw":119.88},{"c":122.14,"h":122.15,"l":119.2,"n":26075,"o":120.48,"t":"2021-02-04T05:00:00Z","v":3881172,"vw":121.3},{"c":122.4,"h":123.47,"l":121.73,"n":23853,"o":122.67,"t":"2021-02-05T05:0[...]
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://data.alpaca.markets/v2/stocks/bars?start=2021-01-31T00%3A00%3A00%2B00%3A00&end=2023-01-31T00%3A00%3A00%2B00%3A00&timeframe=1Day&adjustment=all&symbols=AAPL%2CACN%2CAMD%2CAMZN%2CBABA%2CBRK.B%2CCOIN%2CDIS%2CGOOGL%2CJPM%2CMETA%2CMSFT%2CNFLX%2CNVDA%2CORCL%2CPFE%2CSHOP%2CTSLA%2CV%2CWMT%2CZM&page_token=QUNOfER8MTY3NDE5MDgwMDAwMDAwMDAwMA%3D%3D
  response:
    body:
      string: '{"bars":{"ACN":[{"c":138.46,"h":140.21,"l":137.51,"n":47907,"o":138.07,"t":"2023-01-23T05:00:00Z","v":5186634,"vw":138.72},{"c":136.24,"h":137.85,"l":135.3,"n":41783,"o":137.15,"t":"2023-01-24T05:00:00Z","v":4410540,"vw":136.46},{"c":135.39,"h":135.69,"l":131.68,"n":45964,"o":134.19,"t":"2023-01-25T05:00:00Z","v":5153096,"vw":134.37},{"c":135.94,"h":137.46,"l":134.26,"n":41168,"o":137.38,"t":"2023-01-26T05:00:00Z","v":3885262,"vw":135.65},{"c":137.43,"h":138.5,"l":135.29,"n":37860,"o":135.44,"t":"2023-01-27T05:00:00Z","v":4202130,"vw":137.33},{"c":135.97,"h":137.52,"l":135.47,"n":34520,"o":135.6,"t":"2023-01-30T05:00:00Z","v":3465858,"vw":136.35}],"AMD":[{"c":87.66,"h":87.95,"l":84.66,"n":396524,"o":86.83,"t":"2021-02-01T05:00:00Z","v":43775966,"vw":86.389196},{"c":88.86,"h":89.28,"l":86.95,"n":308403,"o":88.49,"t":"2021-02-02T05:00:00Z","v":34969781,"vw":88.177646},{"c":87.89,"h":89.48,"l":87.34,"n":275916,"o":88.6,"t":"2021-02-03T05:00:00Z","v":33398304,"vw":88.089355},{"c":87.84,"h":88.6,"l":87.06,"n":242560,"o":88.22,"t":"2021-02-04T05:00:00Z","v":32023281,"vw":87.790967},{"c":87.9,"h":88.36,"l":86.875,"n":238851,"o":88.15,"t":"2021-02-05T0[...]
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://data.alpaca.markets/v2/stocks/bars?start=2021-01-31T00%3A00%3A00%2B00%3A00&end=2023-01-31T00%3A00%3A00%2B00%3A00&timeframe=1Day&adjustment=all&symbols=AAPL%2CACN%2CAMD%2CAMZN%2CBABA%2CBRK.B%2CCOIN%2CDIS%2CGOOGL%2CJPM%2CMETA%2CMSFT%2CNFLX%2CNVDA%2CORCL%2CPFE%2CSHOP%2CTSLA%2CV%2CWMT%2CZM&page_token=QU1aTnxEfDE2NzM0MTMyMDAwMDAwMDAwMDA%3D
  response:
    body:
      string: '{"bars":{"AMZN":[{"c":95.27,"h":97.19,"l":93.5,"n":630930,"o":96.93,"t":"2023-01-12T05:00:00Z","v":91854294,"vw":95.249076},{"c":98.12,"h":98.37,"l":94.12,"n":617234,"o":94.18,"t":"2023-01-13T05:00:00Z","v":91410078,"vw":97.035224},{"c":96.05,"h":98.89,"l":95.73,"n":600671,"o":98.68,"t":"2023-01-17T05:00:00Z","v":78692957,"vw":96.749424},{"c":95.46,"h":99.32,"l":95.38,"n":581772,"o":97.25,"t":"2023-01-18T05:00:00Z","v":84623953,"vw":96.809028},{"c":93.68,"h":95.44,"l":92.86,"n":502115,"o":94.74,"t":"2023-01-19T05:00:00Z","v":74479517,"vw":93.896284},{"c":97.25,"h":97.354,"l":93.2025,"n":464798,"o":93.86,"t":"2023-01-20T05:00:00Z","v":76709267,"vw":95.848403},{"c":97.52,"h":97.78,"l":95.86,"n":589241,"o":97.56,"t":"2023-01-23T05:00:00Z","v":81523746,"vw":97.236825},{"c":96.32,"h":98.09,"l":96,"n":480421,"o":96.93,"t":"2023-01-24T05:00:00Z","v":70538986,"vw":97.03579},{"c":97.18,"h":97.24,"l":91.52,"n":696995,"o":92.56,"t":"2023-01-25T05:00:00Z","v":100193656,"vw":94.666863},{"c":99.22,"h":99.49,"l":96.92,"n":531134,"o":98.235,"t":"2023-01-26T05:00:00Z","v":73569180,"vw":98.562805},{"c":102.24,"h":103.485,"l":99.53,"n":643599,"o":99.53,"t":"2023-01-27T05:00:00Z","v":93851850,"vw":101.845244},{"c":100.55,"h":101.74,"l":99.01,"n":566994,"o":101.09,"t":"2023-01-30T05:00:00Z","v":74879825,"vw":100.580833}],"BABA":[{"c":264.69,"h":265,"l":255.195,"n":192610,"o":258.8,"t":"2021-02-01T05:00:00Z","v":15833732,"vw":261.01038},{"c":254.5,"h":265,"l":254.04,"n":375147,"o":264.57,"t":"2021-02-02T05:00:00Z","v":31445337,"vw":257.760264},{"c":263.43,"h":268.28,"l":261.2501,"n":344306,"o":264.7,"t":"2021-02-03T05:00:00Z","v":30513937,"vw":265.471164},{"c":266.96,"h":269.99,"l":265.5576,"n":200713,"o":269.58,"t":"2021-02-04T05:00:00Z","v":18071701,"vw":267.367927},{"c":265.67,"h":266.45,"l":263.21,"n":143646,"o":264[...]
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://data.alpaca.markets/v2/stocks/bars?start=2021-01-31T00%3A00%3A00%2B00%3A00&end=2023-01-31T00%3A00%3A00%2B00%3A00&timeframe=1Day&adjustment=all&symbols=AAPL%2CACN%2CAMD%2CAMZN%2CBABA%2CBRK.B%2CCOIN%2CDIS%2CGOOGL%2CJPM%2CMETA%2CMSFT%2CNFLX%2CNVDA%2CORCL%2CPFE%2CSHOP%2CTSLA%2CV%2CWMT%2CZM&page_token=QlJLLkJ8RHwxNjcyNzIyMDAwMDAwMDAwMDAw
  response:
    body:
      string: '{"bars":{"BRK.B":[{"c":314.55,"h":316.89,"l":311.25,"n":72103,"o":312,"t":"2023-01-04T05:00:00Z","v":5122121,"vw":314.351024},{"c":312.9,"h":314.23,"l":310,"n":63170,"o":313.574,"t":"2023-01-05T05:00:00Z","v":3418149,"vw":312.46974},{"c":318.69,"h":320.16,"l":313.38,"n":64390,"o":315,"t":"2023-01-06T05:00:00Z","v":3647846,"vw":318.048522},{"c":315.53,"h":320.5,"l":314.75,"n":67465,"o":319.02,"t":"2023-01-09T05:00:00Z","v":4399047,"vw":317.36177},{"c":316.35,"h":316.8,"l":313.34,"n":51338,"o":315,"t":"2023-01-10T[...]
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://data.alpaca.markets/v2/stocks/bars?start=2021-01-31T00%3A00%3A00%2B00%3A00&end=2023-01-31T00%3A00%3A00%2B00%3A00&timeframe=1Day&adjustment=all&symbols=AAPL%2CACN%2CAMD%2CAMZN%2CBABA%2CBRK.B%2CCOIN%2CDIS%2CGOOGL%2CJPM%2CMETA%2CMSFT%2CNFLX%2CNVDA%2CORCL%2CPFE%2CSHOP%2CTSLA%2CV%2CWMT%2CZM&page_token=R09PR0x8RHwxNjE1MjY2MDAwMDAwMDAwMDAw
  response:
    body:
      string: '{"bars":{"GOOGL":[{"c":101.81,"h":103.07,"l":100.97,"n":69806,"o":103.07,"t":"2021-03-10T05:00:00Z","v":29425660,"vw":101.96},{"c":105.03,"h":105.56,"l":102.82,"n":64160,"o":102.91,"t":"2021-03-11T05:00:00Z","v":30685520,"vw":104.67},{"c":102.5,"h":103.88,"l":101.62,"n":85694,"o":103.82,"t":"2021-03-12T05:00:00Z","v":37568220,"vw":102.49},{"c":102.72,"h":102.75,"l":101.39,"n":63485,"o":102.25,"t":"2021-03-15T04:00:00Z","v":29245880,"vw":102.18},{"c":104.19,"h":105.68,"l":102.96,"n":72425,"o":103.3,"t":"2021-03-1[...]
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://data.alpaca.markets/v2/stocks/bars?start=2021-01-31T00%3A00%3A00%2B00%3A00&end=2023-01-31T00%3A00%3A00%2B00%3A00&timeframe=1Day&adjustment=all&symbols=AAPL%2CACN%2CAMD%2CAMZN%2CBABA%2CBRK.B%2CCOIN%2CDIS%2CGOOGL%2CJPM%2CMETA%2CMSFT%2CNFLX%2CNVDA%2CORCL%2CPFE%2CSHOP%2CTSLA%2CV%2CWMT%2CZM&page_token=RkJ8RHwxNjE0NTc0ODAwMDAwMDAwMDAw
  response:
    b[...]
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://data.alpaca.markets/v2/stocks/bars?start=2021-01-31T00%3A00%3A00%2B00%3A00&end=2023-01-31T00%3A00%3A00%2B00%3A00&timeframe=1Day&adjustment=all&symbols=AAPL%2CACN%2CAMD%2CAMZN%2CBABA%2CBRK.B%2CCOIN%2CDIS%2CGOOGL%2CJPM%2CMETA%2CMSFT%2CNFLX%2CNVDA%2CORCL%2CPFE%2CSHOP%2CTSLA%2CV%2CWMT%2CZM&page_token=TkZMWHxEfDE2MTM3MTA4MDAwMDAwMDAwMDA%3D
  response:
    body:
      string: '{"bars":{"NFLX":[{"c":533.78,"h":541.79,"l":530.79,"n":83123,"o":534.99,"t":"2021-02-22T05:00:00Z","v":3396240,"vw":535.190229},{"c":546.15,"h":548.54,"l":518.28,"n":114866,"o":525.0035,"t":"2021-02-23T05:00:00Z","v":4468287,"vw":537.197065},{"c":553.41,"h":556.8499,"l":539.065,"n":82959,"o":539.8,"t":"2021-02-24T05:00:00Z","v":3508959,"vw":550.518135},{"c":546.7,"h":556.48,"l":535.75,"n":106534,"o":550.27,"t":"2021-02-25T05:00:00Z","v":4608320,"vw":545.498379},{"c":538.85,"h":553.09,"l":538,"n":93731,"o":546.5[...]
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://data.alpaca.markets/v2/stocks/bars?start=2021-01-31T00%3A00%3A00%2B00%3A00&end=2023-01-31T00%3A00%3A00%2B00%3A00&timeframe=1Day&adjustment=all&symbols=AAPL%2CACN%2CAMD%2CAMZN%2CBABA%2CBRK.B%2CCOIN%2CDIS%2CGOOGL%2CJPM%2CMETA%2CMSFT%2CNFLX%2CNVDA%2CORCL%2CPFE%2CSHOP%2CTSLA%2CV%2CWMT%2CZM&page_token=T1JDTHxEfDE2MTI5MzMyMDAwMDAwMDAwMDA%3D
  response:
    body:
      string: '{"bars":{"ORCL":[{"c":60.03,"h":61.24,"l":59.62,"n":55982,"o":60.85,"t":"2021-02-11T05:00:00Z","v":8719221,"vw":60.15},{"c":60.39,"h":60.43,"l":59.65,"n":44870,"o":59.66,"t":"2021-02-12T05:00:00Z","v":7543938,"vw":60.11},{"c":59.49,"h":60.56,"l":59.45,"n":48237,"o":60.42,"t":"2021-02-16T05:00:00Z","v":8901396,"vw":59.68},{"c":59.44,"h":59.5,"l":58.74,"n":46422,"o":59.19,"t":"2021-02-17T05:00:00Z","v":7156135,"vw":59.25},{"c":59.42,"h":59.55,"l":59.03,"n":48399,"o":59.17,"t":"2021-02-18T05:00:00Z","v":7110790,"v[...]
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://data.alpaca.markets/v2/stocks/bars?start=2021-01-31T00%3A00%3A00%2B00%3A00&end=2023-01-31T00%3A00%3A00%2B00%3A00&timeframe=1Day&adjustment=all&symbols=AAPL%2CACN%2CAMD%2CAMZN%2CBABA%2CBRK.B%2CCOIN%2CDIS%2CGOOGL%2CJPM%2CMETA%2CMSFT%2CNFLX%2CNVDA%2CORCL%2CPFE%2CSHOP%2CTSLA%2CV%2CWMT%2CZM&page_token=U0hPUHxEfDE2MTIyNDIwMDAwMDAwMDAwMDA%3D
  response:
    body:
      string: '{"bars":{"TSLA":[{"c":279.94,"h":280.67,"l":265.19,"n":817451,"o":271.43,"t":"2021-02-01T05:00:00Z","v":78524289,"vw":274.51},{"c":290.93,"h":293.5,"l":280.73,"n":712169,"o":281.56,"t":"2021-02-02T05:00:00Z","v":74696652,"vw":289.9},{"c":284.9,"h":292.69,"l":284.35,"n":565776,"o":292.34,"t":"2021-02-03T05:00:00Z","v":56161539,"vw":287.06},{"c":283.33,"h":285.5,"l":277.81,"n":488970,"o":285,"t":"2021-02-04T05:00:00Z","v":48469806,"vw":281.56},{"c":284.08,"h":288.26,"l":279.66,"n":501682,"o":281.67,"t":"2021-02-0[...]
