interactions:
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://data.alpaca.markets/v2/stocks/bars?start=2023-01-01T00%3A00%3A00Z&end=2023-03-04T00%3A00%3A00Z&timeframe=1Day&adjustment=all&symbols=AAPL%2CACN%2CAMD%2CAMZN%2CBABA%2CBRK.B%2CCOIN%2CDIS%2CGOOGL%2CJPM%2CMETA%2CMSFT%2CNFLX%2CNVDA%2CORCL%2CPFE%2CSHOP%2CTSLA%2CV%2CWMT%2CZM
  response:
    body:
      string: '{"bars":{"ACN":[{"t":"2023-01-03T05:00:00Z","o":267.08,"h":271.26,"l":264.94,"c":268.13,"v":2222598,"n":38713,"vw":267.62},{"t":"2023-01-04T05:00:00Z","o":271.27,"h":272.81,"l":264.9,"c":267.22,"v":2037169,"n":42484,"vw":268.34},{"t":"2023-01-05T05:00:00Z","o":265.31,"h":266.02,"l":259.34,"c":260.91,"v":2460434,"n":41558,"vw":262.27},{"t":"2023-01-06T05:00:00Z","o":261.9,"h":268.36,"l":259.31,"c":267.09,"v":1576310,"n":33620,"vw":265.62},{"t":"2023-01-09T05:00:00Z","o":269.78,"h":276.29,"l":269.36,"c":271.59,"v":2181550,"n":42104,"vw":272.68},{"t":"2023-01-10T05:00:00Z","o":271.18,"h":274.11,"l":269.13,"c":2[...]
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://data.alpaca.markets/v2/stocks/bars?start=2021-01-31T00%3A00%3A00Z&end=2023-01-31T00%3A00%3A00Z&timeframe=1Day&adjustment=all&symbols=AAPL%2CACN%2CAMD%2CAMZN%2CBABA%2CBRK.B%2CCOIN%2CDIS%2CGOOGL%2CJPM%2CMETA%2CMSFT%2CNFLX%2CNVDA%2CORCL%2CPFE%2CSHOP%2CTSLA%2CV%2CWMT%2CZM
  response:
    body:
      string: '{"bars":{"AAPL":[{"t":"2021-02-01T05:00:00Z","o":131.78,"h":133.39,"l":129,"c":132.12,"v":106247823,"n":924207,"vw":131.82},{"t":"2021-02-02T05:00:00Z","o":133.73,"h":134.3,"l":132.63,"c":133,"v":83312942,"n":689679,"vw":133.23},{"t":"2021-02-03T05:00:00Z","o":133.76,"h":133.77,"l":131.64,"c":131.97,"v":89880937,"n":699070,"vw":132.61},{"t":"2021-02-04T05:00:00Z","o":134.29,"h":135.38,"l":132.61,"c":135.37,"v":84183568,"n":658080,"vw":134.18},{"t":"2021-02-05T05:00:00Z","o":135.53,"h":135.6,"l":134.06,"c":134.9[...]
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://data.alpaca.markets/v2/stocks/bars?start=2021-01-31T00%3A00%3A00Z&end=2023-01-31T00%3A00%3A00Z&timeframe=1Day&adjustment=all&symbols=AAPL%2CACN%2CAMD%2CAMZN%2CBABA%2CBRK.B%2CCOIN%2CDIS%2CGOOGL%2CJPM%2CMETA%2CMSFT%2CNFLX%2CNVDA%2CORCL%2CPFE%2CSHOP%2CTSLA%2CV%2CWMT%2CZM&page_token=QUNOfER8MjAyMy0wMS0yMFQwNTowMDowMC4wMDAwMDAwMDBa
  response:
    body:
      string: '{"bars":{"AMD":[{"t":"2021-02-01T05:00:00Z","o":86.83,"h":87.95,"l":84.66,"c":87.66,"v":42359344,"n":396521,"vw":86.355155},{"t":"2021-02-02T05:00:00Z","o":88.49,"h":89.28,"l":86.95,"c":88.86,"v":33850049,"n":308401,"vw":88.158641},{"t":"2021-02-03T05:00:00Z","o":88.6,"h":89.48,"l":87.34,"c":87.89,"v":32312885,"n":275914,"vw":88.087988},{"t":"2021-02-04T05:00:00Z","o":88.22,"h":88.6,"l":87.06,"c":87.84,"v":30791641,"n":242558,"vw":87.785038},{"t":"2021-02-05T05:00:00Z","o":88.15,"h":88.36,"l":86.875,"c":87.9,"[...]
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://data.alpaca.markets/v2/stocks/bars?start=2021-01-31T00%3A00%3A00Z&end=2023-01-31T00%3A00%3A00Z&timeframe=1Day&adjustment=all&symbols=AAPL%2CACN%2CAMD%2CAMZN%2CBABA%2CBRK.B%2CCOIN%2CDIS%2CGOOGL%2CJPM%2CMETA%2CMSFT%2CNFLX%2CNVDA%2CORCL%2CPFE%2CSHOP%2CTSLA%2CV%2CWMT%2CZM&page_token=QU1aTnxEfDIwMjMtMDEtMTFUMDU6MDA6MDAuMDAwMDAwMDAwWg%3D%3D
  response:
    body:
      string: '{"bars":{"AMZN":[{"t":"2023-01-12T05:00:00Z","o":96.93,"h":97.19,"l":93.5,"c":95.27,"v":85267331,"n":630928,"vw":95.218127},{"t":"2023-01-13T05:00:00Z","o":94.18,"h":98.37,"l":94.12,"c":98.12,"v":85526808,"n":619508,"vw":96.997418},{"t":"2023-01-17T05:00:00Z","o":98.68,"h":98.89,"l":95.73,"c":96.05,"v":72891286,"n":602517,"vw":96.763797},{"t":"2023-01-18T05:00:00Z","o":97.25,"h":99.32,"l":95.38,"c":95.46,"v":79656201,"n":582803,"vw":96.879331},{"t":"2023-01-19T05:00:00Z","o":94.74,"h":95.44,"l":92.86,"c":93.68,"v":69207777,"n":503083,"vw":93.903251},{"t":"2023-01-20T05:00:00Z","o":93.86,"h":97.354,"l":93.2025,"c":97.25,"v":67606577,"n":467437,"vw":95.82294},{"t":"2023-01-23T05:00:00Z","o":97.56,"h":97.78,"l":95.86,"c":97.52,"v":76551334,"n":590293,"vw":97.217781},{"t":"2023-01-24T05:00:00Z","o":96.93,"h":98.09,"l":96,"c":96.32,"v":68157432,"n":489729,"vw":97.05255},{"t":"2023-01-25T05:00:00Z","o":92.56,"h":97.24,"l":91.52,"c":97.18,"v":94384164,"n":698642,"vw":94.562197},{"t":"2023-01-26T05:00:00Z","o":98.235,"h":99.49,"l":96.92,"c":99.22,"v":68561439,"n":532250,"vw":98.522098},{"t":"2023-01-27T05:00:00Z","o":99.53,"h":103.485,"l":99.53,"c":102.24,"v":87777221,"n":645609,"vw":101.8376},{"t":"2023-01-30T05:00:00Z","o":101.09,"h":101.74,"l":99.01,"c":100.55,"v":70738247,"n":567894,"vw":100.582766}],"BABA":[{"t":"2021-02-01T05:00:00Z","o":258.8,"h":265,"l":255.195,"c":264.69,"v":15289401,"n":192608,"vw":260.87939},{"t":"2021-02-02T05:00:00Z","o":264.57,"h":265,"l":254.04,"c":254.5,"v":30534454,"n":375145,"vw":257.857499},{"t":"2021-02-03T05:00:00Z","o":264.7,"h":268.28,"l":261.2501,"c":263.43,"v":29179813,"n":344305,"vw":265.564488},{"t":"2021-02-04T05:00:00Z","o":269.58,"h":269.99,"l":265.5576,"c":266.96,"v":16762978,"n":200711,"vw":267.399769},{"t":"2021-02-05T05:00:00Z","o":264.61,"h":266.45,"l[...]
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://data.alpaca.markets/v2/stocks/bars?start=2021-01-31T00%3A00%3A00Z&end=2023-01-31T00%3A00%3A00Z&timeframe=1Day&adjustment=all&symbols=AAPL%2CACN%2CAMD%2CAMZN%2CBABA%2CBRK.B%2CCOIN%2CDIS%2CGOOGL%2CJPM%2CMETA%2CMSFT%2CNFLX%2CNVDA%2CORCL%2CPFE%2CSHOP%2CTSLA%2CV%2CWMT%2CZM&page_token=QlJLLkJ8RHwyMDIzLTAxLTAzVDA1OjAwOjAwLjAwMDAwMDAwMFo%3D
  response:
    body:
      string: '{"bars":{"GOOGL":[{"t":"2021-02-01T05:00:00Z","o":92.23,"h":95.78,"l":92.23,"c":94.65,"v":40252060,"n":98572,"vw":94.17},{"t":"2021-02-02T05:00:00Z","o":95.66,"h":97.47,"l":95.32,"c":95.96,"v":66332400,"n":135480,"vw":97.44},{"t":"2021-02-03T05:00:00Z","o":103.28,"h":105.33,"l":100.68,"c":102.94,"v":97881640,"n":179311,"vw":103.39},{"t":"2021-02-04T05:00:00Z","o":103.03,"h":103.47,"l":101.76,"c":102.68,"v":48595600,"n":100655,"vw":102.45},{"t":"2021-02-05T05:00:00Z","o":102.98,"h":104.8,"l":102.5,"c":104.44,"v":[...]
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://data.alpaca.markets/v2/stocks/bars?start=2021-01-31T00%3A00%3A00Z&end=2023-01-31T00%3A00%3A00Z&timeframe=1Day&adjustment=all&symbols=AAPL%2CACN%2CAMD%2CAMZN%2CBABA%2CBRK.B%2CCOIN%2CDIS%2CGOOGL%2CJPM%2CMETA%2CMSFT%2CNFLX%2CNVDA%2CORCL%2CPFE%2CSHOP%2CTSLA%2CV%2CWMT%2CZM&page_token=R09PR0x8RHwyMDIxLTAzLTA5VDA1OjAwOjAwLjAwMDAwMDAwMFo%3D
  response:
    body:
      string: '{"bars":{"META":[{"t":"2021-02-01T05:00:00Z","o":259.52,"h":264.17,"l":254.91,"c":262.01,"v":22914291,"n":276239,"vw":260.476447},{"t":"2021-02-02T05:00:00Z","o":264,"h":268.85,"l":263.27,"c":267.08,"v":17322084,"n":218955,"vw":266.941097},{"t":"2021-02-03T05:00:00Z","o":265.62,"h":269.2,"l":263.84,"c":266.65,"v":14223427,"n":192826,"vw":266.951637},{"t":"2021-02-04T05:00:00Z","o":267.01,"h":268.16,"l":264,"c":266.49,"v":16059958,"n":180613,"vw":265.674107},{"t":"2021-02-05T05:00:00Z","o":266.8,"h":269.17,"l":2[...]
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://data.alpaca.markets/v2/stocks/bars?start=2021-01-31T00%3A00%3A00Z&end=2023-01-31T00%3A00%3A00Z&timeframe=1Day&adjustment=all&symbols=AAPL%2CACN%2CAMD%2CAMZN%2CBABA%2CBRK.B%2CCOIN%2CDIS%2CGOOGL%2CJPM%2CMETA%2CMSFT%2CNFLX%2CNVDA%2CORCL%2CPFE%2CSHOP%2CTSLA%2CV%2CWMT%2CZM&page_token=RkJ8RHwyMDIxLTAzLTAxVDA1OjAwOjAwLjAwMDAwMDAwMFo%3D
  response:
    body:
      string: '{"bars":{"NFLX":[{"t":"2021-02-01T05:00:00Z","o":536.79,"h":545.06,"l":531.73,"c":539.04,"v":3547507,"n":85149,"vw":539.061882},{"t":"2021-02-02T05:00:00Z","o":542.01,"h":555.48,"l":538.935,"c":548.16,"v":3767569,"n":97617,"vw":550.431877},{"t":"2021-02-03T05:00:00Z","o":550.17,"h":550.48,"l":538.243,"c":539.45,"v":3172288,"n":80360,"vw":541.983544},{"t":"2021-02-04T05:00:00Z","o":539.81,"h":559.48,"l":537.51,"c":552.16,"v":5164537,"n":118019,"vw":550.015303},{"t":"2021-02-05T05:00:00Z","o":552.26,"h":554.44,"l[...]
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://data.alpaca.markets/v2/stocks/bars?start=2021-01-31T00%3A00%3A00Z&end=2023-01-31T00%3A00%3A00Z&timeframe=1Day&adjustment=all&symbols=AAPL%2CACN%2CAMD%2CAMZN%2CBABA%2CBRK.B%2CCOIN%2CDIS%2CGOOGL%2CJPM%2CMETA%2CMSFT%2CNFLX%2CNVDA%2CORCL%2CPFE%2CSHOP%2CTSLA%2CV%2CWMT%2CZM&page_token=TkZMWHxEfDIwMjEtMDItMTlUMDU6MDA6MDAuMDAwMDAwMDAwWg%3D%3D
  response:
    body:
      string: '{"bars":{"ORCL":[{"t":"2021-02-01T05:00:00Z","o":58.74,"h":59.79,"l":58.57,"c":59.31,"v":10553525,"n":67145,"vw":59.37},{"t":"2021-02-02T05:00:00Z","o":59.66,"h":60.67,"l":59.58,"c":60.14,"v":10528004,"n":67020,"vw":60.28},{"t":"2021-02-03T05:00:00Z","o":59.95,"h":60.5,"l":59.76,"c":59.94,"v":9933501,"n":57097,"vw":60.12},{"t":"2021-02-04T05:00:00Z","o":60.07,"h":61.12,"l":60.02,"c":61.08,"v":9928668,"n":59391,"vw":60.82},{"t":"2021-02-05T05:00:00Z","o":61.23,"h":61.77,"l":61.01,"c":61.32,"v":9170225,"n":49241,"vw":61.47},{"t":"2021-02-08T05:00:00Z","o":61.51,"h":61.58,"l":60.59,"c":60.85,"v":7003488,"n":48742,"vw":60.88},{"t":"2021-02-09T05:00:00Z","o":60.82,"h":61.56,"l":60.66,"c":61.39,"v":5437365,"n":43055,"vw":61.33},{"t":"2021-02-10T05:00:00Z","o":61.55,"h":61.61,"l":60.68,"c":61,"v":9577544,"n":68023,"vw":61}],"NVDA":[{"t":"2021-02-01T05:00:00Z","o":130.27,"h":132.44,"l":128.76,"c":132.1,"v":21720432,"n":132035,"vw":131.18},{"t":"2021-02-02T05:00:00Z","o":133.71,"h":135.44,"l":132.58,"c":135.29,"v":22043828,"n":130079,"vw":134.26},{"t":"2021-02-03T05:00:00Z","o":136.08,"h":139.03,"l":134.89,"c":135.03,"v":24800128,"n":147000,"vw":136.55},{"t":"2021-02-04T05:00:00Z","o":135.03,"h":136.46,"l":133.11,"c":136.36,"v":20133908,"n":104514,"vw":135.15},{"t":"2021-02-05T05:00:00Z","o":136.97,"h":137.09,"l":135.18,"c"[...]
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://data.alpaca.markets/v2/stocks/bars?start=2021-01-31T00%3A00%3A00Z&end=2023-01-31T00%3A00%3A00Z&timeframe=1Day&adjustment=all&symbols=AAPL%2CACN%2CAMD%2CAMZN%2CBABA%2CBRK.B%2CCOIN%2CDIS%2CGOOGL%2CJPM%2CMETA%2CMSFT%2CNFLX%2CNVDA%2CORCL%2CPFE%2CSHOP%2CTSLA%2CV%2CWMT%2CZM&page_token=T1JDTHxEfDIwMjEtMDItMTBUMDU6MDA6MDAuMDAwMDAwMDAwWg%3D%3D
  response:
    body:
      string: '{"bars":{"PFE":[{"t":"2021-02-01T05:00:00Z","o":33.18,"h":33.42,"l":32.98,"c":33.06,"v":40395805,"n":196410,"vw":33.13},{"t":"2021-02-02T05:00:00Z","o":33.02,"h":33.04,"l":31.65,"c":32.31,"v":84064284,"n":396423,"vw":32.22},{"t":"2021-02-03T05:00:00Z","o":32.31,"h":32.59,"l":32.12,"c":32.17,"v":38524232,"n":185114,"vw":32.25},{"t":"2021-02-04T05:00:00Z","o":32.14,"h":32.39,"l":32.04,"c":32.22,"v":34284903,"n":156812,"vw":32.23},{"t":"2021-02-05T05:00:00Z","o":32.25,"h":32.39,"l":32.12,"c":32.25,"v":31749594,"n[...]
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://data.alpaca.markets/v2/stocks/bars?start=2021-01-31T00%3A00%3A00Z&end=2023-01-31T00%3A00%3A00Z&timeframe=1Day&adjustment=all&symbols=AAPL%2CACN%2CAMD%2CAMZN%2CBABA%2CBRK.B%2CCOIN%2CDIS%2CGOOGL%2CJPM%2CMETA%2CMSFT%2CNFLX%2CNVDA%2CORCL%2CPFE%2CSHOP%2CTSLA%2CV%2CWMT%2CZM&page_token=U0hPUHxEfDIwMjEtMDItMDJUMDU6MDA6MDAuMDAwMDAwMDAwWg%3D%3D
  response:
    body:
      string: '{"bars":{"SHOP":[{"t":"2021-02-03T05:00:00Z","o":123.54,"h":124.6,"l":119.52,"c":122.42,"v":11629060,"n":41698,"vw":122.4},{"t":"2021-02-04T05:00:00Z","o":124.33,"h":128.17,"l":123.34,"c":126.09,"v":14236620,"n":45741,"vw":126.35},{"t":"2021-02-05T05:00:00Z","o":126.15,"h":129.68,"l":125.26,"c":128.78,"v":10474670,"n":33581,"vw":128.22},{"t":"2021-02-08T05:00:00Z","o":130.39,"h":134.83,"l":129.3,"c":134.51,"v":12522200,"n":42457,"vw":132.49},{"t":"2021-02-09T05:00:00Z","o":136.55,"h":145.35,"l":135.6,"c":143.3,[...]
