interactions:
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://data.alpaca.markets/v2/stocks/bars?start=2023-01-01T00%3A00%3A00Z&end=2023-06-01T00%3A00%3A00Z&timeframe=1Day&adjustment=all&symbols=AAPL%2CACN%2CAMD%2CAMZN%2CBABA%2CBRK.B%2CCOIN%2CDIS%2CGOOGL%2CJPM%2CMETA%2CMSFT%2CNFLX%2CNVDA%2CORCL%2CPFE%2CSHOP%2CTSLA%2CV%2CWMT%2CZM
  response:
    body:
      string: '{"bars":{"AAPL":[{"t":"2023-01-03T05:00:00Z","o":129.9,"h":130.52,"l":123.81,"c":124.71,"v":112084324,"n":1020782,"vw":125.36},{"t":"2023-01-04T05:00:00Z","o":126.52,"h":128.28,"l":124.72,"c":125.99,"v":89072202,"n":769281,"vw":126.28},{"t":"2023-01-05T05:00:00Z","o":126.76,"h":127.37,"l":124.4,"c":124.66,"v":81246605,"n":663745,"vw":125.72},{"t":"2023-01-06T05:00:00Z","o":125.64,"h":129.91,"l":124.53,"c":129.24,"v":87758343,"n":711520,"vw":127.83},{"t":"2023-01-09T05:00:00Z","o":130.09,"h":133.02,"l":129.51,"c":129.77,"v":70832518,"n":647372,"vw":131.25},{"t":"2023-01-10T05:00:00Z","o":129.88,"h":130.88,"l":127[...]
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://data.alpaca.markets/v2/stocks/bars?start=2023-01-01T00%3A00%3A00Z&end=2023-06-01T00%3A00%3A00Z&timeframe=1Day&adjustment=all&symbols=AAPL%2CACN%2CAMD%2CAMZN%2CBABA%2CBRK.B%2CCOIN%2CDIS%2CGOOGL%2CJPM%2CMETA%2CMSFT%2CNFLX%2CNVDA%2CORCL%2CPFE%2CSHOP%2CTSLA%2CV%2CWMT%2CZM&page_token=SlBNfER8MjAyMy0wNC0xOFQwNDowMDowMC4wMDAwMDAwMDBa
  response:
    body:
      string: '{"bars":{"META":[{"t":"2023-01-03T05:00:00Z","o":122.82,"h":126.37,"l":122.28,"c":124.74,"v":35524572,"n":333849,"vw":124.250576},{"t":"2023-01-04T05:00:00Z","o":127.38,"h":129.0498,"l":125.85,"c":127.37,"v":32356280,"n":301377,"vw":127.424694},{"t":"2023-01-05T05:00:00Z","o":126.125,"h":128.52,"l":124.54,"c":126.94,"v":25408936,"n":254914,"vw":126.561671},{"t":"2023-01-06T05:00:00Z","o":128.97,"h":130.33,"l":126.04,"c":130.02,"v":27584578,"n":267162,"vw":128.940585},{"t":"2023-01-09T05:00:00Z","o":131.16,"h":1[...]
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://data.alpaca.markets/v2/stocks/bars?start=2023-01-01T00%3A00%3A00Z&end=2023-06-01T00%3A00%3A00Z&timeframe=1Day&adjustment=all&symbols=AAPL%2CACN%2CAMD%2CAMZN%2CBABA%2CBRK.B%2CCOIN%2CDIS%2CGOOGL%2CJPM%2CMETA%2CMSFT%2CNFLX%2CNVDA%2CORCL%2CPFE%2CSHOP%2CTSLA%2CV%2CWMT%2CZM&page_token=V01UfER8MjAyMy0wMy0wNlQwNTowMDowMC4wMDAwMDAwMDBa
  response:
    body:
      string: '{"bars":{"WMT":[{"t":"2023-03-07T05:00:00Z","o":140.07,"h":140.57,"l":137.7,"c":138.16,"v":5796124,"n":87893,"vw":138.53},{"t":"2023-03-08T05:00:00Z","o":137.47,"h":137.83,"l":136.2,"c":137.01,"v":6363846,"n":81830,"vw":136.98},{"t":"2023-03-09T05:00:00Z","o":137.74,"h":137.89,"l":135.84,"c":136.09,"v":5139069,"n":70590,"vw":136.66},{"t":"2023-03-10T05:00:00Z","o":135.94,"h":137.19,"l":135.02,"c":135.89,"v":6688361,"n":95851,"vw":136.02},{"t":"2023-03-13T04:00:00Z","o":135.61,"h":137.41,"l":135.51,"c":136.29,"[...]
