interactions:
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://paper-api.alpaca.markets/v2/orders?status=all&limit=500
  response:
    body:
      string: '[{"id":"59374b17-ba44-4bea-a1c1-2e4e1cb8e111","client_order_id":"9c881bab-69bb-4e86-a108-b002e6da1cab","created_at":"2023-12-13T08:04:37.375027Z","updated_at":"2023-12-13T14:30:09.16381Z","submitted_at":"2023-12-13T09:00:04.88984Z","filled_at":"2023-12-13T14:30:09.161127Z","expired_at":null,"canceled_at":null,"failed_at":null,"replaced_at":null,"replaced_by":null,"replaces":null,"asset_id":"b6d1aa75-5c9c-4353-a305-9e2caa1925ab","symbol":"MSFT","asset_class":"us_equity","notional":null,"qty":"2","filled_qty":"2","filled_avg_price":"376.17","order_class":"","order_type":"market","type":"market","side":"sell","position_intent":"sell_to_close","time_in_force":"day","limit_price":null,"stop_price":null,"status":"filled","extended_hours":false,"legs":null,"trail_percent":null,"trail_price":null,"hwm":null,"subtag":null,"source":"access_key"},{"id":"5c12759f-fb9c-4c79-beb0-96b24d627c64","client_order_id":"19313160-86b9-44c6-a7f9-cc0574ec9e2f","created_at":"2023-12-13T08:04:37.375793Z","updated_at":"2023-12-13T14:30:11.456136Z","submitted_at":"2023-12-13T09:00:04.885053Z","filled_at":"2023-12-13T14:30:11.453455Z","expired_at":null,"canceled_at":null,"failed_at":null,"replaced_at":null,"replaced_by":null,"replaces":null,"asset_id":"af898beb-7df0-4dea-8b02-d6c5f4f70137","symbol":"TRV","asset_class":"us_equity","notional":n[...]
