interactions:
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://paper-api.alpaca.markets/v2/account/portfolio/history?timeframe=1D
  response:
    body:
      string: '{"timestamp":[1686700800,1686787200,1686873600,1686960000,1687305600,1687392000,1687478400,1687564800,1687824000,1687910400,1687996800,1688083200,1688169600,1688418000,1688601600,1688688000,1688774400,1689033600,1689120000,1689206400,1689292800],"equity":[100000,100000,100000,100000,100000,100000,100000,100000,100000,100000,100000,100000,100000,100000,100000,100000,100000,100000,100000,100000,100001.34469033105],"profit_loss":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1.344692574188],"profit_loss_pct":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0000134469257419],"base_value":100000,"timeframe":"1D"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '200'
      X-Ratelimit-Remaining:
      - '199'
      X-Ratelimit-Reset:
      - '1689333928'
    status:
      code: 200
      message: OK
version: 1
