interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/wiki/List_of_S%26P_500_companies
  response:
    body:
      string: "<!DOCTYPE html>\n<html class=\"client-nojs vector-feature-language-in-header-enabled
        vector-feature-language-in-main-page-header-disabled vector-feature-sticky-header-disabled
        vector-feature-page-tools-pinned-disabled vector-feature-toc-pinned-enabled
        vector-feature-main-menu-pinned-disabled vector-feature-limited-width-enabled
        vector-feature-limited-width-content-enabled vector-feature-zebra-design-disabled\"
        lang=\"en\" dir=\"ltr\">\n<head>\n<meta charset=\"UTF-8\">\n<title>List of
        S&amp;P 500 companies - Wikipedia</title>\n<script>document.documentElement.className=\"client-js
        vector-feature-language-in-header-enabled vector-feature-language-in-main-page-header-disabled
        vector-feature-sticky-header-disabled vector-feature-page-tools-pinned-disabled
        vector-feature-toc-pinned-enabled vector-feature-main-menu-pinned-disabled
        vector-feature-limited-width-enabled vector-feature-limited-width-content-enabled
        vector-feature-zebra-design-disabled\";(function(){var cookie=document.cookie.match(/(?:^|;
        )enwikimwclientprefs=([^;]+)/);if(cookie){var featureName=cookie[1];document.documentElement.className=document.documentElement.className.replace(featureName+'-enabled',featureName+'-disabled');}}());RLCONF={\"wgBreakFrames\":false,\"wgSeparatorTransformTable\":[\"\",\"\"],\"wgDigitTransformTable\":[\"\",\"\"],\"wgDefaultDateFormat\":\"dmy\",\"wgMonthNames\":[\"\",\"January\",\"February\",\"March\",\"April\",\"May\",\"June\",\"July\",\"August\",\"September\",\"October\",\"November\",\"December\"],\"wgRequestId\":\"7acda040-1697-4010-a076-72b8a7056344\",\"wgCSPNonce\":false,\n\"wgCanonicalNamespace\":\"\",\"wgCanonicalSpecialPageName\":false,\"wgNamespaceNumber\":0,\"wgPageName\":\"List_of_S\\u0026P_500_companies\",\"wgTitle\":\"List
        of S\\u0026P 500 companies\",\"wgCurRevisionId\":1160956732,\"wgRevisionId\":1160956732,\"wgArticleId\":2676045,\"wgIsArticle\":true,\"wgIsRedirect\":false,\"wgAction\":\"view\",\"wgUserName\":null,\"wgUserGroups\":[\"*\"],\"wgCategories\":[\"All
        articles with dead external links\",\"Articles with dead external links from
        November 2019\",\"Articles with permanently dead external links\",\"Articles
        with short description\",\"Short description is different from Wikidata\",\"S\\u0026P
        Dow Jones Indices\",\"Lists of companies\"],\"wgPageViewLanguage\":\"en\",\"wgPageContentLanguage\":\"en\",\"wgPageContentModel\":\"wikitext\",\"wgRelevantPageName\":\"List_of_S\\u0026P_500_companies\",\"wgRelevantArticleId\":2676045,\"wgIsProbablyEditable\":true,\"wgRelevantPageIsProbablyEditable\":true,\"wgRestrictionEdit\":[],\"wgRestrictionMove\":[],\"wgFlaggedRevsParams\":{\"tags\":{\"status\":{\"levels\":1}}},\"wgVisualEditor\":{\n\"pageLanguageCode\":\"en\",\"pageLanguageDir\":\"ltr\",\"pageVariantFallbacks\":\"en\"},\"wgMFDisplayWikibaseDescriptions\":{\"search\":true,\"watchlist\":true,\"tagline\":false,\"nearby\":true},\"wgWMESchemaEditAttemptStepOversample\":false,\"wgWMEPageLength\":200000,\"wgNoticeProject\":\"wikipedia\",\"wgMediaViewerOnClick\":true,\"wgMediaViewerEnabledByDefault\":true,\"wgPopupsFlags\":10,\"wgULSCurrentAutonym\":\"English\",\"wgEditSubmitButtonLabelPublish\":true,\"wgCentralAuthMobileDomain\":false,\"wgULSPosition\":\"interlanguage\",\"wgULSisCompactLinksEnabled\":true,\"wgULSisLanguageSelectorEmpty\":false,\"wgWikibaseItemId\":\"Q6596115\",\"GEHomepageSuggestedEditsEnableTopics\":true,\"wgGETopicsMatchModeEnabled\":false,\"wgGEStructuredTaskRejectionReasonTextInputEnabled\":false,\"wgGELevelingUpEnabledForUser\":false};RLSTATE={\"skins.vector.user.styles\":\"ready\",\"ext.globalCssJs.user.styles\":\"ready\",\"site.styles\":\"ready\",\"user.styles\":\"ready\",\"skins.vector.user\":\"ready\",\"ext.globalCssJs.user\":\"ready\",\"user\":\"ready\",\"user.options\":\"loading\",\n\"ext.cite.styles\":\"ready\",\"codex-search-styles\":\"ready\",\"skins.vector.styles\":\"ready\",\"skins.vector.icons\":\"ready\",\"jquery.tablesorter.styles\":\"ready\",\"ext.visualEditor.desktopArticleTarget.noscript\":\"ready\",\"ext.wikimediaBadges\":\"ready\",\"ext.uls.interlanguage\":\"ready\",\"wikibase.client.init\":\"ready\"};RLPAGEMODULES=[\"ext.cite.ux-enhancements\",\"site\",\"mediawiki.page.ready\",\"jquery.tablesorter\",\"mediawiki.toc\",\"skins.vector.js\",\"mmv.head\",\"mmv.bootstrap.autostart\",\"ext.visualEditor.desktopArticleTarget.init\",\"ext.visualEditor.targetLoader\",\"ext.eventLogging\",\"ext.wikimediaEvents\",\"ext.navigationTiming\",\"ext.cx.eventlogging.campaigns\",\"ext.quicksurveys.init\",\"ext.centralNotice.geoIP\",\"ext.centralNotice.startUp\",\"ext.gadget.ReferenceTooltips\",\"ext.gadget.charinsert\",\"ext.gadget.extra-toolbar-buttons\",\"ext.gadget.switcher\",\"ext.centralauth.centralautologin\",\"ext.popups\",\"ext.echo.centralauth\",\"ext.uls.compactlinks\",\"ext.uls.interface\",\"ext.cx.uls.quick.actions\",\"wikibase.client.vector-2022\",\n\"ext.growthExperiments.SuggestedEditSession\"];</script>\n<script>(RLQ=window.RLQ||[]).push(function(){mw.loader.implement(\"user.options@12s5i\",function($,jQuery,require,module){mw.user.tokens.set({\"patrolToken\":\"+\\\\\",\"watchToken\":\"+\\\\\",\"csrfToken\":\"+\\\\\"});});});</script>\n<link
        rel=\"stylesheet\" href=\"/w/load.php?lang=en&amp;modules=codex-search-styles%7Cext.cite.styles%7Cext.uls.interlanguage%7Cext.visualEditor.desktopArticleTarget.noscript%7Cext.wikimediaBadges%7Cjquery.tablesorter.styles%7Cskins.vector.icons%2Cstyles%7Cwikibase.client.init&amp;only=styles&amp;skin=vector-2022\">\n<script
        async=\"\" src=\"/w/load.php?lang=en&amp;modules=startup&amp;only=scripts&amp;raw=1&amp;skin=vector-2022\"></script>\n<meta
        name=\"ResourceLoaderDynamicStyles\" content=\"\">\n<link rel=\"stylesheet\"
        href=\"/w/load.php?lang=en&amp;modules=site.styles&amp;only=styles&amp;skin=vector-2022\">\n<meta
        name=\"generator\" content=\"MediaWiki 1.41.0-wmf.13\">\n<meta name=\"referrer\"
        content=\"origin\">\n<meta name=\"referrer\" content=\"origin-when-crossorigin\">\n<meta
        name=\"referrer\" content=\"origin-when-cross-origin\">\n<meta name=\"robots\"
        content=\"max-image-preview:standard\">\n<meta name=\"format-detection\" content=\"telephone=n[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/wiki/Nasdaq-100
  response:
    body:
      string: "<!DOCTYPE html>\n<html class=\"client-nojs vector-feature-language-in-header-enabled
        vector-feature-language-in-main-page-header-disabled vector-feature-sticky-header-disabled
        vector-feature-page-tools-pinned-disabled vector-feature-toc-pinned-enabled
        vector-feature-main-menu-pinned-disabled vector-feature-limited-width-enabled
    [...]
