interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.finnhub.io/api/v1//stock/profile2?token=ceifakaad3i3rvm4evkgceifakaad3i3rvm4evl0&symbol=JPM
  response:
    body:
      string: '{"country":"US","currency":"USD","estimateCurrency":"USD","exchange":"NEW
        YORK STOCK EXCHANGE, INC.","finnhubIndustry":"Banking","ipo":"1969-03-05","logo":"https://static2.finnhub.io/file/publicdatany/finnhubimage/stock_logo/JPM.svg","marketCapitalization":458282.64,"name":"JPMorgan
        Chase \u0026 Co","phone":"12122706000","shareOutstanding":2891.01,"ticker":"JPM","weburl":"https://www.jpmorganchase.com/"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Reset:
      - '1702235418'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.finnhub.io/api/v1//stock/profile2?token=ceifakaad3i3rvm4evkgceifakaad3i3rvm4evl0&symbol=MSFT
  response:
    body:
      string: '{"country":"US","currency":"USD","estimateCurrency":"USD","exchange":"NASDAQ
        NMS - GLOBAL MARKET","finnhubIndustry":"Technology","ipo":"1986-03-13","logo":"https://static2.finnhub.io/file/publicdatany/finnhubimage/stock_logo/MSFT.svg","marketCapitalization":2781375.53,"name":"Microsoft
        Corp","phone":"14258828080","shareOutstanding":7432.26,"ticker":"MSFT","weburl":"https://www.microsoft.com/en-us"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '58'
      X-Ratelimit-Reset:
      - '1702235418'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.finnhub.io/api/v1//stock/profile2?token=ceifakaad3i3rvm4evkgceifakaad3i3rvm4evl0&symbol=TSLA
  response:
    body:
      string: '{"country":"US","currency":"USD","estimateCurrency":"USD","exchange":"NASDAQ
        NMS - GLOBAL MARKET","finnhubIndustry":"Automobiles","ipo":"2010-06-09","logo":"https://static2.finnhub.io/file/publicdatany/finnhubimage/stock_logo/TSLA.svg","marketCapitalization":775148.19,"name":"Tesla
        Inc","phone":"15125168177","shareOutstanding":3178.92,"ticker":"TSLA","weburl":"https://www.tesla.com/"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '57'
      X-Ratelimit-Reset:
      - '1702235418'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.finnhub.io/api/v1//stock/profile2?token=ceifakaad3i3rvm4evkgceifakaad3i3rvm4evl0&symbol=V
  response:
    body:
      string: '{"country":"US","currency":"USD","estimateCurrency":"USD","exchange":"NEW
        YORK STOCK EXCHANGE, INC.","finnhubIndustry":"Financial Services","ipo":"2008-03-25","logo":"https://static2.finnhub.io/file/publicdatany/finnhubimage/stock_logo/V.svg","marketCapitalization":514037.91,"name":"Visa
        Inc","phone":"16504323200","shareOutstanding":2008.24,"ticker":"V","weburl":"https://usa.visa.com/"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '56'
      X-Ratelimit-Reset:
      - '1702235418'
    status:
      code: 200
      message: OK
version: 1
