interactions:
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://paper-api.alpaca.markets/v2/assets/AAPL
  response:
    body:
      string: '{"id":"b0b6dd9d-8b9b-48a9-ba46-b9d54906e415","class":"us_equity","exchange":"NASDAQ","symbol":"AAPL","name":"Apple
        Inc. Common Stock","status":"active","tradable":true,"marginable":true,"maintenance_margin_requirement":30,"shortable":true,"easy_to_borrow":true,"fractionable":true,"attributes":[]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '200'
      X-Ratelimit-Remaining:
      - '199'
      X-Ratelimit-Reset:
      - '1689856592'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.finnhub.io/api/v1//stock/profile2?token=ceifakaad3i3rvm4evkgceifakaad3i3rvm4evl0&symbol=TSLA
  response:
    body:
      string: '{"country":"US","currency":"USD","estimateCurrency":"USD","exchange":"NASDAQ
        NMS - GLOBAL MARKET","finnhubIndustry":"Automobiles","ipo":"2010-06-09","logo":"https://static2.finnhub.io/file/publicdatany/finnhubimage/stock_logo/TSLA.svg","marketCapitalization":923149.809795,"name":"Tesla
        Inc","phone":"15125168177.0","shareOutstanding":3169.5,"ticker":"TSLA","weburl":"https://www.tesla.com/"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Reset:
      - '1689856652'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v6/finance/quoteSummary/TSLA?modules=assetProfile&formatted=false&lang=en-US&region=US&corsDomain=finance.yahoo.com
  response:
    body:
      string: '{"quoteSummary":{"result":[{"assetProfile":{"address1":"1 Tesla Road","city":"Austin","state":"TX","zip":"78725","country":"United
        States","phone":"512 516 8177","website":"https://www.tesla.com","industry":"Auto
        Manufacturers","industryDisp":"Auto Manufacturers","sector":"Consumer Cyclical","longBusinessSummary":"Tesla,
        Inc. designs, develops, manufactures, leases, and sells electric vehicles,
        and energy generation and storage systems in the United States, China, and
        internationally. It operates in two segments, Automotive, and Energy Generation
        and Storage. The Automotive segment offers electric vehicles, as well as sells
        automotive regulatory credits; and non-warranty after-sales vehicle, used
        vehicles, retail merchandise, and vehicle insurance services.[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v6/finance/quoteSummary/V?modules=assetProfile&formatted=false&lang=en-US&region=US&corsDomain=finance.yahoo.com
  response:
    body:
      string: '{"quoteSummary":{"result":[{"assetProfile":{"address1":"PO Box 8999","city":"San
        Francisco","state":"CA","zip":"94128-8999","country":"United States","phone":"650
        432 3200","website":"https://usa.visa.com","industry":"Credit Services","i[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v6/finance/quoteSummary/V?modules=defaultKeyStatistics&formatted=false&lang=en-US&region=US&corsDomain=finance.yahoo.com
  response:
    body:
      string: '{"quoteSummary":{"result":[{"defaultKeyStatistics":{"maxAge":1,"priceHint":{"raw":2,"fmt":"2","longFmt":"2"},"enterpriseValue":{"raw":499514310656,"fmt":"499.51B","longFmt":"499,514,310,656"},"forwardPE":{"raw":24.685072,"fmt":"24.69"},"profitMargins":{"raw":0.50953996,"fmt":"50.95%"},"floatShares":{"raw":1617187605,"fmt":"1.62B","longFmt":"1,617,187,605"},"sharesOutstanding":{"raw":1618220032,"fmt":"1.62B","longFmt":"1,618,220,032"},"sharesShort":{"raw":29479105,"fmt":"29.48M","longFmt":"29,479,105"},"sharesShortPriorMonth":{"raw":31404583,"fmt":"31.4M","longFmt":"31,404,583"},"sharesShortPreviousMonthDate":{"raw":1685491200,"fmt":"2023-05-31"},"dateShortInterest":{"raw":1688083200,"fmt":"2023-06-30"},"sharesPercentSharesOut":{"raw":0.014099999,"fmt":"1.41%"},"heldPercentInsiders":{"raw":0.00122,"fmt":"0.12%"},"heldPercentInstitutions":{"raw":0.99063003,"fmt":"99.06%"},"shortRatio":{"raw":3.7,"fmt":"3.7"},"shortPercentOfFloat":{"raw":0.0182,"fmt":"1.82%"},"beta":{"raw":0.970969,"fmt":"0.97"},"impliedSharesOutstanding":{"raw":0,"fmt":null,"longFmt":"0"},"morningStarOverallRating":{},"morningStarRiskRating":{},"category":null,"bookValue":{"raw":17.886,"fmt":"17.89"},"priceToBook":{"raw":13.497708,"fmt":"13.50"},"annualReportExpenseRatio":{},"ytdReturn":{},"beta3Year":{},"totalAssets":{},"yield":{},"fundFamily":null,"fundInceptionDate":{},"legalType":null,"threeYearAverageReturn":{},"fiveYearAverageReturn":{},"priceToSalesTrailing12Months":{},"lastFiscalYearEnd":{"raw":1664496000,"fmt":"2022-09-30"},"nextFiscalYearEnd":{"raw":1696032000,"fmt":"2023-09-30"},"mostRecentQuarter":{"raw":1680220800,"fmt":"2023-03-31"},"earningsQuarterlyGrowth":{"raw":0.167,"fmt":"16.70%"},"revenueQuarterlyGrowth":{},"netIncomeToCommon":{"raw":15484000256,"fmt":"15.48B","longFmt":"15,484,000,256"},"trailingEps":{"raw":7.59,"fmt":"7.59"},"forwardEps":{"raw":9.78,"fmt":"9.78"},"pegRatio":{"raw":1.93,"fmt":"1.93"},"lastSplitFactor":"4:1","lastSplitDate":{"raw":1426723200,"fmt":"2015-03-19"},"enterpriseToRevenue":{"raw":16.122,"fmt":"16.12"},"enterpriseToEbitda":{"raw":23.064,"fmt":"23.06"},"52WeekChange":{"raw":11.670292,"fmt":"1,167.03%"},"SandP52WeekChange":{"raw":14.172972,"fmt":"1,417.30%"},"lastDividendValue":{"raw":0.45,"fmt":"0.45"},"lastDividendDate":{"raw":1683763200,"fmt":"2023-05-11"},"lastCapGain":{},"annualHoldingsTurnover":{}}}],"error":null}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-yahoo-request-id:
      - 1h7bn8dibiaig
      y-rid:
      - 1h7bn8dibiaig
    status:
      code: 200
      message: OK
version: 1
