interactions:
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://paper-api.alpaca.markets/v2/account
  response:
    body:
      string: '{"id":"bcd9f34c-ad36-495d-94bc-2ce064aa3b8b","admin_configurations":{},"user_configurations":{"dtbp_check":"both","fractional_trading":true,"max_margin_multiplier":"1","no_shorting":true,"pdt_check":"both","trade_confirm_email":"all"},"account_number":"PA3CRSDQ9PTF","status":"ACTIVE","crypto_status":"ACTIVE","options_approved_level":3,"options_trading_level":3,"currency":"USD","buying_power":"100916.26","regt_buying_power":"100916.26","daytrading_buying_power":"0","effective_buying_power":"100916.26","non_marginable_buying_power":"100916.25","options_buying_power":"100916.25","bod_dtbp":"0","cash":"100964.01","accrued_fees":"0","portfolio_value":"101548.06","pattern_day_trader":false,"trading_blocked":false,"transfers_blocked":false,"account_blocked":false,"created_at":"2022-10-01T12:12:15.765676Z","trade_suspended_by_user":false,"multiplier":"1","shorting_enabled":false,"equity":"101548.06","last_equity":"101545.74882111765782","long_market_value":"607.93","short_market_value":"-23.88","position_market_value":"631.81","initial_margin":"241.54","maintenance_margin":"76.03","last_maintenance_margin":"74.97","sma":"101155.29","daytrade_count":0,"balance_asof":"2025-03-20","crypto_tier":1,"intraday_adjustments":"0","pending_reg_taf_fees":"0"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '200'
      X-Ratelimit-Remaining:
      - '199'
      X-Ratelimit-Reset:
      - '1742596039'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"symbol": "AAPL", "notional": 5.0, "side": "buy", "type": "market", "time_in_force":
      "day"}'
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
      Content-Type:
      - application/json
    method: POST
    uri: https://paper-api.alpaca.markets/v2/orders
  response:
    body:
      string: '{"id":"7a7ee52d-6ca9-4867-aae7-5575799684fa","client_order_id":"8ee3e316-f41b-459b-b24d-b16a9d06e172","created_at":"2025-03-21T22:27:20.208045343Z","updated_at":"2025-03-21T22:27:20.23443052Z","submitted_at":"2025-03-21T22:27:20.208045343Z","filled_at":null,"expired_at":null,"canceled_at":null,"failed_at":null,"replaced_at":null,"replaced_by":null,"replaces":null,"asset_id":"b0b6dd9d-8b9b-48a9-ba46-b9d54906e415","symbol":"AAPL","asset_class":"us_equity","notional":"5","qty":null,"filled_qty":"0","filled_avg_price":null,"order_class":"","order_type":"market","type":"market","side":"buy","position_intent":"buy_to_open","time_in_force":"day","limit_price":null,"stop_price":null,"status":"accepted","extended_hours":false,"legs":null,"trail_percent":null,"trail_price":null,"hwm":null,"subtag":null,"source":null,"expires_at":"2025-03-24T20:00:00Z"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '200'
      X-Ratelimit-Remaining:
      - '199'
      X-Ratelimit-Reset:
      - '1742596040'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"symbol": "TSLA", "notional": 2.0, "side": "buy", "type": "market", "time_in_force":
      "day"}'
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
      Content-Type:
      - application/json
    method: POST
    uri: https://paper-api.alpaca.markets/v2/orders
  response:
    body:
      string: '{"id":"44cb2765-18f4-459b-a188-436c1f34acc1","client_order_id":"59cab2ae-89e1-4371-8b25-3b5258a267f4","created_at":"2025-03-21T22:27:21.077914457Z","updated_at":"2025-03-21T22:27:21.079450097Z","submitted_at":"2025-03-21T22:27:21.077914457Z","filled_at":null,"expired_at":null,"canceled_at":null,"failed_at":null,"replaced_at":null,"replaced_by":null,"replaces":null,"asset_id":"8ccae427-5dd0-45b3-b5fe-7ba5e422c766","symbol":"TSLA","asset_class":"us_equity","notional":"2","qty":null,"filled_qty":"0","filled_avg_price":null,"order_class":"","order_type":"market","type":"market","side":"buy","position_intent":"buy_to_open","time_in_force":"day","limit_price":null,"stop_price":null,"status":"accepted","extended_hours":false,"legs":null,"trail_percent":null,"trail_price":null,"hwm":null,"subtag":null,"source":null,"expires_at":"2025-03-24T20:00:00Z"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '200'
      X-Ratelimit-Remaining:
      - '199'
      X-Ratelimit-Reset:
      - '1742596041'
    status:
      code: 200
      message: OK
version: 1
