interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/wiki/Nasdaq-100
  response:
    body:
      string: "<!DOCTYPE html>\n<html class=\"client-nojs vector-feature-language-in-header-enabled
        vector-feature-language-in-main-page-header-disabled vector-feature-sticky-header-disabled
        vector-feature-page-tools-pinned-disabled vector-feature-toc-pinned-enabled
        vector-feature-main-menu-pinned-disabled vector-feature-limited-width-enabled
        vector-feature-limited-width-content-enabled vector-feature-zebra-design-disabled\"
        lang=\"en\" dir=\"ltr\">\n<head>\n<meta charset=\"UTF-8\">\n<title>Nasdaq-100
        - Wikipedia</title>\n<script>document.documentElement.className=\"client-js
        vector-feature-language-in-header-enabled vector-feature-language-in-main-page-header-disabled
        vector-feature-sticky-header-disabled vector-feature-page-tools-pinned-disabled
        vector-feature-toc-pinned-enabled vector-feature-main-menu-pinned-disabled
        vector-feature-limited-width-enabled vector-feature-limited-width-content-enabled
        vector-feature-zebra-design-disabled\";(function(){var cookie=document.cookie.match(/(?:^|;
        )enwikimwclientprefs=([^;]+)/);if(cookie){var featureName=cookie[1];document.documentElement.className=document.documentElement.className.replace(featureName+'-enabled',featureName+'-disabled');}}());RLCONF={\"wgBreakFrames\":false,\"wgSeparatorTransformTable\":[\"\",\"\"],\"wgDigitTransformTable\":[\"\",\"\"],\"wgDefaultDateFormat\":\"dmy\",\"wgMonthNames\":[\"\",\"January\",\"February\",\"March\",\"April\",\"May\",\"June\",\"July\",\"August\",\"September\",\"October\",\"November\",\"December\"],\"wgRequestId\":\"f72e60c5-7357-4269-a611-3c1e067a8c47\",\"wgCSPNonce\":false,\n\"wgCanonicalNamespace\":\"\",\"wgCanonicalSpecialPageName\":false,\"wgNamespaceNumber\":0,\"wgPageName\":\"Nasdaq-100\",\"wgTitle\":\"Nasdaq-100\",\"wgCurRevisionId\":1164791346,\"wgRevisionId\":1164791346,\"wgArticleId\":479587,\"wgIsArticle\":true,\"wgIsRedirect\":false,\"wgAction\":\"view\",\"wgUserName\":null,\"wgUserGroups\":[\"*\"],\"wgCategories\":[\"Pages
        with non-numeric formatnum arguments\",\"CS1 maint: url-status\",\"Articles
        with short description\",\"Short description is different from Wikidata\",\"Articles
        containing potentially dated statements from April 2022\",\"All articles containing
        potentially dated statements\",\"All articles with unsourced statements\",\"Articles
        with unsourced statements from February 2018\",\"Official website different
        in Wikidata and Wikipedia\",\"Companies in the Nasdaq-100\",\"Companies listed
        on the Nasdaq\",\"American stock market indices\",\"Nasdaq\"],\"wgPageViewLanguage\":\"en\",\"wgPageContentLanguage\":\"en\",\"wgPageContentModel\":\"wikitext\",\"wgRelevantPageName\":\"Nasdaq-100\",\"wgRelevantArticleId\":479587,\n\"wgIsProbablyEditable\":true,\"wgRelevantPageIsProbablyEditable\":true,\"wgRestrictionEdit\":[],\"wgRestrictionMove\":[],\"wgFlaggedRevsParams\":{\"tags\":{\"status\":{\"levels\":1}}},\"wgVisualEditor\":{\"pageLanguageCode\":\"en\",\"pageLanguageDir\":\"ltr\",\"pageVariantFallbacks\":\"en\"},\"wgMFDisplayWikibaseDescriptions\":{\"search\":true,\"watchlist\":true,\"tagline\":false,\"nearby\":true},\"wgWMESchemaEditAttemptStepOversample\":false,\"wgWMEPageLength\":60000,\"wgNoticeProject\":\"wikipedia\",\"wgMediaViewerOnClick\":true,\"wgMediaViewerEnabledByDefault\":true,\"wgPopupsFlags\":10,\"wgULSCurrentAutonym\":\"English\",\"wgEditSubmitButtonLabelPublish\":true,\"wgCentralAuthMobileDomain\":false,\"wgULSPosition\":\"interlanguage\",\"wgULSisCompactLinksEnabled\":true,\"wgULSisLanguageSelectorEmpty\":false,\"wgWikibaseItemId\":\"Q507306\",\"GEHomepageSuggestedEditsEnableTopics\":true,\"wgGETopicsMatchModeEnabled\":false,\"wgGEStructuredTaskRejectionReasonTextInputEnabled\":false,\"wgGELevelingUpEnabledForUser\":false};RLSTATE={\"skins.vector.user.styles\":\"ready\",\n\"ext.globalCssJs.user.styles\":\"ready\",\"site.styles\":\"ready\",\"user.styles\":\"ready\",\"skins.vector.user\":\"ready\",\"ext.globalCssJs.user\":\"ready\",\"user\":\"ready\",\"user.options\":\"loading\",\"ext.cite.styles\":\"ready\",\"codex-search-styles\":\"ready\",\"skins.vector.styles\":\"ready\",\"skins.vector.icons\":\"ready\",\"jquery.tablesorter.styles\":\"ready\",\"jquery.makeCollapsible.styles\":\"ready\",\"ext.visualEditor.desktopArticleTarget.noscript\":\"ready\",\"ext.wikimediaBadges\":\"ready\",\"ext.uls.interlanguage\":\"ready\",\"wikibase.client.init\":\"ready\"};RLPAGEMODULES=[\"ext.cite.ux-enhancements\",\"site\",\"mediawiki.page.ready\",\"jquery.tablesorter\",\"jquery.makeCollapsible\",\"mediawiki.toc\",\"skins.vector.js\",\"mmv.head\",\"mmv.bootstrap.autostart\",\"ext.visualEditor.desktopArticleTarget.init\",\"ext.visualEditor.targetLoader\",\"ext.eventLogging\",\"ext.wikimediaEvents\",\"ext.navigationTiming\",\"ext.cx.eventlogging.campaigns\",\"ext.quicksurveys.init\",\"ext.centralNotice.geoIP\",\"ext.centralNotice.startUp\",\"ext.gadget.ReferenceTooltips\",\n\"ext.gadget.charinsert\",\"ext.gadget.extra-toolbar-buttons\",\"ext.gadget.switcher\",\"ext.centralauth.centralautologin\",\"ext.popups\",\"ext.echo.centralauth\",\"ext.uls.compactlinks\",\"ext.uls.interface\",\"ext.cx.uls.quick.actions\",\"wikibase.client.vector-2022\",\"ext.growthExperiments.SuggestedEditSession\"];</script>\n<script>(RLQ=window.RLQ||[]).push(function(){mw.loader.implement(\"user.options@12s5i\",function($,jQuery,require,module){mw.user.tokens.set({\"patrolToken\":\"+\\\\\",\"watchToken\":\"+\\\\\",\"csrfToken\":\"+\\\\\"});});});</script>\n<link
        rel=\"stylesheet\" href=\"/w/load.php?lang=en&amp;modules=codex-search-styles%7Cext.cite.styles%7Cext.uls.interlanguage%7Cext.visualEditor.desktopArticleTarget.noscript%7Cext.wikimediaBadges%7Cjquery.makeCollapsible.styles%7Cjquery.tablesorter.styles%7Cskins.vector.icons%2Cstyles%7Cwikibase.client.init&amp;only=styles&amp;skin=vector-2022\">\n<script
        async=\"\" src=\"/w/load.php?lang=en&amp;modules=startup&amp;only=scripts&amp;raw=1&amp;skin=vector-2022\"></script>\n<meta
        name=\"ResourceLoaderDynamicStyles\" content=\"\">\n<link rel=\"stylesheet\"
        href=\"/w/load.php?lang=en&amp;modules=site.styles&amp;only=styles&amp;skin=vector-2022\">\n<meta
        name=\"generator\" content=\"MediaWiki 1.41.0-wmf.16\">\n<meta name=\"referrer\"
        content=\"origin\">\n<meta name=\"referrer\" content=\"origin-when-crossorigin\">\n<meta
        name=\"referrer\" content=\"origin-when-cross-origin\">\n<meta name=\"robots\"
        content=\"max-image-preview:standard\">\n<meta name=\"format-detection\" content=\"telephone=n[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.finnhub.io/api/v1//stock/profile2?token=ceifakaad3i3rvm4evkgceifakaad3i3rvm4evl0&symbol=ATVI
  response:
    body:
      string: '{"country":"US","currency":"USD","estimateCurrency":"USD","exchange":"NASDAQ
        NMS - GLOBAL MARKET","finnhubIndustry":"Media","ipo":"1983-06-10","logo":"https://static2.finnhub.io/file/publicdatany/finnhubimage/stock_logo/ATVI.svg","marketCapitalization":70754.28772,"name":"Activision
        Blizzard Inc","phone":"13102666025.0","shareOutstanding":786.159,"ticker":"ATVI","weburl":"https://www.activisionblizzard.com/"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '57'
      X-Ratelimit-Reset:
      - '1689240316'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.finnhub.io/api/v1//stock/profile2?token=ceifakaad3i3rvm4evkgceifakaad3i3rvm4evl0&symbol=ADBE
  response:
    body:
      string: '{"country":"US","currency":"USD","estimateCurrency":"USD","exchange":"NASDAQ
        NMS - GLOBAL MARKET","finnhubIndustry":"Technology","ipo":"1986-08-20","logo":"https://static2.finnhub.io/file/publicdatany/finnhubimage/stock_logo/ADBE.svg","marketCapitalization":231254.67512999996,"name":"Adobe
        Inc","phone":"14085366000.0","shareOutstanding":455.8,"ticker":"ADBE","weburl":"https://www.adobe.com/"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '56'
      X-Ratelimit-Reset:
      - '1689240316'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.finnhub.io/api/v1//stock/profile2?token=ceifakaad3i3rvm4evkgceifakaad3i3rvm4evl0&symbol=ADP
  response:
    body:
      string: '{"country":"US","currency":"USD","estimateCurrency":"USD","exchange":"NASDAQ
        NMS - GLOBAL MARKET","finnhubIndustry":"Professional Services","ipo":"1961-09-01","logo":"https://static2.finnhub.io/file/publicdatany/finnhubimage/stock_logo/ADP.svg","marketCapitalization":92948.48792400002,"name":"Automatic
        Data Processing Inc","phone":"19739745000.0","shareOutstanding":413.123,"ticker":"ADP","weburl":"https://www.adp.com/"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '55'
      X-Ratelimit-Reset:
      - '1689240316'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.finnhub.io/api/v1//stock/profile2?token=ceifakaad3i3rvm4evkgceifakaad3i3rvm4evl0&symbol=ABNB
  response:
    body:
      string: '{"country":"US","currency":"USD","estimateCurrency":"USD","exchange":"NASDAQ
        NMS - GLOBAL MARKET","finnhubIndustry":"Hotels, Restaurants \u0026 Leisure","ipo":"2020-12-10","logo":"https://static2.finnhub.io/file/publicdatany/finnhubimage/stock_logo/ABNB.svg","marketCapitalization":86378.333973,"name":"Airbnb
        Inc","phone":"14158005959.0","shareOutstanding":630.407,"ticker":"ABNB","weburl":"https://www.airbnb.co.in/"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '54'
      X-Ratelimit-Reset:
      - '1689240316'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.finnhub.io/api/v1//stock/profile2?token=ceifakaad3i3rvm4evkgceifakaad3i3rvm4evl0&symbol=ALGN
  response:
    body:
      string: '{"country":"US","currency":"USD","estimateCurrency":"USD","exchange":"NASDAQ
        NMS - GLOBAL MARKET","finnhubIndustry":"Health Care","ipo":"2001-01-26","logo":"https://static2.finnhub.io/file/publicdatany/finnhubimage/stock_logo/ALGN.svg","marketCapitalization":27362.462686,"name":"Align
        Technology Inc","phone":"14084701000.0","shareOutstanding":76.5169,"ticker":"ALGN","weburl":"https://www.aligntech.com/"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '53'
      X-Ratelimit-Reset:
      - '1689240316'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.finnhub.io/api/v1//stock/profile2?token=ceifakaad3i3rvm4evkgceifakaad3i3rvm4evl0&symbol=GOOGL
  response:
    body:
      string: '{"country":"US","currency":"USD","estimateCurrency":"USD","exchange":"NASDAQ
        NMS - GLOBAL MARKET","finnhubIndustry":"Media","ipo":"2004-08-19","logo":"https://static2.finnhub.io/file/publicdatany/finnhubimage/stock_logo/GOOG.svg","marketCapitalization":1514226.218216,"name":"Alphabet
        Inc","phone":"16502530000.0","shareOutstanding":12698,"ticker":"GOOGL","weburl":"https://abc.xyz/"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '52'
      X-Ratelimit-Reset:
      - '1689240316'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.finnhub.io/api/v1//stock/profile2?token=ceifakaad3i3rvm4evkgceifakaad3i3rvm4evl0&symbol=GOOG
  response:
    body:
      string: '{"country":"US","currency":"USD","estimateCurrency":"USD","exchange":"NASDAQ
        NMS - GLOBAL MARKET","finnhubIndustry":"Media","ipo":"2004-08-19","logo":"https://static2.finnhub.io/file/publicdatany/finnhubimage/stock_logo/GOOG.svg","marketCapitalization":1514226.218216,"name":"Alphabet
        Inc","phone":"16502530000.0","shareOutstanding":12698,"ticker":"GOOGL","weburl":"https://abc.xyz/"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '51'
      X-Ratelimit-Reset:
      - '1689240316'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.finnhub.io/api/v1//stock/profile2?token=ceifakaad3i3rvm4evkgceifakaad3i3rvm4evl0&symbol=AMZN
  response:
    body:
      string: '{"country":"US","currency":"USD","estimateCurrency":"USD","exchange":"NASDAQ
        NMS - GLOBAL MARKET","finnhubIndustry":"Retail","ipo":"1997-05-15","logo":"https://static2.finnhub.io/file/publicdatany/finnhubimage/stock_logo/AMZN.svg","marketCapitalization":1342054.271156,"name":"Amazon.com
        Inc","phone":"12062661000.0","shareOutstanding":10260.4,"ticker":"AMZN","weburl":"https://www.amazon.com/"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '50'
      X-Ratelimit-Reset:
      - '1689240316'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.finnhub.io/api/v1//stock/profile2?token=ceifakaad3i3rvm4evkgceifakaad3i3rvm4evl0&symbol=AMD
  response:
    body:
      string: '{"country":"US","currency":"USD","estimateCurrency":"USD","exchange":"NASDAQ
        NMS - GLOBAL MARKET","finnhubIndustry":"Semiconductors","ipo":"1979-10-15","logo":"https://static2.finnhub.io/file/publicdatany/finnhubimage/stock_logo/AMD.svg","marketCapitalization":184515.25987200002,"name":"Advanced
        Micro Devices Inc","phone":"14087494000.0","shareOutstanding":1610.36,"ticker":"AMD","weburl":"https://www.amd.com/en"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Reset:
      - '1689240316'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.finnhub.io/api/v1//stock/profile2?token=ceifakaad3i3rvm4evkgceifakaad3i3rvm4evl0&symbol=AEP
  response:
    body:
      string: '{"country":"US","currency":"USD","estimateCurrency":"USD","exchange":"NASDAQ
        NMS - GLOBAL MARKET","finnhubIndustry":"Utilities","ipo":"1949-09-01","logo":"https://static2.finnhub.io/file/publicdatany/finnhubimage/stock_logo/AEP.svg","marketCapitalization":44910.356454,"name":"American
        Electric Power Company Inc","phone":"16147161000.0","shareOutstanding":514.791,"ticker":"AEP","weburl":"https://www.aep.com/"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '48'
      X-Ratelimit-Reset:
      - '1689240316'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.finnhub.io/api/v1//stock/profile2?token=ceifakaad3i3rvm4evkgceifakaad3i3rvm4evl0&symbol=AMGN
  response:
    body:
      string: '{"country":"US","currency":"USD","estimateCurrency":"USD","exchange":"NASDAQ
        NMS - GLOBAL MARKET","finnhubIndustry":"Biotechnology","ipo":"1983-06-17","logo":"https://static2.finnhub.io/file/publicdatany/finnhubimage/stock_logo/AMGN.svg","marketCapitalization":120586.822976,"name":"Amgen
        Inc","phone":"18054471000.0","shareOutstanding":534.327,"ticker":"AMGN","weburl":"https://www.amgen.com/"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '47'
      X-Ratelimit-Reset:
      - '1689240316'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.finnhub.io/api/v1//stock/profile2?token=ceifakaad3i3rvm4evkgceifakaad3i3rvm4evl0&symbol=ADI
  response:
    body:
      string: '{"country":"US","currency":"USD","estimateCurrency":"USD","exchange":"NASDAQ
        NMS - GLOBAL MARKET","finnhubIndustry":"Semiconductors","ipo":"1979-04-03","logo":"https://static2.finnhub.io/file/publicdatany/finnhubimage/stock_logo/ADI.svg","marketCapitalization":98843.577082,"name":"Analog
        Devices Inc","phone":"17813294700.0","shareOutstanding":505.853,"ticker":"ADI","weburl":"https://www.analog.com/"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '46'
      X-Ratelimit-Reset:
      - '1689240316'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.finnhub.io/api/v1//stock/profile2?token=ceifakaad3i3rvm4evkgceifakaad3i3rvm4evl0&symbol=ANSS
  response:
    body:
      string: '{"country":"US","currency":"USD","estimateCurrency":"USD","exchange":"NASDAQ
        NMS - GLOBAL MARKET","finnhubIndustry":"Technology","ipo":"1996-06-20","logo":"https://static2.finnhub.io/file/publicdatany/finnhubimage/stock_logo/ANSS.svg","marketCapitalization":29191.872506000003,"name":"ANSYS
        Inc","phone":"18444626797.0","shareOutstanding":86.6613,"ticker":"ANSS","weburl":"https://www.ansys.com/"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '45'
      X-Ratelimit-Reset:
      - '1689240316'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.finnhub.io/api/v1//stock/profile2?token=ceifakaad3i3rvm4evkgceifakaad3i3rvm4evl0&symbol=AMAT
  response:
    body:
      string: '{"country":"US","currency":"USD","estimateCurrency":"USD","exchange":"NASDAQ
        NMS - GLOBAL MARKET","finnhubIndustry":"Semiconductors","ipo":"1972-10-05","logo":"https://static2.finnhub.io/file/publicdatany/finnhubimage/stock_logo/AMAT.svg","marketCapitalization":116632.520946,"name":"Applied
        Materials Inc","phone":"14085635300.0","shareOutstanding":839.747,"ticker":"AMAT","weburl":"https://www.appliedmaterials.com/"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '44'
      X-Ratelimit-Reset:
      - '1689240316'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.finnhub.io/api/v1//stock/profile2?token=ceifakaad3i3rvm4evkgceifakaad3i3rvm4evl0&symbol=ASML
  response:
    body:
      string: '{"country":"NL","currency":"EUR","estimateCurrency":"EUR","exchange":"NYSE
        EURONEXT - EURONEXT AMSTERDAM","finnhubIndustry":"Semiconductors","ipo":"1995-02-01","logo":"https://static2.finnhub.io/file/publicdatany/finnhubimage/stock_logo/ASML.AS.svg","marketCapitalization":261701.229492,"name":"ASML
        Holding NV","phone":"31402683000.0","shareOutstanding":394.589369,"ticker":"ASML.AS","weburl":"https://www.asml.com/"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '43'
      X-Ratelimit-Reset:
      - '1689240316'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.finnhub.io/api/v1//stock/profile2?token=ceifakaad3i3rvm4evkgceifakaad3i3rvm4evl0&symbol=AZN
  response:
    body:
      string: '{"country":"GB","currency":"USD","estimateCurrency":"USD","exchange":"LONDON
        STOCK EXCHANGE","finnhubIndustry":"Pharmaceuticals","ipo":"2007-09-21","logo":"https://static2.finnhub.io/file/publicdatany/finnhubimage/stock_logo/AZN.L.svg","marketCapitalization":158831.570496,"name":"AstraZeneca
        PLC","phone":"442073045000.0","shareOutstanding":1549.88,"ticker":"AZN.L","weburl":"https://www.astrazeneca.com/"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '42'
      X-Ratelimit-Reset:
      - '1689240316'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.finnhub.io/api/v1//stock/profile2?token=ceifakaad3i3rvm4evkgceifakaad3i3rvm4evl0&symbol=TEAM
  response:
    body:
      string: '{"country":"US","currency":"USD","estimateCurrency":"USD","exchange":"NASDAQ
        NMS - GLOBAL MARKET","finnhubIndustry":"Technology","ipo":"2015-12-10","logo":"https://static.finnhub.io/logo/40c3af2c7909f479bc0279c92048573b98eb1e346279dd11fbe97c6aef860656.png","marketCapitalization":45248.713784,"name":"Atlassian
        Corp","phone":"14157011110.0","shareOutstanding":258.062557,"ticker":"TEAM","weburl":"https://www.atlassian.com/"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '41'
      X-Ratelimit-Reset:
      - '1689240316'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.finnhub.io/api/v1//stock/profile2?token=ceifakaad3i3rvm4evkgceifakaad3i3rvm4evl0&symbol=ADSK
  response:
    body:
      string: '{"country":"US","currency":"USD","estimateCurrency":"USD","exchange":"NASDAQ
        NMS - GLOBAL MARKET","finnhubIndustry":"Technology","ipo":"1985-04-30","logo":"https://static2.finnhub.io/file/publicdatany/finnhubimage/stock_logo/ADSK.svg","marketCapitalization":46019.575433,"name":"Autodesk
        Inc","phone":"14155075000.0","shareOutstanding":213.726,"ticker":"ADSK","weburl":"https://www.autodesk.com/"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '40'
      X-Ratelimit-Reset:
      - '1689240316'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.finnhub.io/api/v1//stock/profile2?token=ceifakaad3i3rvm4evkgceifakaad3i3rvm4evl0&symbol=BKR
  response:
    body:
      string: '{"country":"US","currency":"USD","estimateCurrency":"USD","exchange":"NASDAQ
        NMS - GLOBAL MARKET","finnhubIndustry":"","ipo":"1987-06-04","logo":"https://static2.finnhub.io/file/publicdatany/finnhubimage/stock_logo/BKR.svg","marketCapitalization":34865.752179,"name":"Baker
        Hughes Co","phone":"17134398600.0","shareOutstanding":1012.36,"ticker":"BKR","weburl":"https://www.bakerhughes.com/"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '39'
      X-Ratelimit-Reset:
      - '1689240316'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.finnhub.io/api/v1//stock/profile2?token=ceifakaad3i3rvm4evkgceifakaad3i3rvm4evl0&symbol=BIIB
  response:
    body:
      string: '{"country":"US","currency":"USD","estimateCurrency":"USD","exchange":"NASDAQ
        NMS - GLOBAL MARKET","finnhubIndustry":"Biotechnology","ipo":"1991-09-17","logo":"https://static2.finnhub.io/file/publicdatany/finnhubimage/stock_logo/BIIB.svg","marketCapitalization":40183.37622099999,"name":"Biogen
        Inc","phone":"17814642000.0","shareOutstanding":144.742,"ticker":"BIIB","weburl":"https://www.biogen.com/"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '38'
      X-Ratelimit-Reset:
      - '1689240316'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.finnhub.io/api/v1//stock/profile2?token=ceifakaad3i3rvm4evkgceifakaad3i3rvm4evl0&symbol=BKNG
  response:
    body:
      string: '{"country":"US","currency":"USD","estimateCurrency":"USD","exchange":"NASDAQ
        NMS - GLOBAL MARKET","finnhubIndustry":"Hotels, Restaurants \u0026 Leisure","ipo":"1999-03-29","logo":"https://static2.finnhub.io/file/publicdatany/finnhubimage/stock_logo/BKNG.svg","marketCapitalization":102988.37664000002,"name":"Booking
        Holdings Inc","phone":"12032998000.0","shareOutstanding":36.9337,"ticker":"BKNG","weburl":"https://www.bookingholdings.com/"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '37'
      X-Ratelimit-Reset:
      - '1689240316'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.finnhub.io/api/v1//stock/profile2?token=ceifakaad3i3rvm4evkgceifakaad3i3rvm4evl0&symbol=AVGO
  response:
    body:
      string: '{"country":"US","currency":"USD","estimateCurrency":"USD","exchange":"NASDAQ
        NMS - GLOBAL MARKET","finnhubIndustry":"Semiconductors","ipo":"2009-08-06","logo":"https://static2.finnhub.io/file/publicdatany/finnhubimage/stock_logo/AVGO.svg","marketCapitalization":367269.371683,"name":"Broadcom
        Inc","phone":"14084338000.0","shareOutstanding":412.685,"ticker":"AVGO","weburl":"https://www.broadcom.com"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '36'
      X-Ratelimit-Reset:
      - '1689240316'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.finnhub.io/api/v1//stock/profile2?token=ceifakaad3i3rvm4evkgceifakaad3i3rvm4evl0&symbol=CDNS
  response:
    body:
      string: '{"country":"US","currency":"USD","estimateCurrency":"USD","exchange":"NASDAQ
        NMS - GLOBAL MARKET","finnhubIndustry":"Technology","ipo":"1988-06-01","logo":"https://static2.finnhub.io/file/publicdatany/finnhubimage/stock_logo/CDNS.svg","marketCapitalization":63464.47344200001,"name":"Cadence
        Design Systems Inc","phone":"14089431234.0","shareOutstanding":272.684,"ticker":"CDNS","weburl":"https://www.cadence.com/"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '35'
      X-Ratelimit-Reset:
      - '1689240316'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.finnhub.io/api/v1//stock/profile2?token=ceifakaad3i3rvm4evkgceifakaad3i3rvm4evl0&symbol=CHTR
  response:
    body:
      string: '{"country":"US","currency":"USD","estimateCurrency":"USD","exchange":"NASDAQ
        NMS - GLOBAL MARKET","finnhubIndustry":"Media","ipo":"2009-12-02","logo":"https://static2.finnhub.io/file/publicdatany/finnhubimage/stock_logo/CHTR.svg","marketCapitalization":54501.11321299999,"name":"Charter
        Communications Inc","phone":"17818487100.0","shareOutstanding":142.405,"ticker":"CHTR","weburl":"https://corporate.charter.com/"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '34'
      X-Ratelimit-Reset:
      - '1689240316'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.finnhub.io/api/v1//stock/profile2?token=ceifakaad3i3rvm4evkgceifakaad3i3rvm4evl0&symbol=CTAS
  response:
    body:
      string: '{"country":"US","currency":"USD","estimateCurrency":"USD","exchange":"NASDAQ
        NMS - GLOBAL MARKET","finnhubIndustry":"Commercial Services \u0026 Supplies","ipo":"1983-01-01","logo":"https://static2.finnhub.io/file/publicdatany/finnhubimage/stock_logo/CTAS.svg","marketCapitalization":50144.07377,"name":"Cintas
        Corp","phone":"15134591200.0","shareOutstanding":101.702,"ticker":"CTAS","weburl":"https://www.cintas.com/"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '33'
      X-Ratelimit-Reset:
      - '1689240316'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.finnhub.io/api/v1//stock/profile2?token=ceifakaad3i3rvm4evkgceifakaad3i3rvm4evl0&symbol=CSCO
  response:
    body:
      string: '{"country":"US","currency":"USD","estimateCurrency":"USD","exchange":"NASDAQ
        NMS - GLOBAL MARKET","finnhubIndustry":"Communications","ipo":"1990-02-16","logo":"https://static2.finnhub.io/file/publicdatany/finnhubimage/stock_logo/950800186156.svg","marketCapitalization":206768.467499,"name":"Cisco
        Systems Inc","phone":"14085264000.0","shareOutstanding":4075.06,"ticker":"CSCO","weburl":"https://www.cisco.com/"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '32'
      X-Ratelimit-Reset:
      - '1689240316'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.finnhub.io/api/v1//stock/profile2?token=ceifakaad3i3rvm4evkgceifakaad3i3rvm4evl0&symbol=CTSH
  response:
    body:
      string: '{"country":"US","currency":"USD","estimateCurrency":"USD","exchange":"NASDAQ
[...]
