interactions:
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://paper-api.alpaca.markets/v2/orders?status=all&limit=500
  response:
    body:
      string: '[{"id":"8aafa592-4559-4ae9-8354-2e4bff60c89c","client_order_id":"389cd4c5-c3c4-483f-8dba-d079083576c6","created_at":"2023-07-14T13:33:48.613783481Z","updated_at":"2023-07-14T13:33:48.620200781Z","submitted_at":"2023-07-14T13:33:48.611885321Z","filled_at":"2023-07-14T13:33:48.618685358Z","expired_at":null,"canceled_at":null,"failed_at":null,"replaced_at":null,"replaced_by":null,"replaces":null,"asset_id":"8ccae427-5dd0-45b3-b5fe-7ba5e422c766","symbol":"TSLA","asset_class":"us_equity","notional":"2","qty":null,"filled_qty":"0.007216308","filled_avg_price":"277.15","order_class":"","order_type":"market","type":"market","side":"buy","time_in_force":"day","limit_price":null,"stop_price":null,"status":"filled","extended_hours":false,"legs":null,"trail_percent":null,"trail_price":null,"hwm":null,"subtag":null,"source":null},{"id":"5ca2597d-779e-4ff2-8867-cd9d646acea1","client_order_id":"04a45e51-d5f8-4925-a815-25feb8f08aa2","created_at":"2023-07-14T13:33:48.198263768Z","updated_at":"2023-07-14T13:33:48.204521338Z","submitted_at":"2023-07-14T13:33:48.196496889Z","filled_at":"2023-07-14T13:33:48.203183984Z","expired_at":null,"canceled_at":null,"failed_at":null,"replaced_at":null,"replaced_by":null,"replaces":null,"asset_id":"b6d1aa75-5c9c-4353-a305-9e2caa1925ab","symbol":"MSFT","asset_class":"us_equity","notion[...]
