interactions:
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://paper-api.alpaca.markets/v2/assets/AAPL
  response:
    body:
      string: '{"id":"b0b6dd9d-8b9b-48a9-ba46-b9d54906e415","class":"us_equity","exchange":"NASDAQ","symbol":"AAPL","name":"Apple
        Inc. Common Stock","status":"active","tradable":true,"marginable":true,"maintenance_margin_requirement":30,"shortable":true,"easy_to_borrow":true,"fractionable":true,"attributes":[]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '200'
      X-Ratelimit-Remaining:
      - '199'
      X-Ratelimit-Reset:
      - '1689002103'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v10/finance/quoteSummary/AAPL?modules=assetProfile&formatted=false&lang=en-US&region=US&corsDomain=finance.yahoo.com
  response:
    body:
      string: '{"quoteSummary":{"result":[{"assetProfile":{"address1":"One Apple Park
        Way","city":"Cupertino","state":"CA","zip":"95014","country":"United States","phone":"408
        996 1010","website":"https://www.apple.com","industry":"Consumer Electronics","industryDisp":"Consumer
        Electronics","sector":"Technology","longBusinessSummary":"Apple Inc. designs,
        manufactures, and markets smartphones, personal computers, tablets, wearables,
        and accessories worldwide. The company offers iPhone, a line of smartphones;
        Mac, a line of personal computers; iPad, a line of multi-purpose tablets;
        and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch,
        Beats products, and HomePod. It also provides AppleCare support and cloud
        services; and operates various platforms, inclu[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v10/finance/quoteSummary/AAPL?modules=defaultKeyStatistics&formatted=false&lang=en-US&region=US&corsDomain=finance.yahoo.com
  response:
    body:
      string: '{"quoteSummary":{"result":[{"defaultKeyStatistics":{"maxAge":1,"priceHint":2,"enterpriseValue":3052891799552,"forwardPE":28.602585,"profitMargins":0.24493,"floatShares":15711872289,"sharesOutstanding":15728700416,"sharesShort":121254451,"sharesShortPriorMonth":109878751,"sharesShortPreviousMonthDate":1684108800,"dateShortInterest":1686787200,"sharesPercentSharesOut":0.0077,"heldPercentInsiders":7.1000005E-4,"heldPercentInstitutions":0.61232,"shortRatio":2.03,"shortPercentOfFloat":0.0077,"beta":1.292349,"impliedSharesOutstanding":15728700416,"category":null,"bookValue":3.953,"priceToBook":47.610676,"fundFamily":null,"legalType":null,"lastFiscalYearEnd":1663977600,"nextFiscalYearEnd":1695513600,"mostRecentQuarter":1680307200,"earningsQuarterlyGrowth":-0.034,"netIncomeToCommon":94321000448,"trailingEps":5.89,"forwardEps":6.58,"pegRatio":4.01,"lastSplitFactor":"4:1","lastSplitDate":1598832000,"enterpriseToRevenue":7.928,"enterpriseToEbitda":24.662,"52WeekChange":31.621456,"SandP52WeekChange":14.127123,"lastDividendValue":0.24,"lastDividendDate":1683849600}}],"error":null}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-yahoo-request-id:
      - 6385ultiao83m
      y-rid:
      - 6385ultiao83m
    status:
      code: 200
      message: OK
version: 1
