interactions:
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://data.alpaca.markets/v2/stocks/bars?start=2023-07-15T15%3A13%3A55.501366Z&end=2023-07-20T14%3A58%3A55.501472Z&timeframe=1Day&adjustment=all&symbols=AAPL%2CAMZN%2CGOOGL%2CMETA%2CNFLX
  response:
    body:
      string: '{"bars":{"AAPL":[{"t":"2023-07-17T04:00:00Z","o":191.9,"h":194.32,"l":191.81,"c":193.99,"v":50565605,"n":604313,"vw":193.300302},{"t":"2023-07-18T04:00:00Z","o":193.35,"h":194.33,"l":192.415,"c":193.73,"v":48353774,"n":544606,"vw":193.381358},{"t":"2023-07-19T04:00:00Z","o":193.1,"h":198.23,"l":192.65,"c":195.1,"v":80336882,"n":774582,"vw":194.921391},{"t":"2023-07-20T04:00:00Z","o":195.09,"h":196.47,"l":193.9501,"c":194.87,"v":20228442,"n":301687,"vw":195.202319}],"AMZN":[{"t":"2023-07-17T04:00:00Z","o":134.56,"h":135.62,"l":133.21,"c":133.56,"v":48487530,"n":464828,"vw":133.85005},{"t":"2023-07-18T04:00:00Z","o":132.71,"h":133.86,"l":131.355,"c":132.83,"v":54969033,"n":474706,"vw":132.663658},{"t":"2023-07-19T04:00:00Z","o":133.39,"h":135.99,"l":132.53,"c":135.36,"v":54454066,"n":485483,"vw":135.010836},{"t":"2023-07-20T04:00:00Z","o":134.07,"h":134.7915,"l":131.89,"c":132.345,"v":17953655,"n":199364,"vw":133.278281}],"GOOGL":[{"t":"2023-07-17T04:00:00Z","o":125.94,"h":127.0999,"l":124.195,"c":124.65,"v":25734225,"n":294227,"vw":125.021484},{"t":"2023-07-18T04:00:00Z","o":124.6,"h":124.68,"l":122.96,"c":123.76,"v":26226447,"n":291915,"vw":123.676984},{"t":"2023-07-19T04:00:00Z","o":124.6,"h":125.18,"l":121.8,"c":122.03,"v":37125081,"n":389954,"vw":122.885916},{"t":"2023-07-20T04:00:00Z","o":121.42,"h":124.09,"l":120.82,"c":121.14,"v":11365273,"n":151268,"vw":122.291377}],"META":[{"t":"2023-07-17T04:00:00Z","o":307.54,"h":311.71,"l":304.71,"c":310.62,"v":25356891,"n":336736,"vw":308.234832},{"t":"2023-07-18T04:00:00Z","o":310.875,"h":314.2,"l":307.6188,"c":312.05,"v":20789573,"n":292647,"vw":310.960152},{"t":"2023-07-19T04:00:00Z","o":313.03,"h":318.68,"l":310.52,"c":316.01,"v":21715366,"n":326376,"vw":315.117382},{"t":"2023-07-20T04:00:00Z","o":313.5,"h":315.54,"l":306.29,"c":309.0899,"v":7959845,"n":134146,"vw":310.659991}],"NFLX":[{"t":"2023-07-17T04:00:00Z","o":445.57,"h":456.68,"l":445.1053,"c":450.05,"v":6906950,"n":153568,"vw":450.980447},{"t":"2023-07-18T04:00:00Z","o":451,"h":478.15,"l":448.78,"c":474.8,"v":13200260,"n":254502,"vw":466.226528},{"t":"2023-07-19T04:00:00Z","o":476.86,"h":484.95,"l":470,"c":477.59,"v":21073312,"n":424575,"vw":472.23699},{"t":"2023-07-20T04:00:00Z","o":447,"h":448.5,"l":434.15,"c":435.54,"v":11738041,"n":227520,"vw":440.337567}]},"next_page_token":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '200'
      X-Ratelimit-Remaining:
      - '199'
      X-Ratelimit-Reset:
      - '1689866036'
    status:
      code: 200
      message: OK
version: 1
