interactions:
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://paper-api.alpaca.markets/v2/assets/AAPL
  response:
    body:
      string: '{"id":"b0b6dd9d-8b9b-48a9-ba46-b9d54906e415","class":"us_equity","exchange":"NASDAQ","symbol":"AAPL","name":"Apple
        Inc. Common Stock","status":"active","tradable":true,"marginable":true,"maintenance_margin_requirement":30,"shortable":true,"easy_to_borrow":true,"fractionable":true,"attributes":[]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '200'
      X-Ratelimit-Remaining:
      - '197'
      X-Ratelimit-Reset:
      - '1702227980'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.finnhub.io/api/v1//stock/profile2?token=ceifakaad3i3rvm4evkgceifakaad3i3rvm4evl0&symbol=V
  response:
    body:
      string: '{"country":"US","currency":"USD","estimateCurrency":"USD","exchange":"NEW
        YORK STOCK EXCHANGE, INC.","finnhubIndustry":"Financial Services","ipo":"2008-03-25","logo":"https://static2.finnhub.io/file/publicdatany/finnhubimage/stock_logo/V.svg","marketCapitalization":514037.91,"name":"Visa
        Inc","phone":"16504323200","shareOutstanding":2008.24,"ticker":"V","weburl":"https://usa.visa.com/"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '56'
      X-Ratelimit-Reset:
      - '1702228040'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v6/finance/quoteSummary/AAPL?modules=assetProfile&formatted=false&lang=en-US&region=US&corsDomain=finance.yahoo.com
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en-us\">\n  <head>\n    <meta http-equiv=\"content-type\"
        content=\"text/html; charset=UTF-8\">\n    <meta charset=\"utf-8\">\n    <title>Yahoo</title>\n
        \   <meta name=\"viewport\" content=\"width=device-width,initial-scale=1,minimal-ui\">\n
        \   <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge,chrome=1\">\n    <style>\n
        \     html {\n          height: 100%;\n      }\n      body {\n          background:
        #fafafc url(https://s.yimg.com/nn/img/sad-panda-201402200631.png) 50% 50%;\n
        \         background-size: cover;\n          height: 100%;\n          text-align:
        center;\n          font: 300 18px \"helvetica neue\", helvetica, verdana,
        tahoma, arial, sans-serif;\n          margin: 0;\n      }\n      table {\n
        \         height: 100%;\n          width: 100%;\n          table-layout: fixed;\n
        \         border-collapse: collapse;\n          border-spacing: 0;\n          border:
        none;\n      }\n      h1 {\n          font-size: 42px;\n          font-weight:
        400;\n          color: #400090;\n      }\n      p {\n          color: #1A1A1A;\n
        \     }\n      #message-1 {\n          font-weight: bold;\n          margin:
        0;\n      }\n      #message-2 {\n          display: inline-block;\n          *display:
        inline;\n          zoom: 1;\n          max-width: 17em;\n          _width:
        17em;\n      }\n      </style>\n      <script>\n      \n      </script>\n
        \ </head>\n  <body>\n  <!-- status code : 404 -->\n  <!-- Could not process
        this request -->\n  <!-- host machine: media-router-api7005.prod.media.ir2.yahoo.com
        -->\n  <!-- timestamp: 1702227980.919 -->\n  <!-- url: https://query2.finance.yahoo.com/v6/finance/quoteSummary/AAPL?modules=assetProfile&formatted=false&lang=en-US&region=US&corsDomain=finance.yahoo.com-->\n
        \ <script type=\"text/javascript\">\n    function buildUrl(url, parame[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v6/finance/quoteSummary/TSLA?modules=assetProfile&formatted=false&lang=en-US&region=US&corsDomain=finance.yahoo.com
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en-us\">\n  <head>\n    <meta http-equiv=\"content-type\"
        content=\"text/html; charset=UTF-8\">\n    <meta charset=\"utf-8\">\n    <title>Yahoo</title>\n
        \   <meta name=\"viewport\" content=\"width=device[...]
