interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v6/finance/quoteSummary/INVLIDTICKER?modules=assetProfile&formatted=false&lang=en-US&region=US&corsDomain=finance.yahoo.com
  response:
    body:
      string: '{"quoteSummary":{"result":null,"error":{"code":"Not Found","description":"Quote
        not found for ticker symbol: INVLIDTICKER"}}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-yahoo-request-id:
      - 6fpp379iba3ac
      y-rid:
      - 6fpp379iba3ac
    status:
      code: 404
      message: Not Found
version: 1
