interactions:
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://paper-api.alpaca.markets/v2/assets/AAPL
  response:
    body:
      string: '{"id":"b0b6dd9d-8b9b-48a9-ba46-b9d54906e415","class":"us_equity","exchange":"NASDAQ","symbol":"AAPL","name":"Apple
        Inc. Common Stock","status":"active","tradable":true,"marginable":true,"maintenance_margin_requirement":30,"shortable":true,"easy_to_borrow":true,"fractionable":true,"attributes":[]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '200'
      X-Ratelimit-Remaining:
      - '199'
      X-Ratelimit-Reset:
      - '1689857420'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.finnhub.io/api/v1//stock/profile2?token=ceifakaad3i3rvm4evkgceifakaad3i3rvm4evl0&symbol=AAPL
  response:
    body:
      string: '{"country":"US","currency":"USD","estimateCurrency":"USD","exchange":"NASDAQ
        NMS - GLOBAL MARKET","finnhubIndustry":"Technology","ipo":"1980-12-12","logo":"https://static2.finnhub.io/file/publicdatany/finnhubimage/stock_logo/AAPL.svg","marketCapitalization":3068669.885161,"name":"Apple
        Inc","phone":"14089961010.0","shareOutstanding":15728.7,"ticker":"AAPL","weburl":"https://www.apple.com/"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Reset:
      - '1689857481'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v6/finance/quoteSummary/AAPL?modules=assetProfile&formatted=false&lang=en-US&region=US&corsDomain=finance.yahoo.com
  response:
    body:
      string: '{"quoteSummary":{"result":[{"assetProfile":{"address1":"One Apple Park
        Way","city":"Cupertino","state":"CA","zip":"95014","country":"United States","phone":"408
        996 1010","website":"https://www.apple.com","industry":"Consumer Electronics","industryDisp":"Consumer
        Electronics","sector":"Technology","longBusinessSummary":"Apple Inc. designs,
        manufactures, and markets smartphones, personal computers, tablets, wearables,
        and accessories worldwide. The company offers iPhone, a line of smartphones;
        Mac, a line of personal computers; iPad, a line of multi-purpose tablets;
        and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch,
        Beats products, and HomePod. It also provides AppleCare support and cloud
        services; and operates various platforms, inclu[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v6/finance/quoteSummary/AAPL?modules=defaultKeyStatistics&formatted=false&lang=en-US&region=US&corsDomain=finance.yahoo.com
  response:
    body:
      string: '{"quoteSummary":{"result":[{"defaultKeyStatistics":{"maxAge":1,"priceHint":{"raw":2,"fmt":"2","longFmt":"2"},"enterpriseValue":{"raw":3100864413696,"fmt":"3.1T","longFmt":"3,100,864,413,696"},"forwardPE":{"raw":29.605463,"fmt":"29.61"},"profitMargins":{"raw":0.24493,"fmt":"24.49%"},"floatShares":{"raw":15711872289,"fmt":"15.71B","longFmt":"15,711,872,289"},"sharesOutstanding":{"raw":15728700416,"fmt":"15.73B","longFmt":"15,728,700,416"},"sharesShort":{"raw":117870227,"fmt":"117.87M","longFmt":"117,870,227"},"sharesShortPriorMonth":{"raw":117654782,"fmt":"117.65M","longFmt":"117,654,782"},"sharesShortPreviousMonthDate":{"raw":1685491200,"fmt":"2023-05-31"},"dateShortInterest":{"raw":1688083200,"fmt":"2023-06-30"},"sharesPercentSharesOut":{"raw":0.0075,"fmt":"0.75%"},"heldPercentInsiders":{"raw":7.1000005E-4,"fmt":"0.07%"},"heldPercentInstitutions":{"raw":0.61232,"fmt":"61.23%"},"shortRatio":{"raw":1.87,"fmt":"1.87"},"shortPercentOfFloat":{"raw":0.0075,"fmt":"0.75%"},"beta":{"raw":1.292349,"fmt":"1.29"},"impliedSharesOutstanding":{"raw":15728700416,"fmt":"15.73B","longFmt":"15,728,700,416"},"morningStarOverallRating":{},"morningStarRiskRating":{},"category":null,"bookValue":{"raw":3.953,"fmt":"3.95"},"priceToBook":{"raw":49.35492,"fmt":"49.35"},"annualReportExpenseRatio":{},"ytdReturn":{},"beta3Year":{},"totalAssets":{},"yield":{},"fundFamily":null,"fundInceptionDate":{},"legalType":null,"threeYearAverageReturn":{},"fiveYearAverageReturn":{},"priceToSalesTrailing12Months":{},"lastFiscalYearEnd":{"raw":1663977600,"fmt":"2022-09-24"},"nextFiscalYearEnd":{"raw":1695513600,"fmt":"2023-09-24"},"mostRecentQuarter":{"raw":1680307200,"fmt":"2023-04-01"},"earningsQuarterlyGrowth":{"raw":-0.034,"fmt":"-3.40%"},"revenueQuarterlyGrowth":{},"netIncomeToCommon":{"raw":94321000448,"fmt":"94.32B","longFmt":"94,321,000,448"},"trailingEps":{"raw":5.92,"fmt":"5.92"},"forwardEps":{"raw":6.59,"fmt":"6.59"},"pegRatio":{"raw":4.1,"fmt":"4.10"},"lastSplitFactor":"4:1","lastSplitDate":{"raw":1598832000,"fmt":"2020-08-31"},"enterpriseToRevenue":{"raw":8.052,"fmt":"8.05"},"enterpriseToEbitda":{"raw":25.05,"fmt":"25.05"},"52WeekChange":{"raw":25.58738,"fmt":"2,558.74%"},"SandP52WeekChange":{"raw":14.172972,"fmt":"1,417.30%"},"lastDividendValue":{"raw":0.24,"fmt":"0.24"},"lastDividendDate":{"raw":1683849600,"fmt":"2023-05-12"},"lastCapGain":{},"annualHoldingsTurnover":{}}}],"error":null}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-yahoo-request-id:
      - 5sgb94libibcd
      y-rid:
      - 5sgb94libibcd
    status:
      code: 200
      message: OK
version: 1
