interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.finnhub.io/api/v1//stock/profile2?token=ceifakaad3i3rvm4evkgceifakaad3i3rvm4evl0&symbol=AAPL
  response:
    body:
      string: '{"country":"US","currency":"USD","estimateCurrency":"USD","exchange":"NASDAQ
        NMS - GLOBAL MARKET","finnhubIndustry":"Technology","ipo":"1980-12-12","logo":"https://static2.finnhub.io/file/publicdatany/finnhubimage/stock_logo/AAPL.svg","marketCapitalization":3043829.09,"name":"Apple
        Inc","phone":"14089961010","shareOutstanding":15552.75,"ticker":"AAPL","weburl":"https://www.apple.com/"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Reset:
      - '1702227656'
    status:
      code: 200
      message: OK
version: 1
