interactions:
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://paper-api.alpaca.markets/v2/account/portfolio/history?timeframe=1D
  response:
    body:
      string: '{"timestamp":[1699491600,1699578000,1699664400,1699923600,1700010000,1700096400,1700182800,1700269200,1700528400,1700614800,1700701200,1700874000,1701133200,1701219600,1701306000,1701392400,1701478800,1701738000,1701824400,1701910800,1701997200,1702083600],"equity":[100639.400000,100644.100000,100684.520000,100729.250000,100872.110000,100939.120000,100919.460000,100931.430000,101006.470000,101049.810000,101059.810000,101118.060000,101061.140000,101124.890000,101084.600000,101195.610000,101293.910000,101292.320000,101299.670000,101277.240000,101321.920000,101341.400000],"profit_loss":[5.740000,4.700000,40.420000,44.730000,142.860000,67.010000,-19.660000,11.970000,75.040000,43.340000,10.000000,58.250000,-56.920000,63.750000,-40.290000,111.010000,98.300000,-1.590000,7.350000,-22.430000,44.680000,19.480000],"profit_loss_pct":[0.000100,0.000000,0.000400,0.000400,0.001400,0.000700,-0.000200,0.000100,0.000700,0.000400,0.000100,0.000600,-0.000600,0.000600,-0.000400,0.001100,0.001000,0.000000,0.000100,-0.000200,0.000400,0.000200],"base_value":100633.660000,"base_value_asof":"2023-11-07","timeframe":"1D"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Portfolio-History-Engine-Version:
      - v2
      X-Ratelimit-Limit:
      - '200'
      X-Ratelimit-Remaining:
      - '199'
      X-Ratelimit-Reset:
      - '1702227988'
    status:
      code: 200
      message: OK
version: 1
