interactions:
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://paper-api.alpaca.markets/v2/account
  response:
    body:
      string: '{"id":"fbcb14b0-2a8e-464e-a346-166ece0c2b05","admin_configurations":{"Configurations":{}},"user_configurations":null,"account_number":"PA3MA33J4Q3S","status":"ACTIVE","crypto_status":"ACTIVE","currency":"USD","buying_power":"199636.7569255622738","regt_buying_power":"199636.7569255622738","daytrading_buying_power":"0","effective_buying_power":"199636.7569255622738","non_marginable_buying_power":"99634.36","bod_dtbp":"0","cash":"99634.36","accrued_fees":"0","pending_transfer_in":"0","portfolio_value":"100002.3969255622738","pattern_day_trader":false,"trading_blocked":false,"transfers_blocked":false,"account_blocked":false,"created_at":"2023-07-13T11:47:55.059574Z","trade_suspended_by_user":false,"multiplier":"2","shorting_enabled":true,"equity":"100002.3969255622738","last_equity":"100001.34469033105","long_market_value":"368.0369255622738","short_market_value":"0","position_market_value":"368.0369255622738","initial_margin":"184.0184627811369","maintenance_margin":"110.41107766868214","last_maintenance_margin":"110.1","sma":"0","daytrade_count":0,"balance_asof":"2023-07-13","crypto_tier":1}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '200'
      X-Ratelimit-Remaining:
      - '198'
      X-Ratelimit-Reset:
      - '1689341627'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"symbol": "AAPL", "notional": 5.0, "side": "buy", "type": "market", "time_in_force":
      "day"}'
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
      Content-Type:
      - application/json
    method: POST
    uri: https://paper-api.alpaca.markets/v2/orders
  response:
    body:
      string: '{"id":"d5880f19-33a7-45ad-a2d4-61ad3a95d8b5","client_order_id":"9946cb7e-58e6-474f-b2e4-0663a5078afb","created_at":"2023-07-14T13:33:47.779668716Z","updated_at":"2023-07-14T13:33:47.779708866Z","submitted_at":"2023-07-14T13:33:47.777828846Z","filled_at":null,"expired_at":null,"canceled_at":null,"failed_at":null,"replaced_at":null,"replaced_by":null,"replaces":null,"asset_id":"b0b6dd9d-8b9b-48a9-ba46-b9d54906e415","symbol":"AAPL","asset_class":"us_equity","notional":"5","qty":null,"filled_qty":"0","filled_avg_price":null,"order_class":"","order_type":"market","type":"market","side":"buy","time_in_force":"day","limit_price":null,"stop_price":null,"status":"pending_new","extended_hours":false,"legs":null,"trail_percent":null,"trail_price":null,"hwm":null,"subtag":null,"source":null}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '200'
      X-Ratelimit-Remaining:
      - '197'
      X-Ratelimit-Reset:
      - '1689341628'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"symbol": "TSLA", "notional": 2.0, "side": "buy", "type": "market", "time_in_force":
      "day"}'
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
      Content-Type:
      - application/json
    method: POST
    uri: https://paper-api.alpaca.markets/v2/orders
  response:
    body:
      string: '{"id":"8aafa592-4559-4ae9-8354-2e4bff60c89c","client_order_id":"389cd4c5-c3c4-483f-8dba-d079083576c6","created_at":"2023-07-14T13:33:48.613783481Z","updated_at":"2023-07-14T13:33:48.613814871Z","submitted_at":"2023-07-14T13:33:48.611885321Z","filled_at":null,"expired_at":null,"canceled_at":null,"failed_at":null,"replaced_at":null,"replaced_by":null,"replaces":null,"asset_id":"8ccae427-5dd0-45b3-b5fe-7ba5e422c766","symbol":"TSLA","asset_class":"us_equity","notional":"2","qty":null,"filled_qty":"0","filled_avg_price":null,"order_class":"","order_type":"market","type":"market","side":"buy","time_in_force":"day","limit_price":null,"stop_price":null,"status":"pending_new","extended_hours":false,"legs":null,"trail_percent":null,"trail_price":null,"hwm":null,"subtag":null,"source":null}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '200'
      X-Ratelimit-Remaining:
      - '196'
      X-Ratelimit-Reset:
      - '1689341629'
    status:
      code: 200
      message: OK
version: 1
